<script src="/Js/plugins/layer-v1.8.5/layer.min.js" type="text/javascript"></script>
<script src="/Js/jquery.cookie.js" type="text/javascript"></script>
<link href="/Js/plugins/layer-v1.8.5/skin/layer.css" type="text/css" rel="stylesheet"/>
	<!--左侧菜单-->
        <li class="fl">
            <ul id="Huifold1" class="Huifold clearfloat">
                <li class="item clearfloat"  style="border-bottom:1px solid #e5e5e5;">
                   <h4 class="#if (${myAccount})selected#end"><span class="fl mt2"><img src="/Images/zhzl.png"></span><span class="fl ml5">我的账户</span><b>#if (${myAccount})-#else+#end</b></h4>
                    <ul class="info" style="display:${myAccount}">
                        <li class="clearfloat"><a href="/account/myAccount/accountOverview" class="$accountOverview"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">账户总览</span></a></li>
                        <li class="clearfloat"><a href="/account/myAccount/basicInformation" class="$basicInformation"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">基本信息</span></a></li>
                        <li class="clearfloat"><a href="javascript:;"  onclick="Subapp('3')" class="$bindAccount"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">绑定账户</span></a></li>
                        <li class="clearfloat"><a href="javascript:;"  onclick="Subapp('4')" class="$recharge"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">充值</span></a></li>
                        <li class="clearfloat"><a href="javascript:;" onclick="Subapp('5')" class="$withdrawCash"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">提现</span></a></li>
                        <li class="clearfloat"><a href="javascript:;" onclick="Subapp('6')" class="$cashSerial"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">资金流水</span></a></li>
                        <li class="clearfloat"><a href="/account/myLoan/creditApply"  class="$creditApply"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">授信申请</span></a></li>
                    </ul>
                </li>
                #if($!user.userType.type!=2)
                <li class="item clearfloat"  style="border-bottom:1px solid #e5e5e5;">
                   <h4 class="#if (${myInvest})selected#end"><span class="fl mt2"><img src="/Images/wdtz.png"></span><span class="fl ml5">我的投资</span><b>#if (${myInvest})-#else+#end</b></h4>
                    <ul class="info" style="display:${myInvest};">                         
                    	<li class="clearfloat"><a href="javascript:;" onclick="Subapp('7')" class="$investRecord"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">投资项目</span></a></li>                        
                    	<li class="clearfloat"><a href="javascript:;" onclick="Subapp('8')" class="$investClaim"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">我的债权</span></a></li>
						<li class="clearfloat"><a href="javascript:;" onclick="Subapp('9')" class="$investRefund"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">回款计划</span></a></li>
                        <li class="clearfloat"><a href="javascript:;" onclick="Subapp('10')" class="$investCount"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">投资统计</span></a></li>
                        <li class="clearfloat"><a href="javascript:;" onclick="Subapp('11')" class="$investAuto"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">自动投标</span></a></li>
                    </ul>
                </li>
                #end
                <li class="item clearfloat"  style="border-bottom:1px solid #e5e5e5;">
                   <h4 class="#if (${myLoan})selected#end"><span class="fl mt2"><img src="/Images/wdjk.png"></span><span class="fl ml5">我的借款</span><span class="fl ml5"><b>#if (${myLoan})-#else+#end</b></span></h4>
                    <ul class="info" style="display:${myLoan};">
                        <li class="clearfloat"><a href="javascript:;"  onclick="Subapp('12')" class="$myloan"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">我的借款</span></a></li>
                        <li class="clearfloat"><a href="javascript:;"  onclick="Subapp('13')" class="$repayPlan"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">还款计划</span></a></li>
                        <li class="clearfloat"><a href="javascript:;"  onclick="Subapp('14')" class="$loanList"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">借款统计</span></a></li>
                    </ul>
                </li>
                <li class="item clearfloat"  style="border-bottom:1px solid #e5e5e5;">
                   <h4 class="#if (${myAward})selected#end"><span class="fl mt2"><img src="/Images/jlgl.png"></span><span class="fl ml5">奖励管理</span><b>#if (${myAward})-#else+#end</b></h4>
                    <ul class="info" style="display:${myAward};">
                        <li class="clearfloat"><a href="/account/myAward/inviteAward"  class="$inviteAward"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">邀请奖励</span></a></li>
                        <li class="clearfloat"><a href="/account/myAward/myRedPaper"  class="$myRedPaper"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">我的红包</span></a></li>
                        <li class="clearfloat"><a href="/account/myAward/myCredits"  class="$myCredits"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">我的积分</span></a></li>
                    </ul>
                </li>
                <li class="item clearfloat">
                   <h4 class="#if (${mySetting})selected#end"><span class="fl mt2"><img src="/Images/jbsz.png"></span><span class="fl ml5">基本设置</span><b>#if (${mySetting})-#else+#end</b></h4>
                    <ul class="info" style="display:${mySetting};">
                        <li class="clearfloat"><a href="/account/mySetting/customerInfo" class="$customerInfo"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">客户资料</span></a></li>
                        <li class="clearfloat"><a href="/account/mySetting/platformLetter" class="$platformLetter"><span class="fl"><img src="/Images/diandian.png" class="vmiddle"></span><span class="fl ml5">站内信箱</span></a></li>
                    </ul>
                </li>
            </ul>
        </li> 
   <!--左侧菜单 end-->
<script type="text/javascript">
	function Subapp(id){
		$.ajax({
			type:"POST",
			async:false,
		    data:{"id":id},
		    url:"/Verification/json/CheckMoneyMoreMore.json",
		    success:function(data){
		    	if(data.success){
		    		if(id=='1'){
		    			window.location.href="/account/myAccount/accountOverview";
		    		}else if(id=='2'){
		    			window.location.href="/account/myAccount/basicInformation";
		    		}else if(id=='3'){
		    			window.location.href="/account/myAccount/bindAccount";
		    		}else if(id=='4'){
		    			window.location.href="/account/myAccount/recharge";
		    		}else if(id=='5'){
		    			window.location.href="/account/myAccount/withdrawCash?Type=SQTX";
		    		}else if(id=='6'){
		    			window.location.href="/account/myAccount/cashSerial?cashType=SZMX";
		    		}else if(id=='7'){
		    			window.location.href="/account/myInvest/investRecord?investType=HKZ";
		    		}else if(id=='8'){
		    			window.location.href="/account/myInvest/investClaim?type=HKZ";
		    		}else if(id=='9'){
		    			window.location.href="/account/myInvest/investRefund";
		    		}else if(id=='10'){
		    			window.location.href="/account/myInvest/investCount";
		    		}else if(id=='11'){
		    			window.location.href="/account/myInvest/investAuto";
		    		}else if(id=='12'){
		    			window.location.href="/account/myLoan/myloan";
		    		}else if(id=='13'){
		    			window.location.href="/account/myLoan/repayPlan";
		    		}else if(id=='14'){
		    			window.location.href="/account/myLoan/loanList";
		    		}else if(id=='15'){
		    			window.location.href="/account/myLoan/creditApply";
		    		}else if(id=='16'){
		    			window.location.href="/account/myAccount/withdrawCash?Type=YHKGL";
		    		}
		    	}else{
		    		layer.alert(data.message, 2, function(){
		    			window.location.href=data.redirectUrl;
		    		});
		    	}
		    }
		});
	}
</script>