<div id="wrap">
    <form id="Colyn">
        <table class="grid removeMinwidth" id="org">
            <tbody>
                <tr>
                    <td class="leftTD">奖励主题：</td>
                    <td class="rightTD">
                        <input type="text" class="text-input w120 easyui-validatebox" data-options="required:true" name="" value="">
                    </td>
                    <td class="leftTD">奖励金额：</td>
                    <td class="rightTD">
                        <input type="text" class="text-input easyui-validatebox w130" data-options="required:true,validType:'Money'" name="" id="" />每人：元 
                    </td>
                </tr>
                <tr>
                    <td class="leftTD">有效使用日期：</td>
                    <td class="rightTD">
                        <input type="text" class="text-input easyui-datebox easyui-validatebox w130" data-options="required:true,validType:'Date'" name="add_date" id="" />
                    </td>
                    <td class="leftTD">使用范围：</td>
                    <td class="rightTD">
                        <input type="checkbox" name="" id="" />新手专享区<input type="checkbox" name="" id="" />月息通
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
