<div id="layout">
    <div class="SearchForm" id="SearchForm">
        <form>
            <fieldset>
                <legend class="ml10">信息查询</legend>
                <div class="clearfloat search-wrap">
                    <ul class="fl search-width">
                        <li>
                            <span>奖励主题：</span>
                            <span>
                                <input type="text" name="redTheme" class="text-input ipt-w80" _method="Contains"/></span>
                        </li>
                        <li>
                            <span>发放日期：</span>
                            <span>
                                <input type="text" class="text-input easyui-datetimebox" data-options="required:true" name="redSendtimeStart"  _method="GreaterThanOrEqual" id="sys_start_date"/>
                                至
                                <input type="text" class="text-input easyui-datetimebox" data-options="validType:['ValueLessThan[\'sys_start_date\',\'发放日期\',\'\']']" name="redSendtimeEnd" _method="LessThanOrEqual"/>
                            </span>
                        </li>
                        <li></li>
                        <li>
                            <span>到期日期：</span>
                            <span>
                                <input type="text" class="text-input easyui-datetimebox" data-options="required:false" name="redClosetimeStart" _method="GreaterThanOrEqual" id="sys_end_date"/>
                                至
                                <input type="text" class="text-input easyui-datetimebox" data-options="validType:['ValueLessThan[\'sys_end_date\',\'到期日期\',\'\']']" name="redClosetimeEnd" _method="LessThanOrEqual"/>
                            </span>
                        </li>
                    </ul>
                    <div class="fl search-div">
                        <a class="btns btns-primary wheight " href="#" id="Search">搜索</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="toolbar">
        <a id="Add" style="float: left" href="javascript:;" plain="true" class="easyui-linkbutton l-btn l-btn-plain" title="添加项目奖励" btnid="57" group="">
            <span class="l-btn-text icon-add l-btn-icon-left">添加个人奖励</span>
        </a>
        #*
        <a id="LookUp" style="float: left" href="javascript:;" plain="true" class="easyui-linkbutton l-btn l-btn-plain" title="查看" btnid="57" group="">
            <span class="l-btn-text icon-zoom l-btn-icon-left">查看</span>
        </a>
        *#
    </div>
    <table id="PersonalRewardListGrid" toolbar="#toolbar" class="GridView regionTable"></table>
</div>
<script type="text/javascript" src="/Js/redrewardmanage/PersonalRewardListView.js"></script>
<script type="text/javascript" src="/Js/P2PUC/UCCustomer.js"></script>
