<?xml version="1.0" encoding= "UTF-8"?>
<configuration>

    <!-- 控制台日志 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%p [%c] %L - [%m] %n</pattern>
        </encoder>
    </appender>

    <!--  异步控制台 -->
    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
    </appender>


    <logger name="org.springframework">
        <level value="ERROR"/>
    </logger>

    <logger name="org.hibernate">
        <level value="error"/>
    </logger>
    <logger name="org.hibernate.engine.transaction.internal.jdbc.JdbcTransaction">
        <level value="debug"/>
    </logger>

    <logger name="druid.sql.Statement">
        <level value="DEBUG"/>
    </logger>


    <root level="debug">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </root>
</configuration>
