<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="新华久久贷，P2P理财，新华P2P，安徽新华，安徽网贷平台，互联网金融，普惠金融，债权转让，网上投资" />
<meta name="description" content="新华久久贷是由安徽新华金融集团搭建的P2P服务平台，新华久久贷以稳健的风控和专业的团队，为投资者提供年化收益高达8%-12%的网上理财服务。100起投、低门槛、高收益、100%保本保息、投资1000元7天后便可进行债券转让。国内领先的互联网金融投资理财平台，为有贷款等需求的借款人和有理财需求的出借人搭建了一个“诚信、规范、安全、稳健”的网络平台，践行新时代下的“普惠金融”。新华品牌、值得信赖。客服电话:4009999737" />
<title>新华久久贷--您身边的理财   可信赖的网贷。</title>
<script src="/Js/jquery1.8.3.js" type="text/javascript"></script>
<script src="/Js/plugins/layer-v1.8.5/layer.min.js" type="text/javascript"></script>
<script src="/Js/jquery.cookie.js" type="text/javascript"></script>
<script src="/Js/superslide.2.1.js" type="text/javascript"></script>
<script src="/Js/pic.js" type="text/javascript"></script>
<script src="/Js/jquery.knob.js" type="text/javascript"></script><!--圆圈百分比-->
<!-- <script type="text/javascript" src="/Js/iealert.js"></script>判断浏览器 -->
<link href="/Css/comment.css" type="text/css" rel="stylesheet"/>
<link href="/Css/c-style.css" type="text/css" rel="stylesheet" />
<link href="/Css/j-index.css" type="text/css" rel="stylesheet"/>
<!-- <link rel="stylesheet" type="text/css" href="/Css/iealert.css"/>判断浏览器 -->
 <style>
			#j-demo {
				background: #FFF;
				overflow:hidden;
				height:200px;
				}
			#j-indemo {
				height: 800%;
				}
			#j-demo1 {
			}
			#j-demo2 {
			}


        </style>

</head>
<body>
$screen_placeholder
</body>
</html>
