<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->

<script>
function getTime(time) {
	var day = parseInt(time / (3600*24));
    var hour = parseInt((time-(day*24*3600))/3600);
    var minute =parseInt((time-(day*24*3600)- (hour * 3600)) / 60);
    var seconds = parseInt(time-(day*24*3600)- (hour * 3600)- (minute * 60));
    return hour + day * 24 + "时" + minute + "分" + seconds + "秒";
}
var timer = setInterval(function() {
	
	if($('.downtime .time').length == 0) {
		clearInterval(timer);
	}
	
	$('.downtime .time').each(function() {
		var time = $(this).attr('data-time') - 1;
		if(time == 0) {
			$(this).parent('div').prev('a').show();
			$(this).parent('div').remove();
			return true;
		}
		$(this).attr('data-time', time);
		$(this).html(getTime(time));
	});
}, 1000);
</script>
   
<div class="w1000 clearfloat">
	<div class="mt10"><a href="/index/index">首页</a>><a href="/account/myAccount/accountOverview">我的账户</a>><a href="/account/myAccount/accountOverview">账户总览</a></div>
    <ul class="clearfloat mt10">
	<!--左侧菜单-->
		#set ($accountOverview="blue")
   		#set ($myAccount="block")
		$control.setTemplate("common/accountLeft.vm")
   <!--左侧菜单 end-->
   
   <!--右侧菜单-->
        <li class="fr">
        	<!--jibenxinxi-->
        	<ul class="xx clearfloat pb10">
            	<li class="fl tc mt15 ml15">
            	    #if($!user.userHeadImg)
                   		#set($img=$!user.userHeadImg)
                   	#else
                   		#set($img="/Images/touxiang.png")
                   	#end
                	<div><img src=$!img  height="100px" width="100px"></div>          
                    <div><a href="/account/myAccount/basicInformation" class="blue">[更换头像]</a></div>
                </li>
                <li class="fl ml20 mt15">
                	<ul class="clearfloat">
                    	<li>用户名：$!user.userName</li>
                        <li class="clearfloat mt15">
	                        <span class="fl">认证：</span>
	                        #if($!user.userType == 1)
                       		<span class="fl"><a title="身份证" href="/account/myAccount/basicInformation"><img src="#if($!{user.userDocNo} && $!{user.userDocNo}!='')/Images/rz1.png#else/Images/rz1-gray.png#end"></a></span>
                       		#elseif($!user.userType == 2)
                       		<span class="fl"><a title="营业执照" href="/account/myAccount/basicInformation"><img src="/Images/rz1.png"></a></span>
                       		#end
                       		<span class="fl ml5"><a title="手机" href="/account/myAccount/basicInformation"><img src="#if($!{user.userPhone} && $!{user.userPhone}!='')/Images/rz2.png#else/Images/rz2-gray.png#end"></a></span>
                       		<span class="fl ml5"><a title="邮箱" href="/account/myAccount/basicInformation"><img src="#if($!{user.userEmail} && $!{user.userEmail}!='')/Images/rz3.png#else/Images/rz3-gray.png#end"></a></span>
                       		<span class="fl ml5"><a title="银行卡" href="javascript:;" onclick="Subapp('16');"><img src="#if($!{user.userBankcardIsbinded} && $!{user.userBankcardIsbinded}==1)/Images/rz4.png#else/Images/rz4-gray.png#end"></a></span>
                       	</li>
                        <li class="clearfloat mt15">
                            <div class="fl">资料完整度：</div>
                            <div class="status-container fl" style="position:relative;">
                                <div class="clearfloat jd mt2">
                                	 #if($!user.userType == 1)
                                    	<div class="wjindu fl mt5"><div class="njindu" style="width:$!{completed}%;"></div></div>
                                   		<span>&nbsp;&nbsp;$!{completed}%&nbsp;</span>
                                	 #elseif($!user.userType == 2)
                                	 	<div class="wjindu fl mt5"><div class="njindu" style="width:100%;"></div></div>
                                   		<span>&nbsp;&nbsp;100%&nbsp;</span>
                                	 #end
                                </div>
                            </div>
                            <div class="fl ml5"><a href="/account/myAccount/basicInformation" class="blue">[提升]</a></div>
                        </li>
                        <li class="clearfloat mt15"><span class="fl">会员积分:</span><span class="fl"><span class="blue">
                        #if($!{user.userScore}) $!{user.userScore} #else 0 #end</span>分</span><span class="fl ml20 fs12 mt2"><a href="/account/myAward/myCredits" class="blue">[积分折现]</a></span><span class="fl ml20 fs12 mt2"><a href="javascript:;"  onclick="checklink();" class="blue">[银行卡管理]</a></span></li>
                    </ul>
                </li>
                <li class="fl ml50 pl25 mt20" style="border-left:1px solid #e0e0e0;">
                	<div class="ml5"><a href="/account/mySetting/platformLetter">站内信</a></div>
                    <div class="mt15"><a href="/account/mySetting/platformLetter"><img src="/Images/xin.png"></a></div>
                    <div class="xin-bg ml5 mt10"><a href="/account/mySetting/platformLetter" class="yellow">$!MessageCount</a></div>
                </li>
                <li class="fl ml80 mt30">
                	<div class="chongzhi-anniu"><a href="javascript:;" onclick="Subapp('4')">充值</a></div>
                    <div class="touzi-anniu mt30"><a href="javascript:;" onclick="Subapp('5')">提现</a></div>
                </li>
            </ul>
            <!--jibenxinxi end-->
            <div class="xx clearfloat mt25 pb20">
            <!--zongji-->
                <table class="zl ml15 mt20" cellpadding="0" cellspacing="0">
                	<tr style="color:#8a949c;" class="fs12">
                    	<td align="center">资产总额</td>
                    	<td align="center"></td>
                        <td align="center">可用金额</td>
                        <td align="center"></td>
                        <td align="center">冻结金额</td>
                        <td align="center"></td>
                        <td align="center">待收金额</td>
                        <td align="center"></td>
                        <td align="center">待还金额</td>
                    </tr>
                	<tr class="fs18">
                		#set($totalMoney = $!{accountBacance[1]} + $!{accountBacance[2]} + $!{incomeAndPayMap.incomeMoney} - $!{incomeAndPayMap.payMoney})
                    	<td align="center">$!numberUtil.currency($!totalMoney)</td>
                    	<td align="center">=</td>
                        <td align="center">$!numberUtil.currency($!{accountBacance[1]})</td>
                        <td align="center">+</td>
                        <td align="center">$!numberUtil.currency($!{accountBacance[2]})</td>
                        <td align="center">+</td>
                        <td align="center">$!numberUtil.currency($!{incomeAndPayMap.incomeMoney})</td>
                        <td align="center">-</td>
                        <td align="center">$!numberUtil.currency($!{incomeAndPayMap.payMoney})</td>
                    </tr>
                </table>
                <!--zongji end-->
                <!--zhanxian-->
                <ul class="clearfloat mt25">
                	<li class="fl zhanxian clearfloat ml15" style="width:210px;">
                    	<ul class="zhanxian1 clearfloat">
                        	<li class="clearfloat"><span class="fl ml10 fw-bold">投标概况</span><span class="fr mr10 pl10" style="border-left:1px solid #e5e5e5;">
                        	<img src="/Images/more1.png">
                        	</span></li>
                            <li class="clearfloat fs12 c00 fw-bold"><span class="fl ml10">状态</span><span class="fl ml32">笔数</span><span class="fr mr10">金额</span></li>
                            #set($tenderNum  =  $!tenderoverview.data[0].investNum+$!tenderoverview.data[1].investNum+$!tenderoverview.data[2].investNum)
                            #set($tenderMoney  =  $!tenderoverview.data[0].investMoney+$!tenderoverview.data[1].investMoney+$!tenderoverview.data[2].investMoney)
                            <li class="clearfloat fs12 c00"><span class="fl ml10">回款中</span>
                            	<span class="fl ml20">$!{tenderoverview.data[0].investNum}</span>
                            	<span class="fr mr10">$!{tenderoverview.data[0].investMoney}</span></li>
                            <li class="clearfloat fs12 c00"><span class="fl ml10">投标中</span>
                            	<span class="fl ml20">$!{tenderoverview.data[1].investNum}</span>
                            	<span class="fr mr10">$!{tenderoverview.data[1].investMoney}</span></li>
                            <li class="clearfloat fs12 c00"><span class="fl ml10">已回款</span>
                            	<span class="fl ml20">$!{tenderoverview.data[2].investNum}</span>
                            	<span class="fr mr10">$!{tenderoverview.data[2].investMoney}</span></li>
                            <li class="clearfloat fs12 c00"><span class="fl ml10">总计</span>
                            <span class="fl ml32">$!tenderNum</span><span class="fr mr10">$!tenderMoney</span></li>
                        </ul>
                    </li>
                    <li class="fl zhanxian clearfloat ml15" style="width:210px;">
                    	<ul class="zhanxian1 clearfloat">
                        	<li class="clearfloat"><span class="fl ml10 fw-bold">回款计划</span><span class="fr mr10 pl10" style="border-left:1px solid #e5e5e5;">                       	
                        	<a href="#if($!user.userType!=2) /account/myInvest/investRefund #else javascript:; #end">
                        	<img src="/Images/more1.png"></a></span></li>
                            <li class="clearfloat fs12 c00 fw-bold"><span class="fl ml10">状态</span><span class="fl ml20">笔数</span><span class="fr mr10">金额</span></li>
                            <li class="clearfloat fs12 c00"><span class="fl ml10"><a href="/account/myInvest/investRefund" class="blue">本月</a></span><span class="fl ml20">$!{paymentplan.data[0].investNum}</span><span class="fr mr10">$!{paymentplan.data[0].investMoney}</span></li>
                            <li class="clearfloat fs12 c00"><span class="fl ml10"><a href="/account/myInvest/investRefund" class="blue">下月</a></span><span class="fl ml20">$!{paymentplan.data[1].investNum}</span><span class="fr mr10">$!{paymentplan.data[1].investMoney}</span></li>
                            <li class="clearfloat fs12 c00"><span class="fl ml10"><a href="/account/myInvest/investRefund" class="blue">本年</a></span><span class="fl ml20">$!{paymentplan.data[2].investNum}</span><span class="fr mr10">$!{paymentplan.data[2].investMoney}</span></li>
                            <li class="clearfloat fs12 c00"><span class="fl ml10"><a href="/account/myInvest/investRefund" class="blue">总计</a></span><span class="fl ml20">$!{paymentplan.data[3].investNum}</span><span class="fr mr10">$!{paymentplan.data[3].investMoney}</span></li>
                        </ul>
                    </li>
                    <li class="fr zhanxian clearfloat mr15" style="width:320px;height:204px;">
                    	<ul class="zhanxian1 clearfloat">
                        	<li class="clearfloat"><span class="fl ml10 fw-bold">最近交易</span><span class="fr mr10 pl10" style="border-left:1px solid #e5e5e5;"><a href="/account/myAccount/cashSerial?cashType=SZMX"><img src="/Images/more1.png"></a></span></li>
                            <li class="clearfloat fs12 c00 fw-bold"><span class="fl ml10">时间</span><span class="fl" style="margin-left:114px;">类型</span><span class="fr mr10">金额</span></li>
                            #foreach( $!{result} in $!{recentdeal.data} )
                            <li class="clearfloat fs12 c00"><span class="fl ml10">$!dateUtil.formatDate($!result.dealDate,'yyyy-MM-dd HH:mm:ss')</a></span>
                            <span class="fl ml20">
                            #if($!{result.dealType}==0)
                            投资
                            #elseif($!{result.dealType}==1)
                            撤投
                            #elseif($!{result.dealType}==2 && $!{result.drPayAccount} == $!{accountNo} && !$!{result.drReceiveAccount.startsWith("p")})
                            投资
                            #elseif($!{result.dealType}==2 && $!{result.drPayAccount} == $!{accountNo} && $!{result.drReceiveAccount.startsWith("p")})
                           手续费
                            #elseif($!{result.dealType}==2 && $!{result.drReceiveAccount} == $!{accountNo})
                        		#if($!{result.detailType}==13)
                        			转让
                        		#else
                        			借款
                        		#end
                            #elseif($!{result.dealType}==3 && $!{result.drPayAccount} == $!{accountNo})
                            还款
                            #elseif($!{result.dealType}==3 && $!{result.drReceiveAccount} == $!{accountNo})
                            收款
                            #elseif($!{result.dealType}==4)
                            充值
                            #elseif($!{result.dealType}==5)
                            提现
                            #elseif($!{result.dealType}==6)
                            退款
                            #elseif($!{result.dealType}==7)
                            收购
                            #elseif($!{result.dealType}==8)
                            流标
                            #else
                            $!{result.dealType}
                            #end
                            </span>
                            <span class="fr mr10 yellow">
                            ##2、资金划转  3、还款  4、充值  5、提现
                                            #if($!{result.dealType}==4)
                                            $!{result.dealMoney}
                                            #elseif($!{result.dealType}==5)
                                            -$!{result.dealMoney}
                                            #elseif($!{result.dealType}==2 && $!{result.drPayAccount} == $!{accountNo})
                                            -$!{result.dealMoney}
                                            #elseif($!{result.dealType}==2 && $!{result.drReceiveAccount} == $!{accountNo})
                                            $!{result.dealMoney}
                                            #elseif($!{result.dealType}==3 && $!{result.drPayAccount} == $!{accountNo})
                                            -$!{result.dealMoney}
                                            #elseif($!{result.dealType}==3 && $!{result.drReceiveAccount} == $!{accountNo})
                                            $!{result.dealMoney}
                                            #end
                            </span></li>
                            #end
                        </ul>
                    </li>
                </ul>
                <!--zhanxin end-->
                <!--liebiao-->
                <div class="clearfloat mt20"><span class="fl ml15 fw-bold c00 pl10" style="border-left:3px solid #2a88d8;">投资推荐</span><span class="fr"><a href="/invest/investList" class="blue mr15">查看更多</a></span></div>
                <table class="table ml15 mt10" cellpadding="0" cellspacing="0" border="0" width="770">
                    <thead>
                        <tr>
                            <td align="left" style="text-align: left;">项目标题</td>
                            <td align="center">金额(元)</td>
                            <td align="center">年利率</td>
                            <td align="center">期限</td>
                            <td align="center">还款方式</td>
                            <td align="center">进度</td>
                            <td align="center"></td>
                        </tr>
                    </thead>
                    <tbody>
                     #foreach($loan in $loanList)
                        <tr>
                            <td align="left" style="text-align: left;">
			                 #if($!loan.loanCategory.category==1)               
			                 <img src="/Images/c-tzlist-xin.png" class="vmiddle mr5" />
			                #elseif($!loan.loanCategory.category==2)
			                	<img src="/Images/c-tzlist-di.png" class="vmiddle mr5" />
			                #elseif($!loan.loanCategory.category==3)
			                	<img src="/Images/c-tzlist-dan.png" class="vmiddle mr5" />
			                #elseif($!loan.loanCategory.category==4)
			                	<img src="/Images/c-tzlist-zong.png" class="vmiddle mr5" />
			                #end     
                            <a href="/invest/investDetail?loanId = $!loan.loanId & flagLoan=1" title="$!loan.loanNo">
                            #if($!stringUtil.length($!loan.loanNo)>15)
                				$!stringUtil.substring($!loan.loanNo, 0,15)...
               				#else
                				$!loan.loanNo
               				#end
                            </a></td>
                            <td class="fs24" align="center">$!numberUtil.format('##,###', $!loan.loanMoney)</td>
                            <td align="center">$!loan.loanRate %</td>
                            <td align="center">$!{loan.loanPeriod}$!{loan.loanPeriodUnit.prompt}</td>
                            <td align="center">$!loan.loanPayType.getPrompt()</td>
                            #set($state=$loan.loanState.state)
                            #if($state==10||$state==11||$state==14||$state==15)
                              #set ($percent = 100)
                            #else
                            	#set ($percent = $!loanListPercent.get($!loan.loanId))
                            #end
<!--                 			<td class="c-progressbar" style="line-height:80px;" align="center"><span>$!percent.intValue()</span>%</td> -->
							<td align="left"  width="15%" style="text-align:left;">
								<div class="ml10 fs12" style="height:20px;">$!percent.intValue()%</div>
								<div class="ajinsud ml10"><span class="ajinsud-a"  style="width:$!percent.intValue()%;" ></span></div>	
                			</td>
                        <!--     <td>
                                <div class="status-container" style="position:relative;">
                                    <div style="display:inline;width:35px;height:35px;">
                                        <input value="50" class="knob hide" data-displayprevious="true" data-linecap="round" data-fgcolor="#ff2100" data-displayinput="false" data-fontweight="normal" data-thickness=".2" data-readonly="true" data-width="35" data-height="35" style="display: none; width: 0px; visibility: hidden;" readonly>
                                    </div>
                                    <div style="position:absolute;width:35px;height:35px;top:0;left:10px;text-align:center;line-height:35px"> <span style="font-size:12px; color:#9ea9b0;">50</span><small class="muted" style="font-size:12px; color:#9ea9b0;" >$!percent%</small>
                                    </div>
                                </div>
                            </td> -->
<!--                             <td class="yellow-anniu fs12" align="center"><a href="/invest/investDetail?loanId = $!loan.loanId & flagLoan=1">立即投资</a></td> -->
							## 推荐投资状态判断
							
							#set($duarStartTime = $!duarStartTimeMap.get($!loan.loanId) / 1000)
							
			                #if($!loan.loanState.state == 9)
			                	#if($!duarEndTimeMap.get($!loan.loanId) >= 0)
			                		<td align="center" class="yellow-anniu fs12"><a href="javascript:void(0);" style="background-color: #cccccc;">已过期</a></td>
			                	#elseif($duarStartTime > 0)
			                		<td align="center" class="yellow-anniu fs12">
			                			<a href="/invest/investDetail?loanId = $!loan.loanId & flagLoan=1" style="display:none;">立即投资</a>
			                			<div class="downtime" href="javascript:void(0);" style="line-height:130%;width:86px;">
			                				<p style="color:#000;font-weight:bold;">开标倒计时</p>
			                				<p class="time" style="font-size:12px;" data-time="$!duarStartTime">
												<script>
													document.write(getTime($!duarStartTime));
												</script>
			                				</p>
			                			</div>
			                		</td>
			                	#else
			                		<td align="center" width="15%" class="yellow-anniu fs12"><a href="/invest/investDetail?loanId = $!loan.loanId & flagLoan=1">立即投资</a></td>                
			                	#end
			                #else
			                 	<td align="center"  width="15%" class="yellow-anniu fs12"><a href="javascript:void(0);" style="background-color: #cccccc;">$!loan.loanState.prompt</a></td>
							#end
                        </tr>
                      #end                 
                    </tbody>
                </table>
                <!--liebiao end-->
            </div>
        </li>
   <!--右侧菜单 end-->
   </ul>
</div>
<script type="text/javascript">
        $(function() {
            $('.c-progressbar').each(function(index, el) {
                var num = $(this).find('span').text();
                $(this).addClass('c-progressbar-' + num);
            });
        });	
  </script>
<script>
	$(function(){
		Huifold("#Huifold1 .item h4","#Huifold1 .item .info","fast",2,"click");	
	})
</script>

<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
$control.setTemplate("common/customservice.vm")
<script src="/Js/index.js"></script>
<script src="/Js/home.js"></script>
<script type="text/javascript">
//银行卡管理链接
function checklink(){
	$.ajax({
		type:"POST",
		async:false,
	    data:{"id":"5"},
	    url:"/Verification/json/CheckMoneyMoreMore.json",
	    success:function(data){
	    	if(data.success){
	    			window.location.href="/account/myAccount/withdrawCash?Type=YHKGL";
	    	}else{
	    		layer.alert(data.message,2,function(){
		    		window.location.href=data.redirectUrl;
		    		});
	   			 }
	    	}
	    });
}


</script>

