<form id="form1" name="form1" action="$!{paramsMap.SubmitURL}" method="post">
		<input id="MoneymoremoreId" name="MoneymoremoreId" value="$!{paramsMap.MoneymoremoreId}" type="hidden" />
		<br/>
		<input id="PlatformMoneymoremore" name="PlatformMoneymoremore" value="$!{paramsMap.PlatformMoneymoremore}" type="hidden" />
		<br/>
		<input id="AuthorizeTypeOpen" name="AuthorizeTypeOpen" value="$!{paramsMap.AuthorizeTypeOpen}" type="hidden" />
		<br/>
		<input id="Remark1" name="Remark1" value="$!{paramsMap.Remark1}" type="hidden" />
		<br/>
		<input id="ReturnURL" name="ReturnURL" value="$!{paramsMap.ReturnURL}" type="hidden" />
		<br/>
		<input id="NotifyURL" name="NotifyURL" value="$!{paramsMap.NotifyURL}" type="hidden" />
		<br/>
		<input id="SignInfo" name="SignInfo" value="$!{paramsMap.SignInfo}" type="hidden" />
		<br/>
<!-- 		<input  value="tijiao" type="submit" /> -->
	</form>
<script type="text/javascript">
window.onload=function(){document.form1.submit();}
</script>