<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->

<div class="w1000 clearfloat">
	<div class="mt10"><a href="/index/index">首页</a>><a href="/account/myAccount/accountOverview">我的账户</a>><a href="/account/myAccount/cashSerial?cashType=SZMX">资金流水</a></div>
    <ul class="clearfloat mt10">
    
	<!--左侧菜单-->
#set ($cashSerial="blue")
#set ($myAccount="block")
$control.setTemplate("common/accountLeft.vm")
   <!--左侧菜单 end-->
   <script>
	$(function(){
		Huifold("#Huifold1 .item h4","#Huifold1 .item .info","fast",2,"click");	
	})
</script>
  
   <!--右侧菜单-->
   <form action="/account/myAccount/cashSerial"  id="pageForm" method="post" >
   		<input name="cashType" type="hidden" value="$!cashType"/>
   		<input name="period" type="hidden" value="$!period"/>
   		
        <li class="fr">
        	<div class="xx clearfloat pb10">
            <!--biaotii-->
            <div class="title-items ml15">
            <h2>资金流水</h2>
            <ul class="r tabs-title clearfloat  ls-nav">
               <li class="fl"><a href="/account/myAccount/cashSerial?cashType=SZMX"  class='#if($!cashType=="SZMX")active#end'>收支明细</a></li>
               <li class="fl ml5"><a href="/account/myAccount/cashSerial?cashType=CZJL" class='#if($!cashType=="CZJL")active#end'>充值记录</a></li>
               <li class="fl ml5"><a href="/account/myAccount/cashSerial?cashType=TXJL" class='#if($!cashType=="TXJL")active#end'>提现记录</a></li>
            </ul>
            <b data-line="一条横线" class="line"></b>
            </div>
            <!--biaoti end-->
                <!--shaixuan-->
                    <ul class="clearfloat shaixuan-biankuang ml15 mt10">
                        <li class="clearfloat">
                            <div class="fl pt3">交易日期</div>
                            <div class="shaixuan fl ml10"><input class="shaixuan-input" type="text" id="startDate" name="startDate" value="$!startDate" placeholder="开始时间"  style="color: #999"
                            onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'whyGreen'})" ></div>
                            <div class="fl ml10">-</div>
                            <div class="shaixuan fl ml10"><input class="shaixuan-input" type="text" id="endDate" name="endDate" value="$!endDate" placeholder="结束时间"  style="color: #999"
                            onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',skin:'whyGreen'})" ></div>
                            <div class="sousuo-current fl ml10"><a href="javascript:;" onclick="searchByTime();">搜索</a></div>
                            <div class="fl clearfloat ml10">
                                <span class="fl riqi-anniu #if($!{period}==0)riqi-current#end"><a href="javascript:sub(0);">最近7天</a></span>
                                <span class="fl riqi-anniu ml10 #if($!{period}==1)riqi-current#end"><a href="javascript:sub(1);">1个月</a></span>
                                <span class="fl riqi-anniu ml10 #if($!{period}==2)riqi-current#end"><a href="javascript:sub(2);">2个月</a></span>
                                <span class="fl riqi-anniu ml10 #if($!{period}==3)riqi-current#end"><a href="javascript:sub(3);">3个月</a></span>
                            </div>
                        </li>
                    </ul>
                <!--shaixuan end-->
                <div class="_con">
                    <!--1-->
                     #if($!cashType=="SZMX")  
                	<input type="hidden" id="cashType" name="cashType" value="SZMX"/>
                        <div class="dk_nei">
                            <!--biaoge-->
                                <table class="table ml15 mt25" cellpadding="0" cellspacing="0" width="770">
                                    <thead>
                                        <tr>
                                            <td width="15%">交易日期</td>
                                            <td width="20%">交易订单号</td>
                                            <td width="15%">交易金额</td>
                                            <td width="10%">交易对方</td>
                                            <td width="10%">交易类型</td>
                                            <td width="10%">状态</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                   		#foreach( $!{result} in $!{pagebean.recordList} )
                                        <tr>
                                            <td>$!dateUtil.formatDate($!{result.drOperateDate},'yyyy-MM-dd HH:mm:ss')</td>
                                            <td 
                                            ##投资、借款
	                                            #if(($!{result.drType}==2 && !$!{result.drReceiveAccount.startsWith("p")}) ||
	                                            	($!{result.drType}==3 ))
	                                            	  title="$!{result.drOutSeqNo}"
	                                            #else
	                                            	 title="$!{result.drInnerSeqNo}"
	                                            #end	
                                            >
                                             #if($!{result.drState}==0)
	                                            $!stringUtil.substring($!{result.drInnerSeqNo},0,15)...
	                                            #else
                                            <span 
                                             ##投资、借款 12表示平台服务费
	                                            #if(($!{result.drType}==2 && $!{result.drPayAccount} == $!{payAccount} && !$!{result.drReceiveAccount.startsWith("p")} && $!{result.drDetailType}!=12 ) ||
	                                            	($!{result.drType}==2 && $!{result.drReceiveAccount} == $!{payAccount}))
	                                            	 onclick="ordernoSzmx('$!{result.drOutSeqNo}','','1')" 
	                                            #elseif($!{result.drType}==3)
	                                            	onclick="ordernoSzmx('$!{result.drOutSeqNo}','','2')" 
	                                            #else
	                                            	onclick="orderno('$!{result.drInnerSeqNo}','')" 
	                                            #end	 
                                            	style="cursor:pointer;text-decoration: underline" 
	                                            onMouseOver="this.style.color='#8E6235';" 
	                                            onMouseOut="this.style.color='#666';">
	                                            ##投资、借款
	                                            #if(($!{result.drType}==2 && !$!{result.drReceiveAccount.startsWith("p")} && $!{result.drDetailType}!=12 ) ||
	                                            	($!{result.drType}==3))
	                                            	 $!stringUtil.substring($!{result.drOutSeqNo},0,15)...
	                                            #else
	                                            	$!stringUtil.substring($!{result.drInnerSeqNo},0,15)...
	                                            #end	                                            
	                                            </span>
                                            #end
                                            </td>
                                            <td>
                                            ##2、资金划转  3、还款  4、充值  5、提现
                                            #if($!{result.drType}==4)
                                            $!{result.drMoneyAmount}
                                            #elseif($!{result.drType}==5)
                                            -$!{result.drMoneyAmount}
                                            #elseif($!{result.drType}==2 && $!{result.drPayAccount} == $!{payAccount})
                                            -$!{result.drMoneyAmount}
                                            #elseif($!{result.drType}==2 && $!{result.drReceiveAccount} == $!{payAccount})
                                            $!{result.drMoneyAmount}
                                            #elseif($!{result.drType}==3 && $!{result.drPayAccount} == $!{payAccount})
                                            -$!{result.drMoneyAmount}
                                            #elseif($!{result.drType}==3 && $!{result.drReceiveAccount} == $!{payAccount})
                                            $!{result.drMoneyAmount}
                                            #end
                                            元</td>                                           
                                            <td>
                                             ##交易对方
                                             #if(($!{result.drType}==2 && $!{result.drReceiveAccount} == $!{payAccount})
                                              || ($!{result.drType}==3 && $!{result.drReceiveAccount} == $!{payAccount}))  ##借款、收款
                                             	$!{result.drPayAccount}
                                         	 #else
                                         	 	$!{result.drReceiveAccount}
                                         	 #end
                                            </td>
                                            <td>
                                            #if($!{result.drType}==1)
                                            撤投
                                            #elseif($!{result.drType}==2 && $!{result.drPayAccount} == $!{payAccount} && !$!{result.drReceiveAccount.startsWith("p")} && $!{result.drDetailType}!=12)
                                            投资
                                            #elseif($!{result.drType}==2 && $!{result.drPayAccount} == $!{payAccount} && !$!{result.drReceiveAccount.startsWith("p")} && $!{result.drDetailType}==12)
                                            担保服务费
                                            #elseif($!{result.drType}==2 && $!{result.drPayAccount} == $!{payAccount} && $!{result.drReceiveAccount.startsWith("p")})
                                            手续费
                                            #elseif($!{result.drType}==2 && $!{result.drReceiveAccount} == $!{payAccount})
	                                            #if($!{result.drDetailType}==13)
				                        			转让
				                        		#else
				                        			借款
				                        		#end
                                            #elseif($!{result.drType}==3 && $!{result.drPayAccount} == $!{payAccount})
                                            还款
                                            #elseif($!{result.drType}==3 && $!{result.drReceiveAccount} == $!{payAccount})
                                            收款
                                            #elseif($!{result.drType}==4)
                                            充值
                                            #elseif($!{result.drType}==5)
                                            提现
                                            #elseif($!{result.drType}==6)
                                            退款
                                            #elseif($!{result.drType}==7)
                                            收购
                                            #elseif($!{result.drType}==8)
                                            流标
                                            #end
											</td>
                                            <td>
                                            #if($!{result.drState}==0)
                                            进行中
                                            #elseif($!{result.drState}==1)
                                            成功
                                            #else
                                            失败
                                            #end
                                            </td>
                                        </tr>
                                        #end
                                	</tbody>
                                </table>
                            <!--biaoge end-->
                        </div>
                        #end
                    <!--1 end-->
                    
                    <!--2-->
                    #if($!cashType=="CZJL")  
                        <div class="dk_nei">
                        <input type="hidden" id="cashType" name="cashType" value="CZJL"/>
                            <!--biaoge-->
                                <table class="table ml15 mt25" cellpadding="0" cellspacing="0" width="770">
                                    <thead>
                                        <tr>
                                            <td width="20%">交易日期</td>
                                            <td width="20%">交易订单号</td>
                                            <td width="20%">充值金额</td>
                                            <td width="10%">交易类型</td>
                                            <td width="10%">状态</td>
<!--                                             <td>交易订单号</td> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                   		#foreach( $!{result} in $!{pagebean.recordList} )
	                                   		<tr>
	                                            <td width="20%">$!dateUtil.formatDate($!{result.rechargeDate},'yyyy-MM-dd HH:mm:ss')</td>
	                                            <td width="20%" title="$!{result.rechargeSeqNo}">
	                                            #if($!{result.rechargeState}==0)
	                                            $!stringUtil.substring($!{result.rechargeSeqNo},0,15)...
	                                            #else
	                                            <span onclick="orderno('$!{result.rechargeSeqNo}','1');" style="cursor:pointer;text-decoration: underline" 
	                                            onMouseOver="this.style.color='#8E6235';" 
	                                            onMouseOut="this.style.color='#666';">$!stringUtil.substring($!{result.rechargeSeqNo},0,15)...</span>
	                                            #end
	                                            </td>
	                                            <td width="20%">$!{result.rechargeAmount}元</td>
	                                            <td width="10%">充值</td>
	                                            <td width="10%">
		                                            #if($!{result.rechargeState}==0)
		                                            进行中
		                                            #elseif($!{result.rechargeState}==1)
		                                            成功
		                                            #else
		                                            失败
		                                            #end
	                                            </td>
<!-- 	                                            <td>$!{result.rechargeSeqNo}</td> -->
	                                        </tr>
										#end
                                   	</tbody>
                                </table>
                            <!--biaoge end-->
                        </div>
                        #end
                    <!--2 end-->
                    
                    <!--3-->
                    #if($!cashType=="TXJL")  
                        <div class="dk_nei" >
                          <input type="hidden"  id="cashType" name="cashType" value="TXJL"/>
                            <!--biaoge-->
                                <table class="table ml15 mt25" cellpadding="0" cellspacing="0" width="770">
                                    <thead>
                                        <tr>
                                            <td width="20%">交易日期</td>
                                            <td width="20%">交易订单号</td>
                                            <td width="20%">提现金额</td>
                                            <td width="10%">交易类型</td>
                                            <td width="10%">状态</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                   		#foreach( $!{result} in $!{pagebean.recordList} )
	                                   		<tr>
	                                            <td width="20%">$!dateUtil.formatDate($!{result.tocashDate},'yyyy-MM-dd HH:mm:ss')</td>
	                                            <td width="20%" title="$!{result.tocashSeqNo}">
	                                            #if($!{result.tocashState}==0)
	                                            $!stringUtil.substring($!{result.tocashSeqNo},0,15)...
	                                            #else
	                                            <span onclick="orderno('$!{result.tocashSeqNo}','2');" style="cursor:pointer;text-decoration: underline" 
	                                            onMouseOver="this.style.color='#8E6235';" 
	                                            onMouseOut="this.style.color='#666';">$!stringUtil.substring($!{result.tocashSeqNo},0,15)...</span>
	                                            #end
	                                            </td>
	                                            <td width="20%">$!{result.tocashAmount}元</td>
	                                            <td width="10%">提现</td>
	                                            <td width="10%">
		                                            #if($!{result.tocashState}==0)
		                                           		 进行中
		                                            #elseif($!{result.tocashState}==1)
		                                            	成功
		                                            #else
		                                           		 失败
		                                            #end
	                                            </td>
	                                        </tr>
										#end
                                   	</tbody>
                                </table>
                            <!--biaoge end-->
                        </div>
                        #end
                    <!--3 end-->
                </div>
                #if($!pagebean.recordList.size()>0)
                	<div class="fr mr15 clearfloat mt10"><span class="fl"><img src="/Images/ex.png"></span><span class="fl fs12 mt3"><a href="javascript:;" onclick="expordExcel();">导出到EXCEL</a></span></div>
                #end
                <!---fenye-->
                    <div class="fenye clearfloat mt20">
                        <span class="fenye-bb "  style="width:770px;margin:0 auto;">
                           #parse("fenye.vm") 
                        </span>
                    </div>
                <!--fenye end-->
        </li>
        </form>
   <!--右侧菜单 end-->
   </ul>
</div>

<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
$control.setTemplate("common/customservice.vm")
<script src="/Js/index.js"></script>
<script type="text/javascript">
//充值、提现
function orderno(ooj,obj){
	window.location.href="/account/myAccount/orderNoDetails?OrderNo="+ooj+"&State="+obj+"";
}
//收支明细
function ordernoSzmx(ooj,obj,flag){
	if(flag=="1"){  //投资、借款
		window.location.href="/account/myAccount/orderNoDetails?LoanNo="+ooj+"&State="+obj+"";
	}else if(flag=="2"){ //还款、收款
		window.location.href="/account/myAccount/orderNoDetails?OrderNo="+ooj+"&State="+obj+"";
	}
	
}

function sub(ooj){
	var cashType = $("#cashType").val()
	window.location.href="/account/myAccount/cashSerial?cashType="+cashType+"&period="+ooj+"";
}

function searchByTime(){
	var cashType = $("#cashType").val()
	var startDate = $('#startDate').val();
	var endDate = $('#endDate').val();
	if(startDate.length != 0 && endDate.length != 0)
		if(endDate <= startDate) {
			alert('开始时间不能晚于结束时间，请重新选择。');
			return;
		}
	window.location.href="/account/myAccount/cashSerial?cashType=" + cashType + "&startDate=" + startDate + "&endDate=" + endDate;
}

//导出excel
function expordExcel(){
	$('#pageForm').attr("action","/account/myAccount/json/CashSerialExcel.json");
	$('#pageForm').submit();
	$('#pageForm').attr("action","/account/myAccount/cashSerial");
}
</script>
</body>
</html>
