
<div id="layout">
    <div region="center" title="客户积分明细" iconcls="icon-users" class="regionCenter">
        <div class="SearchForm hideClass" id="SearchForm">
            <form>
                <fieldset>
                    <legend class="ml10">信息查询</legend>
                    <div class="clearfloat search-wrap">
                        <ul class="fl search-width">
                            <li>
                                <span>客户名称：</span>
                                <span>
                                    <input type="text" name="cst_user_name" id="cst_user_name" _method="Contains" class="text-input ipt-w80" /></span>
                            </li>
                            <li>
                                <span>真实姓名：</span>
                                <span>
                                    <input type="text" name="cst_real_name" id="cst_real_name" _method="Contains" class="text-input ipt-w80" /></span>
                            </li>
                        </ul>
                        <div class="fl search-div">
                            <a class="btns btns-primary wheight SearchHide"  id="Search"  href="#">查询</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="toolbar">
            #showButton
        </div>
        <table id="IntegralListGrid" toolbar="#toolbar" class="GridView regionTable"></table>
    </div>
</div>
<script type="text/javascript" src="/Js/score/ScoreListView.js"></script>
