<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>借款申请</title>
<meta name="description" content="网站描述" />
<meta name="keywords" content="网站关键词" />
<script type="text/javascript">
</script>
<script src="/Js/jquery1.8.3.min.js" type="text/javascript"></script>
<!-- <script type="text/javascript" src="/Js/iealert.js"></script>判断浏览器 -->
<script type="text/javascript" src="/Js/Validform_v5.3.2_min.js"></script>
<script src="/Js/plugins/layer-v1.8.5/layer.min.js" type="text/javascript"></script>
<link href="/Js/plugins/layer-v1.8.5/skin/layer.css" type="text/css" rel="stylesheet"/>
<link href="/Css/comment.css" type="text/css" rel="stylesheet" />
<link href="/Css/c-style.css" type="text/css" rel="stylesheet" />
<!-- <link rel="stylesheet" href="/Css/iealert.css">判断浏览器 -->
</head>
<body>
$screen_placeholder
</body>
</html>