<!--首页头部-->
<nav id="nav" class="nav">
	<a class="navbar-brand" style="position:absolute; top:-7px; z-index:12;" href="/account/myAccount/accountOverview"><span class="glyphicon glyphicon-menu-left" style="color:#fff; font-size:25px;" aria-hidden="true"></span></a>
    <div class=" index_suo text-center"><span>邀请好友</span></div>
</nav>
<!--首页头部 end-->

<!--内容-->
<div class="container-fluid" style="background:#eaf1f1">
	<div class="row">
	<div class="list-group">	
    <div class="text-center" style="background:#baedf2"><img src="/images/c-images/haoyou-bg.png" class="img-responsive center-block"></div>    
    </div>
    </div>
    <div class="row">
	<div class="list-group">
    <dl class="c-bg-white c-zh-list c-f28">
        <dd class="clearfix" style="cursor:pointer"  data-toggle="modal" data-target="#myModal1" data-backdrop="static"><span class="pull-left">面对面邀请</span><span class="pull-right">&gt;</span></dd>
        <dd class="clearfix" style="cursor:pointer"  data-toggle="modal" data-target="#myModal12" data-backdrop="static"><span class="pull-left">朋友圈邀请</span><span class="pull-right">&gt;</span></dd>
    </dl>
    </div>
    </div>
    <div class="row">
	<div class="list-group">
    <p class="c-yqhy-shuoming">邀请的好友成功投资后可获得投资金额的<span class="c-red">万分之二的现金</span>回报，直接邀请的好友再次邀请好友且投资后，还可获得<span class="c-red">万分之零点五的现金</span>回报。</p>    
	</div>
    </div>
</div>
<!--内容-->

<!--面对面弹出层-->
<div class="modal myModal" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content" style="overflow:hidden;">
            <div class="modal-body">
            	<p class="text-center c-f28" style="font-size:18px;">关注就送50元</p>
            	<p style="font-size:14px; line-height:30px;color:#999">100元做投资人，关注就送50元！10-15%年化收益，网上理财赚翻天！从此告别死工资，速速关注吧！</p>
                <p class="text-center"><img src="/account/myAward/json/QRCodeJSON.json?shareUrl=$!{inviteString}" class="img-responsive center-block"></p>
                <div class="text-center c-click"><a class="btn-block" href="/account/myAward/InviteAward">好的</a></div>
           </div>
        </div>
    </div>
</div>
<!--面对面弹出层-->

<!--朋友圈弹出层-->
<style>
.modal-dialog{width:90%;}
</style>
<div class="modal myModal" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content" style="overflow:hidden;">
            <div class="modal-body">
            	<p class="text-center c-f28" style="font-size:18px;">分享给好友</p>
                <i><textarea class="c-yqhy-text" id="shareContent" >100元做投资人，注册就送50元！10-15%年化收益，网上理财赚翻天！从此告别死工资，速速注册吧！$!{inviteString}</textarea>
                	<input type="hidden" value="$!{inviteString}"  />
                </i>
                <p style="font-size:14px">点击下面图标可将内容分享给好友。</p>
                <div class="bdsharebuttonbox" data-tag="share_1">
                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center"><a class="bds_sqq" data-cmd="sqq" href="#"></a></div>
                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center"><a class="bds_qzone" data-cmd="qzone" href="#"></a></div>
                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center"><a class="bds_tqq" data-cmd="tqq" href="#"></a></div>
                </div>
                <div class="bdsharebuttonbox" data-tag="share_1">
                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center"><a class="bds_weixin" data-cmd="weixin" href="#"></a></div>
                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center"><a class="bds_tqf" data-cmd="tqf" href="#"></a></div>
                	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center"><a class="bds_tsina" data-cmd="tsina" href="#"></a></div>
                </div>
                <div class="text-center c-click"><a class="btn-block" href="/account/myAward/InviteAward">我知道了</a></div>
           </div>
        </div>
    </div>
</div>
<!--朋友圈弹出层-->
<script type="text/javascript">
	var shareContent = "";
	
	$(function(){
		shareContent = $("#shareContent").val();
		
		window._bd_share_config = {
			common : {
				bdText : shareContent
			},
			share : [{
				"bdSize" : 32
			}]
		}
	});
</script>