<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" /><!--公用样式，包含头尾部-->
<link rel="stylesheet" type="text/css" href="/css/boot_index.css" />
<link id="cssfile" type="text/css" href="/css/skin/skin_0.css" rel="Stylesheet">
<link href="/css/c-style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/loadSkin.js"></script>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<title>新华久久贷</title>
</head>
<body>
$screen_placeholder
</body>
</html>
