<!--首页头部-->
<nav id="nav" class="nav">
	<a class="navbar-brand nabar_color"  href="/account/myAccount/treasure"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
	<div class="clearfix index_suo text-center"><span>快速提现</span><a h class="pull-right mr5" href="/account/myAccount/tixianjilu">提现记录</a> </div>
</nav>
<!--首页头部 end-->
<div class="container bd_top" style="overflow-x:hidden">
    <div class="row mt10 bg_white baifen2">
    	<form action="/account/myAccount/withdrawMoney" method="post" id="fastWithdrawForm" target="_blank">
            <div class="col-sm-12 col-xs-12">
              <input type="hidden" value="1" name="param">
        <ul class="list-unstyled c-us-list pb10 pt10" id="chongzhi">
        	<li class="c-line"><label>真实姓名</label>&nbsp;&nbsp;&nbsp;$!{user.userRealName}&nbsp;</li>
            <li class="c-line"><label>可用提现金额</label>&nbsp;&nbsp;&nbsp;
            $!numberUtil.format('##,##0.00',$!{accountBacance[1]})元
            </li>
            <li class="c-line"><label>免费提现额度</label>&nbsp;&nbsp;&nbsp;
            $!numberUtil.format('##,##0.00',$!{cashQuota})元
            </li>
            <li class="c-line"><label>银行卡号</label>&nbsp;&nbsp;&nbsp;
                 <select id="CardNo" name="CardNo">
                  #foreach( $!{bank} in $!{banklist} )
                  		#if($!{bank.cardStatus}==1)
						<option value="$!{bank.bankNo}">$!{bank.bankNo}</option>
						#end
				  #end
                 </select>
                 </li>
                 <li class="c-line"><label>提现金额</label>
            <input id="fastMoney" type="text"  name="money" value="" placeholder="请输入金额">
            <span id="moneyError" style="display: none"><img src="/Images/error.gif"/><span class="error_msg" style="color:red;font-size:12px;"></span></span>
            </li>
            <p class="bd_save mt25">
            <a onclick="return checkMoney();" style="cursor:pointer;">提现</a>
            </p>
            <li style="color:red;width:90%;margin:auto">本月还剩$!{monthtimes}次，免费提现机会</li>
        </ul>
             </div>
              </form>
    </div>
</div> 
<script>
//校验
function checkMoney(){
	var money = $.trim($("#fastMoney").val());
	var myMoney = $.trim($("#myMoney").val());
	var reg = /^(([0-9]|([1-9][0-9]{0,9}))((\.[0-9]{1,2})?))$/;
	if(money==null || money==""){
		$("#moneyError").css("display","inline");
		$("#moneyError .error_msg").html("提现金额不能为空");
    	return false;
	}else if(!reg.test(money)){
		$("#moneyError").css("display","inline");
		$("#moneyError .error_msg").html("提现金额不合法");
    	return false;
	}else if(parseFloat(money)>parseFloat(myMoney)){
		$("#moneyError").css("display","inline");
		$("#moneyError .error_msg").html("提现金额不能大于有效金额");
    	return false;
	}else if(parseFloat(money)<=1){
		$("#moneyError").css("display","inline");
		$("#moneyError .error_msg").html("提现金额必须大于1元");
    	return false;
	}else{
		$("#moneyError").css("display","none");
	}
    $("#fastWithdrawForm").submit();
}
</script>
