<!--首页头部-->
<nav id="nav" class="nav">
    <div class="clearfix index_suo text-center"><span name="title" id="title">提示</span> </div>
</nav>
<!--首页头部 end-->
<!-- 内容区 -->
<div class="container">
<div class="row">
    <div class="col-sm-12 col-xs-12">
    	<div class="text-center c-chengggong"><img src="/images/c-duihao.png"><span name="test" id="test">操作成功</span></div>
        <a class="c-us-btn1" style="margin-top:30px" href="/account/myAccount/treasure">确定</a>
    </div>
</div>
</div> 


