<script src="/js/vendor/jquery-1.11.2.min.js"></script>
<script>
	window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
</script>
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<!--首页头部-->

<!--首页头部 end-->

<div class="container" style="overflow-x:hidden">
	<div class="row" id="cai-top">
		<img src="/images/zh_bg.png" width="100%" />
		<ul class="list-unstyled clearfix mt20">
			<li class="text-center pull-left"><span class="color_red">累计收益（元）</span>
				<strong class="color_white">￥ $!numberUtil.format('##,##0.00',$!alMoney)</strong></li>
			<li class="text-center pull-left"><span class="color_red">可用金额（元）</span>
				<strong class="color_white">￥ $!numberUtil.format('##,##0.00',$!avlMoney)</strong></li>
			<li class="text-center"></li>
		</ul>
	</div>
	<div class="row bg_white" id="caifu_tab">
		<div class="col-sm-6 col-xs-6 text-center div_cur" id="shouyi">收益</div>
		<div class="col-sm-6 col-xs-6 text-center" id="jilu">记录</div>
	</div>
	<div class="row caifu_des" id="earnings">
		<div class="col-sm-12 col-xs-12">
			<dl class="mt10 bg_white caifu_dl">
				<dd class="clearfix pt10 pb10">
					<span class="caifu_name ml5 mr5">待收金额</span><span
						class="pull-right mr5 caifu_money">￥ $!numberUtil.format('##,##0.00',$!dueMoney)</span>
				</dd>
				<dd class="clearfix pt10 pb10">
					<span class="caifu_name ml5 mr5 ">待收利息</span><span
						class="pull-right mr5 caifu_money">￥ $!numberUtil.format('##,##0.00',$!dueInterest)</span>
				</dd>
				<dd class="clearfix pt10 pb10">
					<span class="caifu_name ml5 mr5 ">累计总收益</span><span
						class="pull-right mr5 caifu_money">￥ $!numberUtil.format('##,##0.00',$!alMoney)</span>
				</dd>
			</dl>
			<dl class="mt10 bg_white caifu_dl">
				<dd class="clearfix pt10 pb10">
					<a href="javascript:;" onclick="recharge()"><span class="caifu_name  ml5 mr5">充值</span><i
						class="caifu_send pull-right glyphicon glyphicon-menu-right mr5"></i>
					</a>
				</dd>
<!-- 				<dd class="clearfix pt10 pb10"> -->
<!-- 					<a href="/account/myAccount/withdrawCashTx"><span class="caifu_name ml5 mr5 ">提现</span><i -->
<!-- 						class="caifu_send pull-right glyphicon glyphicon-menu-right mr5"></i> -->
<!-- 					</a> -->
<!-- 				</dd> -->
				<dd class="clearfix pt10 pb10">
					<a href="javascript:;" onclick="tx()"><span class="caifu_name ml5 mr5 ">申请提现</span><i
						class="caifu_send pull-right glyphicon glyphicon-menu-right mr5"></i>
					</a>
				</dd> 
				#if($!bankSize!=0)
				<dd class="clearfix pt10 pb10">
					<a href="javascript:;" onclick="quickTx()"><span class="caifu_name ml5 mr5 ">快速提现</span><i
						class="caifu_send pull-right glyphicon glyphicon-menu-right mr5"></i>
					</a>
				</dd>
				#end
			</dl>
		</div>

	</div>
	<div class="row caifu_des" style="display: none" id="record">
		<div class="col-sm-12 col-xs-12">
			<p class="text-center mt20">
				截止到当前，您已投资<strong class="color_red">
					#if($!{investCount})
						$!{investCount}
					#else
						0	
					#end
					</strong>笔，共计<strong
					class="color_red">$!numberUtil.format('##,###', $!investMoney)</strong>元
			</p>
			<dl class="mt10 bg_white caifu_dl">
				<dd class="clearfix pt10 pb10">
					<a href="/account/myAccount/personalAccount"><img src="/images/caifu1.png" width="30"
						class="pull-left ml5 mr5" /><span class="caifu_name ">个人账户</span><i
						class="caifu_send pull-right glyphicon glyphicon-menu-right mr5"></i>
					</a>
				</dd>
			</dl>
			<dl class="mt10 bg_white caifu_dl">
				<dd class="clearfix pt10 pb10">
					<a href="/account/myInvest/investRecord"><img src="/images/caifu2.png"
						width="30" class="pull-left ml5 mr5" /><span class="caifu_name ">我的投资</span><i
						class="caifu_send pull-right glyphicon glyphicon-menu-right mr5"></i>
					</a>
				</dd>
				
			</dl>
			<dl class="mt10 bg_white caifu_dl">
				<dd class="clearfix pt10 pb10">
					<a href="/account/myAccount/chongzhijilu"><img src="/images/caifu4.png"
						width="30" class="pull-left ml5 mr5" /><span class="caifu_name ">充值记录</span><i
						class="caifu_send pull-right glyphicon glyphicon-menu-right mr5"></i>
					</a>
				</dd>
				<dd class="clearfix pt10 pb10">
					<a href="/account/myAccount/tixianjilu"><img src="/images/caifu5.png"
						width="30" class="pull-left ml5 mr5" /><span class="caifu_name ">提现记录</span><i
						class="caifu_send pull-right glyphicon glyphicon-menu-right mr5"></i>
					</a>
				</dd>
			</dl>
		</div>
	</div>
	<div class="row pt10 pb10 bg_white">
		<div class="col-xs-3 col-sm-3 text-center">
			<a href="/index/Index"> <img src="/images/ta_cion1.png" width="30" /></a>
		</div>
		<div class="col-xs-3 col-sm-3 text-center">
			<a href="/invest/willInvestment"> <img src="/images/ta_cion2.png"
				width="30" /></a>
		</div>
		<div class="col-xs-3 col-sm-3 text-center">
			<a href="/account/myAccount/treasure"> <img src="/images/ta_cion3_red.png"
				width="30" /></a>
		</div>
		<div class="col-xs-3 col-sm-3 text-center">
			<a href="/account/myAccount/accountOverview"> <img src="/images/ta_cion4.png"
				width="30" /></a>
		</div>
	</div>
</div>

<!-- 内容区 end -->
<script>


	$(function(){
		var title = GetQueryString("record");
			if(title != null && title == 1){
				$("#shouyi").attr("class","col-sm-6 col-xs-6 text-center");
				$("#jilu").attr("class","col-sm-6 col-xs-6 text-center div_cur");
				$("#earnings").css('display','none');
				$("#record").css('display','block'); 
			}
	})
	
	function GetQueryString(name) {
	   var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)","i");
	   var r = window.location.search.substr(1).match(reg);
	   if (r!=null) return (decodeURI(r[2])); return null;
	}
	
	function check(){
		if('$userDO.userBusinessState'=='' || '$userDO.userBusinessState'<2){
			layer.alert("请先开户");
			return false;
		}
		return true;
	}
	
	function tx(){
		if(check()){
			window.location = '/account/myAccount/tx';
		}
	}
	
	function quickTx(){
		if(check()){
			window.location = '/account/myAccount/quickTx';
		}
	}
	
	function recharge(){
		if(check()){
			window.location = '/account/myAccount/recharge';
		}
	}
	
</script>


