<link href="/Css/OA/ControlSelect.css" rel="stylesheet" type="text/css" />
<link href="/Css/Page.css" rel="stylesheet" type="text/css" />
<table cellpadding="2" class="grid">
    <tr>
        <td style="width: 65px">字段名称：</td>
        <td class="rightTDShort">
            <input type="text" id="iptTitle" name="iptTitle" class="ke-inline-block ke-text-input" />
           <!-- <label class="red">*</label>-->
        </td>
    </tr>  
    <tr>
        <td valign="top">选项：</td>
        <td>
            <div style="height: 250px; overflow: scroll">
                <table class="gridSelect" style="width: 100%" cellpadding="3">
                    <thead>
                        <tr>
                            <td style="width: 140px">选项名</td>
                            <td style="width: 70px">选项值</td>
                            <td style="width: 30px">选中</td>
                            <td align="center">
                            <label class="opt" title="添加" onclick="add()">+</label></td>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
</table>
<script type="text/javascript">
    var tbody = document.getElementById("tbody");
    function add(text, val, checked) {
        val = val || getMaxValue();
        text = text || '';
        if (val == '') text == '--请选择--';
        checked = checked || false;
        var row = tbody.insertRow(tbody.rows.length);
        var cell = row.insertCell(0);
        cell.innerHTML = '<input type="text" style="width:120px" name="opttext" class="ke-inline-block ke-text-input" value="' + text + '" />';
        row.appendChild(cell);

        cell = row.insertCell(1);
        cell.innerHTML = '<input type="text" name="optval" class="ke-inline-block ke-text-input" style="width:50px"  value="' + val + '" />';
        row.appendChild(cell);

        cell = row.insertCell(2);
        cell.innerHTML = '<input type="checkbox" name="default" ' + (checked ? 'checked="checked"' : '') + '/>';
        row.appendChild(cell);
        
        cell = row.insertCell(3);
        cell.innerHTML = '<label class="opt" title="删除"  onclick="del(this)">-</label>';
        cell.align = 'center';
        row.appendChild(cell);
    }
    function getMaxValue() {
        var list = tbody.getElementsByTagName("tr");
        if (list.length == 0) return '1';
        var a = 0;
        for (var i = 0; i < list.length; i++) {
            var ipt = list[i].getElementsByTagName("input")[1];
            var b = parseInt(ipt.value);
            if (ipt.value == '') b = 0;
            if (b > a) a = b;
        }
        return a + 1;
    }
    function del(o) {
        tbody.removeChild(o.parentNode.parentNode);
    }
</script>
