<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码5</title>
<meta name="description" content="网站描述" />
<meta name="keywords" content="网站关键词" />
<script type="text/javascript">
var environment = {
	userVo : '',
	role : '',
	userId : '',
	basePath : '',
	userCash : '',
	globalPath : '/',
	userActiveTime : '',
	yoolibaoWhiteListStatus : '',
	yoolibaoOpenStatus : '',
	cerrencyOpenTime : "2014/11/30"//new Date()
};
</script>
<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/Validform_v5.3.2_min.js"></script>
<link href="css/comment.css" type="text/css" rel="stylesheet" />
<link href="css/c-style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<!--header-->
<!--头部统一替换-->
<!--header end-->

<!--content-->
<div class="c-zc c-rad5">
	<ul class="clearfloat c-zhmm-title">
    	<li style="width:12px;" class="fl xian mt10"></li>
        <li class="fl z16 ml5">找回密码</li>
        <li style="width:810px;" class="fl xian mt10 ml5"></li>
    </ul>
    <ul class="c-zjmm-con" style="text-align:center; line-height:28px;">	
        <li class="c-font24 mb15">密码重置成功</li>
        <li class="c-font18">2秒后跳转至登录页面</li>
        <li>立即进入<a class="c-blue" href="denglu.html">登录页面</a></li>
    </ul>
</div>
<!--content end-->

<!--footer-->
<!--尾部统一替换-->
<!--footer end-->
</body>
</html>