<div id="layout">
    <div class="SearchForm hideClass" id="SearchForm">
        <form>
            <fieldset>
                <legend class="ml10">信息查询</legend>
                   <div class="clearfloat search-wrap">
                     <ul class="fl search-width">
                        <li>
                            <span>公司名称：</span>
                            <span>
                                <input type="text" name="ccCompanyName" class="text-input ipt-w100" _method="Contains"/></span>
                        </li>
                        <li>
                            <span>推荐人：</span>
                            <span>
                                <input type="text" name="referees" class="text-input ipt-w95" _method="Contains"/></span>
                        </li>
                        <li>
                            <span>状态：</span>
                            <span>
                                <select class="select-input  ipt-w80" name="userState" _method="Equal" >
                                    <option value ="">全部</option>
                                    <option value="1">已启用</option>
                                    <option value="0">已停用</option>
                                </select>
                            </span>
                        </li>
                    </ul>
                   <div class="fl search-div">
                        <a class="btns btns-primary wheight SearchHide" href="#" id="HiddenSearch">搜索</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="toolbar">
    	 <a id="Add" style="float: left" href="javascript:;" plain="true" class="easyui-linkbutton l-btn l-btn-plain" title="添加" btnid="57" group="">
            <span class="l-btn-text icon-add l-btn-icon-left">添加</span>
        </a>
        <a id="Del" style="float: left" href="javascript:;" plain="true" class="easyui-linkbutton l-btn l-btn-plain" title="删除" btnid="57" group="">
            <span class="l-btn-text icon-cross l-btn-icon-left">删除</span>
        </a>
        <a id="Edit" style="float: left" href="javascript:;" plain="true" class="easyui-linkbutton l-btn l-btn-plain" title="编辑" btnid="57" group="">
            <span class="l-btn-text icon-pencil l-btn-icon-left">编辑</span>
        </a>
        <a id="LookUp" style="float: left" href="javascript:;" plain="true" class="easyui-linkbutton l-btn l-btn-plain" title="查看" btnid="57" group="">
            <span class="l-btn-text icon-zoom l-btn-icon-left">查看</span>
        </a>
        <a id="Enable" style="float: left" href="javascript:;" plain="true" class="easyui-linkbutton l-btn l-btn-plain" title="启用" btnid="57" group="">
            <span class="l-btn-text icon-user_edit l-btn-icon-left">启用</span>
        </a>
         <a id="LockStop" style="float: left" href="javascript:;" plain="true" class="easyui-linkbutton l-btn l-btn-plain" title="停用" btnid="57" group="">
            <span class="l-btn-text icon-lock_stop l-btn-icon-left">停用</span>
        </a>
         <a id="Search" style="float: left" href="javascript:;" plain="true" class="easyui-linkbutton l-btn l-btn-plain" title="搜索" btnid="57" group="">
            <span class="l-btn-text icon-search l-btn-icon-left">搜索</span>
        </a>
    </div>
    <table id="CompanyCustomersListGrid" toolbar="#toolbar" class="GridView regionTable"></table>
</div>
<script type="text/javascript" src="/Js/selfprove/CompanyCustomersListView.js"></script>