<div id="wrap">
    <table cellpadding="0" cellspacing="0" id="rateTable" class="grid removeMinwidth gridBorder0">
        <tbody>
            <tr>
            <td colspan="6" class="lefts">
                <ul>
                    <li class="fl ml10 icon-bi">房产资料</li>
                    <li class="fr mr20"><a href="javascript:;" class="sjtop folding2"></a></li>
                </ul>
                <div class="clear"></div>
            </td>
        </tr>
            <tr>
                <td class="leftTD">房产地址：</td>
                <td class="rightTD">$!userHouse.uhAddress</td>
                <td class="leftTD">建筑面积：</td>
                <td class="rightTD">$!userHouse.uhArea</td>
                <td class="leftTD">供款状况：</td>
                #if($!userHouse.uhPayState=="1")
                <td class="rightTD">有</td>
                #else
                <td class="rightTD">无</td>
                #end
            </tr>
            <tr>
                <td class="leftTD">建筑日期：</td>
                <td class="rightTD">$!userHouse.uhDate</td>
                <td class="leftTD">所有权人1：</td>
                <td class="rightTD">$!userHouse.uhOwnerOne</td>
                <td class="leftTD">产权份额：</td>
                <td class="rightTD">$!userHouse.uhShareOne</td>
            </tr>
            <tr>
                <td class="leftTD">贷款年限：</td>
                <td class="rightTD">$!userHouse.uhLoanPeriod 年</td>
                <td class="leftTD">所有权人2：</td>
                <td class="rightTD">$!userHouse.uhOwnerTwo</td>
                <td class="leftTD">产权份额：</td>
                <td class="rightTD">$!userHouse.uhShareTwo</td>
            </tr>
            <tr>
                <td class="leftTD">每月供款：</td>
                <td class="rightTD">$!userHouse.uhMonthPay</td>
                <td class="leftTD">尚欠贷款余额：</td>
                <td class="rightTD">$!userHouse.uhSettPay</td>
                <td class="leftTD">按揭银行：</td>
                <td class="rightTD">$!userHouse.uhPayBank</td>
            </tr>
        </tbody>
      
    </table>
    <input type="hidden"id="HiddenCinId" value ="$!userHouse.uhId"/>
</div>
