@model Auto.Model.CST_file_prove
<div id="wrap">
    <table cellpadding="0" cellspacing="0" id="rateTable" class="grid removeMinwidth gridBorder0">
        <tbody>
            <tr>
            <td colspan="6" class="lefts">
                <ul>
                    <li class="fl ml10 icon-bi">证明材料</li>
                    <li class="fr mr20"><a href="javascript:;" class="sjtop folding2"></a></li>
                </ul>
                <div class="clear"></div>
            </td>
        </tr>
            <tr>
                <td class="leftTD">客户名称：</td>
                <td class="rightTD"> 
                @if (ViewBag.value.ContainsKey("UserInfo") && ViewBag.value["UserInfo"].Count > 0)
                {
                     @ViewBag.value["UserInfo"][0].cst_user_name
                }</td>
                <td class="leftTD">真实姓名：</td>
                <td class="rightTD">
                     @if (ViewBag.value.ContainsKey("UserInfo") && ViewBag.value["UserInfo"].Count > 0)
                {
                     @ViewBag.value["UserInfo"][0].cst_real_name
                }
                </td>
                <td class="leftTD">认证状态：</td>
                <td class="rightTD">@Auto.BLL.P2PCommonBll.GetStatus(Model.cst_prove_state)</td>
            </tr>
             <tr>
                <td class="leftTD">认证类型：</td>
                <td class="rightTD">@Model.cst_file_type</td>
                <td class="leftTD">认证简介：</td>
                <td class="rightTD" colspan="3">@Model.cst_file_mark</td>
            </tr>
            <tr>
                <td class="leftTD">认证材料：</td>
                <td class="rightTD" colspan="5"><a href="#">@Model.cst_file_url</a></td>
            </tr>
            </tbody>
            <tbody>
            <tr>
                <td colspan="6" class="lefts">
                    <ul>
                        <li class="fl ml10 icon-bi">审核意见</li>
                        <li class="fr mr20"><a href="javascript:;" class="sjtop folding2"></a></li>
                    </ul>
                    <div class="clear"></div>
                </td>
            </tr>
            <tr>
                <td class="leftTD">认证积分：</td>
                <td class="rightTD" colspan="5">@ViewBag.value["ScoreType"][0].sys_score_value</td>
            </tr>
            <tr>
                <td class="leftTD">审核意见：</td>
                 <td class="rightTD" colspan="5">
                    @if (ViewBag.value.ContainsKey("FileProveCheck") && ViewBag.value["FileProveCheck"].Count > 0)
                     {
                    @ViewBag.value["FileProveCheck"][0].cst_check_idear
                       }
                  </td>
                </tr>
        </tbody>
      
    </table>
</div>
