<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->

<!--content-->
<div class="c-jksq-banner"><img src="/Images/c-jksq-banner.jpg" width="100%" height="324"/></div>
<div class="c-jksq-title"><img src="/Images/c-jksq-title.png" /></div>
<div class="c-jksq-liucheng">
	<ul class="w1000 clearfloat">
    	<li>1.注册成为会员</li>
    	<li style="margin-left:120px;">2. 填写个人资料</li>
    	<li style="margin-left:120px;">3. 填写实名认证信息</li>
    	<li style="margin-left:120px;">4. 上传认证资料</li>
    	<li style="margin-left:110px;">5. 发布借款申请</li>
    </ul>
</div>
<div class="c-jksq clearfloat">
    <dl class="fl c-jksq-list">
        <dt class="c-jksq-list-title">信用标</dt>
        <dt>申请条件</dt>
        <dd><span class="c-jksq-aa">对象：</span>全体客户</dd>
        <dd><span class="c-jksq-aa">期限：</span>满标即还</dd>
        <dd><span class="c-jksq-aa">担保机构：</span>久久贷-投资理财信息服务平台</dd>
        <dd><span class="c-jksq-aa">垫付机制：</span>100%本息保障，出现逾期，新华久久贷先行垫付。</dd>
        <dd><span class="c-jksq-aa">计息方式：</span>借款满标审核通过后计算利息。</dd>
        <dd><a class="c-btn c-jksq-btn mt20" onclick="Subapp(1);" href="javascript:;">提交申请</a></dd>
    </dl>
    <dl class="fl c-jksq-list">
        <dt class="c-jksq-list-title">抵押标</dt>
        <dt>申请条件</dt>
        <dd><span class="c-jksq-aa">对象：</span>全体客户</dd>
        <dd><span class="c-jksq-aa">期限：</span>满标即还</dd>
        <dd><span class="c-jksq-aa">担保机构：</span>久久贷-投资理财信息服务平台</dd>
        <dd><span class="c-jksq-aa">垫付机制：</span>100%本息保障，出现逾期，新华久久贷先行垫付。</dd>
        <dd><span class="c-jksq-aa">计息方式：</span>借款满标审核通过后计算利息。</dd>
        <dd><a class="c-btn c-jksq-btn mt20" onclick="Subapp(2);" href="javascript:;">提交申请</a></dd>
    </dl>
</div>
<div class="c-jksq clearfloat">
    <dl class="fl c-jksq-list">
        <dt class="c-jksq-list-title">担保标</dt>
        <dt>申请条件</dt>
        <dd><span class="c-jksq-aa">对象：</span>全体客户</dd>
        <dd><span class="c-jksq-aa">期限：</span>满标即还</dd>
        <dd><span class="c-jksq-aa">担保机构：</span>久久贷-投资理财信息服务平台</dd>
        <dd><span class="c-jksq-aa">垫付机制：</span>100%本息保障，出现逾期，新华久久贷先行垫付。</dd>
        <dd><span class="c-jksq-aa">计息方式：</span>借款满标审核通过后计算利息。</dd>
        <dd><a class="c-btn c-jksq-btn mt20" onclick="Subapp(3);" href="javascript:;">提交申请</a></dd>
    </dl>
    <dl class="fl c-jksq-list">
        <dt class="c-jksq-list-title">综合标</dt>
        <dt>申请条件</dt>
        <dd><span class="c-jksq-aa">对象：</span>全体客户</dd>
        <dd><span class="c-jksq-aa">期限：</span>满标即还</dd>
        <dd><span class="c-jksq-aa">担保机构：</span>久久贷-投资理财信息服务平台</dd>
        <dd><span class="c-jksq-aa">垫付机制：</span>100%本息保障，出现逾期，新华久久贷先行垫付。</dd>
        <dd><span class="c-jksq-aa">计息方式：</span>借款满标审核通过后计算利息。</dd>
        <dd><a class="c-btn c-jksq-btn mt20" onclick="Subapp(4);" href="javascript:;">提交申请</a></dd>
    </dl>
</div>
<!--content end-->
<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
$control.setTemplate("common/customservice.vm")
<script type="text/javascript">
	function Subapp(id){
		$.ajax({
			type:"POST",
			async:false,
		    dataType:'json',
		    url:"/Verification/json/CheckMoneyMoreMore.json",
		    success:function(data){
		    	if(data.success){
// 		    		if(id==1){
// 		    			window.location.href="/apply/pledgeApply";
// 		    		}else if(id==2){
// 		    			window.location.href="/apply/securedApply";
// 		    		}
					window.location.href="/apply/intentApply?catalog="+id;
		    	}else{
		    		layer.alert(data.message,2,function(){
			    		window.location.href=data.redirectUrl;
			    	});
		    	}
		    }
		});
	}
</script>