<tbody id="loan_person">
<tr>
    <td colspan="6" class="lefts">
        <ul>
            <li class="fl ml10 icon-bi">借款人信息</li>
            <li class="fr mr20"><a href="javascript:;" class="sjtop folding2"></a></li>
        </ul>
        <div class="clear"></div>
    </td>
</tr>
<tr>
    <td class="leftTD">证件类型：</td>
    <td class="rightTD">
        <select id="pro_card_type" name="pro_card_type`" class="text-input w130 check" _select="$!user.userDocType">
            <option value="">请选择</option>
            <option value="身份证" #if($!user.userDocType == "身份证") selected="selected" #end >身份证</option>
            <option value="临时身份证" #if($!user.userDocType == "临时身份证") selected="selected" #end >临时身份证</option>
            <option value="户口簿" #if($!user.userDocType == "户口簿") selected="selected" #end >户口簿</option>
            <option value="护照" #if($!user.userDocType == "护照") selected="selected" #end >护照</option>
            <option value="军官证" #if($!user.userDocType == "军官证") selected="selected" #end >军官证</option>
            <option value="士兵证" #if($!user.userDocType == "士兵证") selected="selected" #end >士兵证</option>
            <option value="港澳居民来往内地通行证" #if($!user.userDocType == "港澳居民来往内地通行证") selected="selected" #end >港澳居民来往内地通行证</option>
            <option value="台湾同胞来往内地通行证" #if($!user.userDocType == "台湾同胞来往内地通行证") selected="selected" #end >台湾同胞来往内地通行证</option>
            <option value="外国人居留证" #if($!user.userDocType == "外国人居留证") selected="selected" #end >外国人居留证</option>
            <option value="警官证" #if($!user.userDocType == "警官证") selected="selected" #end >警官证</option>
            <option value="其他证件" #if($!user.userDocType == "其他证件") selected="selected" #end >其他证件</option>
        </select>
    </td>
    <td class="leftTD">证件号码：</td>
    <td class="rightTD">
        <input type="text" id="cardA" class="text-input w95 easyui-validatebox" data-options="validType:['IdCard']" name="pro_card_no" value="$!user.userDocNo"/>
    </td>
    <td class="leftTD">婚姻状况：</td>
    <td class="rightTD">
        <select id="pro_is_marry" name="pro_is_marry" class="text-input w80" _select="$!user.userMarry.state">
            <option value="">请选择</option>
            <option value="1" #if($!user.userMarry.state == 1) selected="selected" #end >已婚</option>
            <option value="2" #if($!user.userMarry.state == 2) selected="selected" #end >未婚</option>
            <option value="3" #if($!user.userMarry.state == 3) selected="selected" #end >离婚</option>
            <option value="4" #if($!user.userMarry.state == 4) selected="selected" #end >丧偶</option>
        </select>
    </td>
</tr>
<tr>
    <td class="leftTD">联系人：</td>
    <td class="rightTD">
        <input type="text" name="pro_contract_person" class="text-input w80 easyui-validatebox"  data-options="required:false" value="$!user.userName" />
    </td>
    <td class="leftTD">联系电话：</td>
    <td class="rightTD">
        <input type="text" name="pro_contract_phone" class="text-input w80 easyui-validatebox"  data-options="required:false,validType:['Mobile']" value="$!contact.ucPhone" />
    </td>
    <td class="leftTD">月收入：</td>
    <td class="rightTD">
        <input type="text" name="pro_month_money" class="text-input w80 easyui-validatebox"  data-options="required:false,validType:['Money']" value="$!user.userMonthIncome" />
    </td>
</tr>
<tr>
    <td class="leftTD">单位名称：</td>
    <td class="rightTD">
        <input type="text" name="pro_work_name" class="text-input w80 easyui-validatebox"  data-options="required:false" value="$!company.companyName" />
    </td>
    <td class="leftTD">单位性质：</td>
    <td class="rightTD">
        <select id="pro_work_type" name="pro_work_type" class="text-input w130" _select="$!company.companyType.type">
            <option value="" >请选择</option>
            <option value="1" #if($!company.companyType.type == 1) selected="selected" #end >政府机关</option>
            <option value="2" #if($!company.companyType.type == 2) selected="selected" #end >国有企业</option>
            <option value="3" #if($!company.companyType.type == 3) selected="selected" #end >台（港、澳）资企业</option>
            <option value="4" #if($!company.companyType.type == 4) selected="selected" #end >合资企业</option>
            <option value="5" #if($!company.companyType.type == 5) selected="selected" #end >个体户</option>
            <option value="6" #if($!company.companyType.type == 6) selected="selected" #end >事业性单位</option>
            <option value="7" #if($!company.companyType.type == 7) selected="selected" #end >私营企业</option>
            <option value="8" #if($!company.companyType.type == 8) selected="selected" #end >其他</option>
        </select>
    </td>
    <td class="leftTD">工作年限：</td>
    <td class="rightTD">
        <select id="pro_work_year" name="pro_work_year" class="text-input w130" _select="$!company.workYear.state">
            <option value="">请选择</option>
            <option value="1" #if($!company.workYear.state == 1) selected="selected" #end >一年以内</option>
            <option value="2" #if($!company.workYear.state == 2) selected="selected" #end >一年以上</option>
            <option value="3" #if($!company.workYear.state == 3) selected="selected" #end >二年以上</option>
            <option value="4" #if($!company.workYear.state == 4) selected="selected" #end >三年以上</option>
            <option value="5" #if($!company.workYear.state == 5) selected="selected" #end >四年以上</option>
            <option value="6" #if($!company.workYear.state == 6) selected="selected" #end >五年以上</option>
            <option value="7" #if($!company.workYear.state == 7) selected="selected" #end >六年以上</option>
        </select>
    </td>
</tr>
<tr>
    <td class="leftTD">所属地区：</td>
    <td class="rightTD" colspan="5">
        <select id="act_bank_area_noA" class="text-input w80"></select>
        <select id="act_bank_area_noB" name="pro_area_id" class="text-input w80"></select>
        <input type="hidden" id="hdfact_bank_area_no" value="$!contact.ucCity"/>
    </td>
</tr>
<tr>
    <td class="leftTD">详细住址：</td>
    <td class="rightTD" colspan="5">
        <input type="text" name="pro_person_address" class="text-input w70s easyui-validatebox"  data-options="required:false" value="$!contact.ucAddress" />
    </td>
</tr>
</tbody>

<script src="/Js/Common/AreaOfTwoLinkage.js" type="text/javascript"></script>
<script>
    $(function () {
        MyArea.Init('act_bank_area_noA', 'act_bank_area_noB', 'hdfact_bank_area_no');//初始化地区
        $("#act_bank_area_noA").change(function () { MyArea.AreaChange('act_bank_area_noA', 'act_bank_area_noB'); });
    });

    $("#pro_card_type").live("change", function () {
        var p1 = $(this).children('option:selected').val();
        var cardA = $("#cardA");//证件号码
        cardA.val("");
        //请选择时： 证件号码不能使用 并清空值
        if (p1 == "") {
            cardA.validatebox({
                required: false,
                validType: ['CheckQuote']
            });
            cardA.attr("disabled", "disabled");
        } else if (p1 == "身份证") {
            cardA.removeAttr("disabled");
            cardA.validatebox({
                required: true,
                validType: ['IdCard']
            });
        } else {
            cardA.removeAttr("disabled");
            cardA.validatebox({
                required: true,
                validType: ['CheckQuote']
            });
        }
    });
</script>
