<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->
<!--content-->
<script type="text/javascript">
//   $(function(){
// 	var articleText = $("#aaaa").val();
// 	articleText = articleText.replace(new RegExp(/(&lt;)/g), "<");
// 	articleText = articleText.replace(new RegExp(/(&gt;)/g), ">");
// 	articleText = articleText.replace(new RegExp(/(&quot;)/g), '"');
// 	$("#articleText").html(articleText);
	
// });  
</script>
<!-- <input type="hidden" id="aaaa" value="$!article.aiArticlecontent"/> -->
<div class="c-sub-line"></div>
<div class="w1000 clearfloat">	<div class="c-sub-mianbaoxu"><a href="/infomation/companyIntroduction">关于我们</a>&gt;<a href="/infomation/companyIntroduction">公司简介</a></div>
    <div class="c-sub-box clearfloat">
    	<!--left-->
    	#set ($companyIntroduction="hover")
    	$control.setTemplate("common/infomationLeft.vm")
        <!--right-->
        <div class="fl c-sub-right" id="articleText">
        <!--2-->
            <div class="c-gsjj-box">
            	<div class="c-gsjj-title"><div class="c-gsjj-tcon">$!title11</div></div>
                <div class="c-ggjj-con"> #noescape() $!companyInfo.aiArticlecontent #end</div>
            </div>
			
			 <!--3-->
            <div class="c-gsjj-box">
            	<div class="c-gsjj-title"><div class="c-gsjj-tcon">$!title12</div></div>
                
                <div class="clearfloat">
						#foreach( $!{m} in $!{manageInfo} )
	                	<div class="fl clearfloat mt20 mr5">
	                    	<div class="fl"><img src="$!m.aiArticleLogo" width="135" height="72" /></div>
	                        <dl class="fl c-gsjj-lnwenzi">
	                        	<dt><a href="/infomation/content?articleid=$m.aiId&aiClassId=$m.aiClassId" style="color:black;">$!{m.aiArticleTitle}</a></dt>
	                            <dd style="width:235px;">
									#if($!m.aiArticlecontent.length()>35)
									#noescape() $!m.aiArticlecontent.substring(0,35)... #end
									#else
									#noescape() $!m.aiArticlecontent #end
									#end
	                            </dd>
	                        </dl>
	                    </div>
						#end
                </div>
            </div>
			
			 <div class="c-gsjj-box">
            	<div class="c-gsjj-title"><div class="c-gsjj-tcon">$!title13</div></div>
                
                <div class="c-gsjj-yuanjing">			
					#noescape() $!manageVision.aiArticlecontent #end
                </div>
            </div>
            
			<!--5-->
            <div class="c-gsjj-box">
            	<div class="c-gsjj-title"><div class="c-gsjj-tcon">$!title14</div></div>
                <div class="clearfloat" style="position:relative;#if($!successInfo.size()>10) height:auto; #else height:300px; #end">
                    <ul class="fl c-gsjj-gushi">
                    #if($!{successInfo.size()}>0)
                		#foreach( $!{m} in $!{successInfo} )
	                	<li>$!dateUtil.formatDate($!{m.aiAddDate},'yyyy年MM月dd日 HH:mm:ss')——<a href="/infomation/content?articleid=$m.aiId&aiClassId=$m.aiClassId" style="color:#2A88D8">$!m.aiArticleTitle</a></li>
						#end
					#else
					暂无数据
					#end
                    </ul>
                    <div class="fr" style="position:absolute;left:500px;"><img src="/Images/c-gsjj-img6.png" /></div>
                </div>
            </div>
			
			
			<!--6-->
            <div class="c-gsjj-box">
            	<div class="c-gsjj-title"><div class="c-gsjj-tcon">$!title15</div></div>
			
				<div class="pic_content">
					<div class="pic_lists">
						#if($!{companyApt.size()} == 0)
							暂无数据
						#else
							<ul>
								#foreach( $!{m} in $!{companyApt} )
								<li>
									<a href="$!m.aiArticleLogo" data-gallery="#blueimp-gallery" title="$!m.aiArticleTitle">
										<img src="$!m.aiArticleLogo"/>
									</a>
									<p>$!m.aiArticleTitle</p>
								</li>
								#end
							</ul>
						#end
					</div>
				</div>
			</div>
			
			<!--7-->
            <div class="c-gsjj-box">
            	<div class="c-gsjj-title"><div class="c-gsjj-tcon">$!title16</div></div>
			                <div class="pic_con">
				<!-- <div class="btn_change left_btn">上一页</div>
				<div class="btn_change right_btn">下一页</div> -->
				<div class="pic_content">
					<div class="pic_lists">
						#if($!{officeInfo.size()} == 0)
							暂无数据
						#else
							<ul>
		                		#foreach( $!{m} in $!{officeInfo} )
								<li>
									<a href="$!m.aiArticleLogo" data-gallery="#blueimp-gallery" title="$!m.aiArticleTitle">
										<img src="$!m.aiArticleLogo"/>
									</a>
									<p>$!m.aiArticleTitle</p>
								</li>
								#end
							</ul>
						#end
					</div>
				</div>
				</div>
        </div>
            
        </div>
    </div>
</div>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <ol class="indicator"></ol>
</div>
<!--content end-->
<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
$control.setTemplate("common/customservice.vm")
<link href="/Css/officeInfo.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript">
$(function(){ 
var page=1;
	var i=4;
	var p_Div=$(".pic_content");
	var picDiv=$(".pic_lists");
	var picNum=picDiv.children("ul").children("li").length;
	var page_count=Math.ceil(picNum/i);
	var pDiv_w=p_Div.width()+14;

	$(".right_btn").click(function(){
		if(page_count>page){
			picDiv.animate({left:"-"+page*pDiv_w+"px"},"normal");
			page++;
			$(".left_btn").css({'background':'url(/Images/leftstart.jpg) no-repeat'});
			if(page>=page_count){
				$(this).css({'background':'url(/Images/rightstop.jpg) no-repeat'});
			}else{
				$(this).css({'background':'url(/Images/rightstart.jpg) no-repeat'});
			}
		} 
		$(this).siblings(".highlight_tip").find("span").eq((page-1)).addClass("current").siblings().removeClass("current"); 	
	});
	
	$(".left_btn").click(function(){
		if(page>1){
			picDiv.animate({left:"+="+pDiv_w+"px"},"normal");
			page--;
			$(".right_btn").css({'background':'url(/Images/rightstart.jpg) no-repeat'});
			if(page<=1){
				$(this).css({'background':'url(/Images/leftstop.jpg) no-repeat'});	 
			}else{
				$(this).css({'background':'url(/Images/leftstart.jpg) no-repeat'});
			}
		}
		$(this).siblings(".highlight_tip").find("span").eq((page-1)).addClass("current").siblings().removeClass("current"); 	
	});
	
	$(".pic_lists>ul>li").hover(function(){
		$(this).children("p").show();
	},function(){
		$(this).children("p").hide();
	});
})
</script>