<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->
<!--content-->
<div class="c-sub-line"></div>
<div class="w1000 clearfloat">
	<div class="c-sub-mianbaoxu"><a href="/infomation/companyIntroduction">关于我们</a>&gt;<a href="/infomation/links">友情链接</a></div>
    <div class="c-sub-box clearfloat">
    	<!--left-->
    	$control.setTemplate("common/infomationLeft.vm").setParameter("links", "hover")
       <div class="fl c-sub-right clearfloat" style="min-height:740px;">
       		#foreach($link in $!links)
	       		<span class="fl ml10"><a href="$link.slAddress" target="_blank">$link.slTitle</a></span><span class="fl ml10">|</span>
       		#end
       </div>
	</div>
</div>
<!--content end-->
<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
$control.setTemplate("common/customservice.vm")
<script src="/Js/index.js"></script>
