<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->
<!--content-->
<div class="w1000 clearfloat">
<div id="wdzh2" class="mt30" style="text-align:center">
    <p class="clearfix" id="bb2"><a href="chongzhi.html" class=""></a></p>
	<p class="clearfix" id="back2"><a href="javascript:;" class=""></a></p>
</div>
<div class="mt30"><img src="/Images/j-cz2.png" /></div>
<div class="mt30"><img src="/Images/j-cz3.png" /></div>

</div>
<!--content end-->


<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
$control.setTemplate("common/customservice.vm")