<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->
<!--content-->
<div class="w1000 clearfloat">
<div id="wdzh" class="mt30" style="text-align:center">
    <p class="clearfix" id="bb"><a href="/register/toregister"></a></p>
	<p class="clearfix" id="back"><a href="javascript:;" class=""></a></p>
</div>
<div id="wdzh1" class="mt30" style="text-align:center">
	<p class="clearfix" id="back1"><a href="javascript:;" class=""></a></p>
    <p class="clearfix" id="bb1"><a class="" href="javascript:;"></a></p>
</div>
<div class="mt30"><img src="/Images/j-z3.png" /></div>

</div>
<!--content end-->


<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
$control.setTemplate("common/customservice.vm")