## @model Auto.Model.FUN_fund_apply
<div id="wrap">
    <form id="Colyn">
        <table cellpadding="0" cellspacing="0" id="loanTable" class="grid removeMinwidth gridBorder0">
            <tbody id="main">
                <input type="hidden" name="faFundId" id="faFundId" value="$!order.faFundId">
                <tr>
                    <td colspan="6" class="lefts">
                        <ul>
                            <li class="fl ml10 icon-bi">基本信息</li>
                            <li class="fr mr20"><a href="javascript:;" class="sjtop folding2"></a></li>
                        </ul>
                        <div class="clear"></div>
                    </td>
                </tr>
                <tr>
                    <td class="leftTD" style="width: 15%">项目名称：</td>
                    <td class="rightTD" style="width: 20%">
                        $!order.faFundNo
                    </td>
                    <td class="leftTD">基金名称：</td>
                    <td class="rightTD">
                        $!order.faFundName
                    </td>
                    <td class="leftTD">基金公司：</td>
                    <td class="rightTD">
                        $!order.faFundComp
                    </td>
                </tr>
                <tr>
                    <td class="leftTD">预计发行规模：</td>
                    <td class="rightTD">
                        $!order.faFundMoney 万
                    </td>
                    <td class="leftTD">存续期：</td>
                    <td class="rightTD">
                        $!order.faFundPeriod 月
                    </td>
                    <td class="leftTD">预期年收益率：</td>
                    <td class="rightTD">
                        $!order.faFundRate %
                    </td>
                </tr>
                <tr>
                    <td class="leftTD">最低认购金额：</td>
                    <td class="rightTD">
                        $!order.faMinMoney 万
                    </td>
                    <td class="leftTD">投资行业：</td>
                    <td class="rightTD">
                        $!order.faFundIndustry
                    </td>
                    <td class="leftTD">还款方式：</td>
                    <td class="rightTD">
                        #if($!order.faPayType==1) 等额本息  #else #end 
                        #if($!order.faPayType==2) 按月还息到期还本 #else #end 
                        #if($!order.faPayType==3) 等额本金 #else #end 
                </tr>
            </tbody>
            <tbody id="fund_profit">
                #if ($!null.isNull($!fundProfitList) || $!fundProfitList.size()==0)
                	
                #else
                	#foreach($!FundProfit in $!fundProfitList)
                    <tr>
                        <td class="leftTD">收益说明：</td>
                        <td class="rightTD" colspan="2">
                            $!FundProfit.fpMinMoney 
                            至
                    $!FundProfit.fpMaxMoney 万
                        </td>
                        <td class="leftTD">年化收益率：</td>
                        <td class="rightTD">
                            $!FundProfit.fpProfitYields %
                   
                        </td>
                        <td class="centerTD edit">
                            
                        </td>
                    </tr>
                    #end
				#end
            </tbody>
            <tbody>
                <tr>
                    <td class="leftTD">基金类型：</td>
                    <td class="rightTD">
                        $!order.faFundType
                    </td>
                    <td class="leftTD">抵押率：</td>
                    <td class="rightTD" colspan="3">
                        $!order.faMartgageRate %
                    </td>
                </tr>
                <tr>
                    <td class="leftTD">抵押物：</td>
                    <td class="rightTD" colspan="5">
                       $!order.faMartgageIntrol
                   
                    </td>
                </tr>
                <tr>
                    <td class="leftTD">产品说明：</td>
                    <td class="rightTD" colspan="5">
                       $!order.faFundIntrol
               
                    </td>
                </tr>
                <tr>
                    <td class="leftTD">资金用途：</td>
                    <td class="rightTD" colspan="5">
                        $!order.faFundUse
                
                    </td>
                </tr>
                <tr>
                    <td class="leftTD">风险控制：</td>
                    <td class="rightTD" colspan="5">
                        $!order.faFundRisk
                    
                    </td>
                </tr>
                <tr>
                    <td class="leftTD">还款来源：</td>
                    <td class="rightTD" colspan="5">
                        $!order.faPayResource
                     
                    </td>
                </tr>
                <tr>
                    <td class="leftTD">项目简介：</td>
                    <td class="rightTD" colspan="5">
                        $!order.faProjectIntrol
                     
                    </td>
                </tr>
                <tr>
                    <td class="leftTD">基金公司：</td>
                    <td class="rightTD" colspan="5">
                   $!order.faCompIntrol
                     
                    </td>
                </tr>
                 <tr>
                    <td colspan="6" class="lefts">
                        <ul>
                            <li class="fl ml10 icon-bi">审核意见</li>
                            <li class="fr mr20"><a href="javascript:;" class="sjtop folding2"></a></li>
                        </ul>
                        <div class="clear"></div>
                    </td>
                </tr>
                 <tr>
  
                    <td class="leftTD" >联系人：</td>
                    <td class="rightTD" >
                        $!order.foUserName
                    </td>
                    <td class="leftTD">联系电话：</td>
                     <td class="rightTD" colspan="3">
                        $!order.foUserPhone
                    </td>
                  
                </tr>
                      <tr>
                    <td class="leftTD">充值金额：</td>
                    <td class="rightTD">
                        $!order.fcRechargeMoney
                    </td>
                    <td class="leftTD">充值日期：</td>
                    <td class="rightTD" colspan="3">
                        $!order.fcRechargeDate
                    </td>
                  
                </tr>
                        <tr>
                    <td class="leftTD" style="width: 15%">审核意见：</td>
                    <td class="rightTD" colspan="5">
                        $!order.fcCheckIdear
                    </td>
                </tr>
            </tbody>
        </table>

    </form>
</div>


