 
<!--首页头部-->
<nav id="nav" class="nav">
    	<a class="navbar-brand" style="position:absolute; top:-7px; z-index:12;" href="wdzh.htm"><span class="glyphicon glyphicon-menu-left" style="color:#fff; font-size:25px;" aria-hidden="true"></span></a>

        <div class=" index_suo text-center"><span>我的积分</span></div>
</nav>
<!--首页头部 end-->

<!--内容-->
<div class="container-fluid">
	<div class="row">
   		<div class="col-xs-12 col-md-12 clearfix">
            <div class="wdjf_img">
            	<img src="images/jifen_img.png"/>
            	<p id="wdjf" class="text-center"><span>可用积分</span><span><strong>12000</strong></span><span><a href="jfsc.htm">立即兑换</a></span></p>
            <ul id="wdjf_nav" class="list-unstyled clearfix">
                <li class="pull-left"><a href="choujiang.htm">积分抽奖</a></li>
                <li class="pull-right"><a href="jfgz.htm">积分规则</a></li>
            </ul>
            </div>
        </div> 
   </div>
   <div class="row">
    <div class="col-xs-12 col-ms-12">
        <div id="wdjf_des">
        	<table cellpadding="0" cellspacing="0">
                <tr>
                    <th class="wdjf_td1  text-center">类型</th>
                    <th class="wdjf_td2a text-center">积分</th>
                    <th class="wdjf_td3a text-center"><span>时间</span></th>
                </tr>
                <tr>
                    <td class="wdjf_td1  text-center">注册</td>
                    <td class="wdjf_td2  text-center">+5分</td>
                    <td class="wdjf_td3 text-center"><span>2015-05-01 15：30</span></td>
                </tr>
                <tr>
                    <td class="wdjf_td1  text-center">登录</td>
                    <td class="wdjf_td2  text-center">+5分</td>
                    <td class="wdjf_td3  text-center"><span>2015-05-01 15：30</span></td>
                </tr>
                <tr>
                    <td class="wdjf_td1  text-center">手机认证</td>
                    <td class="wdjf_td2  text-center">+5分</td>
                    <td class="wdjf_td3  text-center"><span>2015-05-01 15：30</span></td>
                </tr>
                <tr>
                    <td class="wdjf_td1  text-center">转让</td>
                    <td class="wdjf_td2  text-center">+5分</td>
                    <td class="wdjf_td3  text-center"><span>2015-05-01 15：30</span></td>
                </tr>
                <tr>
                    <td class="wdjf_td1  text-center">兑换了高压锅</td>
                    <td class="wdjf_td2  text-center">-50000分</td>
                    <td class="wdjf_td3  text-center"><span>2015-05-01 15：30</span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>
<!--内容-->

 
