 
<!--首页头部-->
<nav id="nav" class="nav">
		                	    	<a class="navbar-brand" style="position:absolute; top:-7px; z-index:12;" href="gywm.htm"><span class="glyphicon glyphicon-menu-left" style="color:#fff; font-size:25px;" aria-hidden="true"></span></a>

        <div class="index_suo text-center"><span>新手指引</span></div>
</nav>
<!--导航弹窗-->

<!--导航弹窗 end-->
<!--首页头部 end-->

<!--内容-->
<div class="container-fluid">
    <div id="myCarousel" class="carousel slide">
       <!-- 轮播（Carousel）指标 -->
       <ol class="carousel-indicators c-xszy-shuzi">
          <li data-target="#myCarousel" data-slide-to="0" class="active">1</li>
          <li data-target="#myCarousel" data-slide-to="1">2</li>
          <li data-target="#myCarousel" data-slide-to="2">3</li>
       </ol>   
       <!-- 轮播（Carousel）项目 -->
       <div class="carousel-inner">
          <div class="item active" align="center">
             <img src="images/c-images/xinshouzhiyin.png" alt="First slide">
          </div>
          <div class="item" align="center">
             <img src="images/c-images/xinshouzhiyin.png" alt="Second slide">
          </div>
          <div class="item" align="center">
             <img src="images/c-images/xinshouzhiyin.png" alt="Third slide">
          </div>
       </div>
    </div>   

</div>
<!--内容-->

 
