 
<!--首页头部-->
<nav id="nav" class="nav">
            	            	        <a class="navbar-brand" style="position:absolute; top:-7px; z-index:12;" href="zh-anquanzhongxin.htm"><span class="glyphicon glyphicon-menu-left" style="color:#fff; font-size:25px;" aria-hidden="true"></span></a>

        <div class=" index_suo text-center"><span>手机验证</span></div>
</nav>
<!--导航弹窗-->

<!--导航弹窗 end-->
<!--首页头部 end-->

<!--内容-->
	<div class="container-fluid">
		<div class="row">
        	<div class="col-xs-12 col-sm-12">
            	<div id="save_arc" class="mt25px">
                	<h3><img src="images/success.png"/><span>恭喜你保存成功！</span></h3>
                </div>
             <p class="bd_save container mt25px"><a href="zh-anquanzhongxin.htm">返回</a></p>

            </div>
        </div>
    </div>
<!--内容-->
<script>
 

	//保存Cookie完毕以后就可以通过Cookie来获取当前的皮肤了  
	var cookie_skin = $.cookie("MyCssSkin");     //获取Cookie的值  
	if (cookie_skin) {                          //如果确实存在Cookie  
		switchSkin(cookie_skin);     //执行  
	}
	  
});  
function switchSkin(skinName) {     
	$("#cssfile").attr("href", "css/skin/" + skinName + ".css"); //设置不同皮肤  
	$.cookie("MyCssSkin", skinName, { path: '/', expires: 2 });  //保存Cookie  
} 

</script>

 