 
<!--首页头部-->
<nav id="nav" class="nav">
                                    	                	    	<a class="navbar-brand" style="position:absolute; top:-7px; z-index:12;" href="gywm.htm"><span class="glyphicon glyphicon-menu-left" style="color:#fff; font-size:25px;" aria-hidden="true"></span></a>

        <div class="index_suo text-center"><span>安全保障</span></div>
</nav>
<!--首页头部 end-->
<style>
.c-aqbz-sanjiao{display:inline-block; width:0px; height:0px; border-left:5px solid #ea924a; border-top:5px solid transparent; border-bottom:5px solid transparent; margin-right:15px}
.c-aqbz{font-size:12px;}
.c-aqbz-list{font-size:14px;}
.c-aqbz-list{background:#3d6890; color:#fff; line-height:30px; border-radius:10px}
</style>
<!--内容-->
<div class="container c-aqbz">
	<div style="margin-bottom:30px">
        <h4 class="text-center"><strong>机构合作</strong>——全面控制源头风险</h4>
        <p><span class="c-aqbz-sanjiao"></span>选择与全国领先的机构合作，信贷质量最好，受地方金融办监管，目前的坏账率不超过1%</p>
        <div class="row">
        	<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 text-center" style="margin-bottom:20px"><img src="images/c-images/aqbz1.png" width="50%"></div>
        	<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 text-center" style="margin-bottom:20px"><img src="images/c-images/aqbz2.png" width="50%"></div>
        	<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 text-center" style="margin-bottom:20px"><img src="images/c-images/aqbz3.png" width="50%"></div>
        	<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 text-center" style="margin-bottom:20px"><img src="images/c-images/aqbz4.png" width="50%"></div>
        </div>
        <p><span class="c-aqbz-sanjiao"></span>有完善的合作机构评估体系，用于贷前机构筛选，包括定性评估和定量评估</p>
    </div>
    
    <div style="margin-bottom:20px; background:#f1f4f7; padding:20px 30px">
        <h4 class="text-center"><strong>项目审核</strong>——多重审核7道工序</h4>
        <p><span class="c-aqbz-sanjiao"></span>实地考察：合作机构线下实地考察借款人</p>
        <p><span class="c-aqbz-sanjiao"></span>资料审核：审核包括银行流水、征信报告等多种必备材料</p>
        <p><span class="c-aqbz-sanjiao"></span>背景调查：借款人背景、联系人详尽调查</p>
        <p><span class="c-aqbz-sanjiao"></span>还款能力：借款人还款能力压力测试</p>
        <p><span class="c-aqbz-sanjiao"></span>借款人背景、联系人详尽调查</p>
        <p><span class="c-aqbz-sanjiao"></span>借款人还款能力压力测试</p>
    </div>	
    
    <div style="margin-top:30px">
        <h4 class="text-center"><strong>网站建设</strong>——银行级别的投资保障</h4>
        <h5 class="c-aqbz-list text-center"><img src="images/c-images/aqbz5.png" width="10%"/>资金安全</h5>
        <p>奥拓思维与招商银行达成合作关系，招商银行成为奥拓思维的第三方账户保管银行，招商银行的保管账户可以对于资金流出进行管理，由招商银行对账户资金进行落地审查，确保投资人的资金安全</p>
        <h3 class="c-aqbz-list text-center"><img src="images/c-images/aqbz6.png" width="10%"/>数据安全</h3>
        <p>奥拓思维IT团队来自国内各大银行，在信息安全和数据安全方面有着非常丰富的经验，让您享受银行级别的安全保障；三层防火墙隔离系统的访问层、应用层和数据层集群；有效的入侵防范及容灾备份，确保交易数据安全无虞</p>
        <h3 class="c-aqbz-list text-center"><img src="images/c-images/aqbz7.png" width="10%"/>隐私安全</h3>
        <p>奥拓思维上所有的隐私信息都经过MD5加密处理，防止任何人包括公司员工获取用户信息。奥拓思维在任何情况下都绝不会出售、出租或以任何其他形式泄漏您的信息。您的信息按照《奥拓思维投资咨询服务协议》中的规定被严格保护</p>
    </div>    
            
</div>
<!--内容-->
<script>
 
	//保存Cookie完毕以后就可以通过Cookie来获取当前的皮肤了  
	var cookie_skin = $.cookie("MyCssSkin");     //获取Cookie的值  
	if (cookie_skin) {                          //如果确实存在Cookie  
		switchSkin(cookie_skin);     //执行  
	}
	  
});  
function switchSkin(skinName) {     
	$("#cssfile").attr("href", "css/skin/" + skinName + ".css"); //设置不同皮肤  
	$.cookie("MyCssSkin", skinName, { path: '/', expires: 2 });  //保存Cookie  
} 

</script>
 
