 
<!--首页头部-->
<nav id="nav" class="nav">
                    	                	    	<a class="navbar-brand" style="position:absolute; top:-7px; z-index:12;" href="gywm.htm"><span class="glyphicon glyphicon-menu-left" style="color:#fff; font-size:25px;" aria-hidden="true"></span></a>

        <div class="index_suo text-center"><span>常见问题</span></div>
</nav>
<!--首页头部 end-->
<style>
</style>
<!--内容-->
<div class="container-fluid">
    <div class="panel-group" id="accordion">
      <div class="panel">
        <div class="panel-heading">
          <h4 class="c-cjwt-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="font-size:14px;">在奥拓思维如何投资？</a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body c-cjwt-con" style="font-size:12px;">理财是一门严谨的学科，犹如中医一般，需要望闻问切才能提供最佳理财方案，在理财咨询中，您需要提供收入，支出，资产（车子 房子 股票 基金 保险等），负债以及理财目标等，专业的理财规划师才会给你提供合适的解决方案。</div>
        </div>
      </div>
      
      <div class="panel">
        <div class="panel-heading">
          <h4 class="c-cjwt-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="font-size:14px;">在奥拓思维如何投资？</a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" style="font-size:12px;">
          <div class="panel-body c-cjwt-con">理财是一门严谨的学科，犹如中医一般，需要望闻问切才能提供最佳理财方案，在理财咨询中，您需要提供收入，支出，资产（车子 房子 股票 基金 保险等），负债以及理财目标等，专业的理财规划师才会给你提供合适的解决方案。</div>
        </div>
      </div>
      
      <div class="panel">
        <div class="panel-heading">
          <h4 class="c-cjwt-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" style="font-size:14px;">在奥拓思维如何投资？</a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" style="font-size:12px;">
          <div class="panel-body c-cjwt-con">理财是一门严谨的学科，犹如中医一般，需要望闻问切才能提供最佳理财方案，在理财咨询中，您需要提供收入，支出，资产（车子 房子 股票 基金 保险等），负债以及理财目标等，专业的理财规划师才会给你提供合适的解决方案。</div>
        </div>
      </div>
    </div>  

</div>
<!--内容-->
 