 
<!--首页头部-->
<nav id="nav" class="nav">
    	    	            	        <a class="navbar-brand" style="position:absolute; top:-7px; z-index:12;" href="wdzh.htm"><span class="glyphicon glyphicon-menu-left" style="color:#fff; font-size:25px;" aria-hidden="true"></span></a>

        <div class=" index_suo text-center"><span>我的消息</span></div>
</nav>
<!--首页头部 end-->
<style>
.c-wdxx-title{font-size:18px;}
</style>

<!--内容-->
<div class="container-fluid" style="min-height:1100px">
    <div class="c-bg-white c-wdxx-box" data-toggle="modal" data-target="#myModal1" data-backdrop="static">
        <div class="row">
            <div class="col-xs-7 col-sm-7 c-wdxx-title">您的微信账户</div>
            <div class="col-xs-5 col-sm-5 text-right c-grey" style="font-size:14px">2015-04-14</div>
        </div>
        <p class="c-wdxx-p" style="font-size:16px;color:#666">您的微信于2015年4月14日和pc账户绑定。</p>
    </div> 
    
    <div class="c-bg-white c-wdxx-box" data-toggle="modal" data-target="#myModal1" data-backdrop="static">
        <div class="row">
            <div class="col-xs-7 col-sm-7 c-wdxx-title">您的微信账户</div>
            <div class="col-xs-5 col-sm-5 text-right c-grey" style="font-size:14px">2015-04-14</div>
        </div>
        <p class="c-wdxx-p" style="font-size:16px;color:#666">您的微信于2015年4月14日和pc账户绑定。</p>
    </div>        
    
    <div class="c-bg-white c-wdxx-box" data-toggle="modal" data-target="#myModal1" data-backdrop="static">
        <div class="row">
            <div class="col-xs-7 col-sm-7 c-wdxx-title">您的微信账户</div>
            <div class="col-xs-5 col-sm-5 text-right c-grey" style="font-size:14px">2015-04-14</div>
        </div>
        <p class="c-wdxx-p" style="font-size:16px;color:#666">您的微信于2015年4月14日和pc账户绑定。</p>
    </div> 
    
    <div class="c-bg-white c-wdxx-box" data-toggle="modal" data-target="#myModal1" data-backdrop="static">
        <div class="row">
            <div class="col-xs-7 col-sm-7 c-wdxx-title">您的微信账户</div>
            <div class="col-xs-5 col-sm-5 text-right c-grey" style="font-size:14px">2015-04-14</div>
        </div>
        <p class="c-wdxx-p" style="font-size:16px;color:#666">您的微信于2015年4月14日和pc账户绑定。</p>
    </div>        
           
</div>
<!--内容-->

<!--弹出层-->
<div class="modal myModal" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog" style="width:85%">
        <div class="modal-content" style="overflow:hidden;">
            <div class="modal-header">
                <h4 class="modal-title text-center" id="myModalLabel1" style="font-size:20px">您的提现已成功</h4>
            </div>
            <div class="modal-body" style="font-size:16px">
            	<p>银行卡信息：</p>
                <p>中国银行：**************8888</p>
                <p>金额：100.00元</p>
                <p style="margin-top:30px">实际到账时间：</p>
                <p>2015-04-14 18:00 </p>
                <div class="text-center"><a class="btn c-wdxx-btn" href="zh-wodexiaoxi.htm">关闭</a></div>
           </div>
        </div>
    </div>
</div>
<!--弹出层-->
 