 
<!--首页头部-->
<nav id="nav" class="nav">
    	                        	            	        <a class="navbar-brand" style="position:absolute; top:-7px; z-index:12;" href="zh-anquanzhongxin.htm"><span class="glyphicon glyphicon-menu-left" style="color:#fff; font-size:25px;" aria-hidden="true"></span></a>

        <div class=" index_suo text-center"><span>忘记解锁密码</span></div>
</nav>
<!--首页头部 end-->

<!--内容-->
<div class="container-fluid">
    <div class="row">
        <div class="clearfix col-xs-12 col-sm-12">
			<div  id="bd_list">
            	<ul class="list-unstyled mt25px">
            	<li class="clearfix" style="font-size:16px;"><span class="pull-left">手机验证：</span><input type="text" class="pull-left" placeholder="请输入您的手机号码"/></li>
                <li class="clearfix" style="font-size:16px;"><span class="pull-left">验证码：</span><input type="text" class="pull-left"placeholder="请输入验证码" style="width:130px;"/><a href="" class="pull-left" style="font-size:16px;">获取验证码</a></li>
            	<li class="clearfix" style="font-size:16px;"><span class="pull-left">重置密码：</span><input type="text" class="pull-left" placeholder="请输入您的重置密码"/></li>
            	<li class="clearfix" style="font-size:16px;"><span class="pull-left">确认密码：</span><input type="text" class="pull-left" placeholder="请输入您的确认密码"/></li>
            </ul>

            </div>  
            <p class="bd_save container mt25px"><a href="zh-anquanzhongxin-baocun.htm">保存</a></p>
          </div>
	</div>
</div>
<!--内容-->

<script>
 
	//保存Cookie完毕以后就可以通过Cookie来获取当前的皮肤了  
	var cookie_skin = $.cookie("MyCssSkin");     //获取Cookie的值  
	if (cookie_skin) {                          //如果确实存在Cookie  
		switchSkin(cookie_skin);     //执行  
	}
	  
});  
function switchSkin(skinName) {     
	$("#cssfile").attr("href", "css/skin/" + skinName + ".css"); //设置不同皮肤  
	$.cookie("MyCssSkin", skinName, { path: '/', expires: 2 });  //保存Cookie  
} 

</script>

 