 
<!--头部-->
<nav id="nav" class="nav">
    	            	        <a class="navbar-brand" style="position:absolute; top:-7px; z-index:12;" href="wdzh.htm"><span class="glyphicon glyphicon-menu-left" style="color:#fff; font-size:25px;" aria-hidden="true"></span></a>

        <div class=" index_suo text-center"><span>银行卡管理</span></div>

            	            	        <a class="navbar-brand" style="position:absolute; top:-7px; z-index:12; right:10px;" href="zh-yinhangkatianjia1.htm"><span class="glyphicon glyphicon-plus" style="color:#fff; font-size:25px;" aria-hidden="true"></span></a>

</nav>
<!--头部 end-->

<div class="container-fluid c-yhkgl">
	<div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clearfix">
        	<div class="pull-left"><img width="60px" src="images/yh.png"></div>
           <div class="pull-right" style="margin-left:10px">
                <p style="font-size:18px;">中国工商银行</p>
                <p style="font-size:18px;">尾号4023 储蓄卡</p>
            </div>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clearfix">
        	<div class="pull-left"><img width="60px" src="images/yh.png"></div>
           <div class="pull-right" style="margin-left:10px">
                <p style="font-size:18px;">中国工商银行</p>
                <p style="font-size:18px;">尾号4023 储蓄卡</p>
            </div>
    	</div>
    </div>  
    
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clearfix">
        	<div class="pull-left"><img width="60px" src="images/yh.png"></div>
           <div class="pull-right" style="margin-left:10px">
                <p style="font-size:18px;">中国工商银行</p>
                <p style="font-size:18px;">尾号4023 储蓄卡</p>
            </div>
    	</div>
    </div> 
    
    <div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 clearfix">
        	<div class="pull-left"><img width="60px" src="images/yh.png"></div>
            <div class="pull-right" style="margin-left:10px">
                <p style="font-size:18px;">中国工商银行</p>
                <p style="font-size:18px;">尾号4023 储蓄卡</p>
            </div>
    	</div>
    </div> 

</div>
<script>
  

	//保存Cookie完毕以后就可以通过Cookie来获取当前的皮肤了  
	var cookie_skin = $.cookie("MyCssSkin");     //获取Cookie的值  
	if (cookie_skin) {                          //如果确实存在Cookie  
		switchSkin(cookie_skin);     //执行  
	}
	  
});  
function switchSkin(skinName) {     
	$("#cssfile").attr("href", "css/skin/" + skinName + ".css"); //设置不同皮肤  
	$.cookie("MyCssSkin", skinName, { path: '/', expires: 2 });  //保存Cookie  
} 

</script>
 
