 
<!--头部-->
<nav id="nav" class="nav">
                            	    	<a class="navbar-brand" style="position:absolute; top:-7px; z-index:12;" href="zh-zhaiquanzhuanrang2.htm"><span class="glyphicon glyphicon-menu-left" style="color:#fff; font-size:25px;" aria-hidden="true"></span></a>

        <div class=" index_suo text-center"><span>债权转让</span></div>
</nav>
<!--头部 end-->
<style>
#zr{font-size:16px;}
</style>

<div class="container-fluid">
    <div class="container mt30 row">
    	<div class="clearfix ff pl30 pt20" id="zr">
        	<p class="clearfix"><span class="pull-left">转让金额：</span><span class="pull-left">100元</span></p>
            <p class="clearfix"><span class="pull-left">手续费：</span><span class="pull-left">0.5元</span></p>
            <p class="clearfix"><span class="pull-left">折让金：</span><span class="pull-left">-0.47元</span></p>
            <p class="clearfix"><span class="pull-left">转让后收入：</span><span class="pull-left">99.8元</span></p>
            <p class="clearfix"><span class="pull-left">预计收益率：</span><span class="pull-left">12%</span></p>
        </div>
        <div class="xyb-anniu mt20 container"><a href="zh-zhaiquanzhuanrang-step4.htm">确定</a></div>
    </div>
</div>
<script>
 
	//保存Cookie完毕以后就可以通过Cookie来获取当前的皮肤了  
	var cookie_skin = $.cookie("MyCssSkin");     //获取Cookie的值  
	if (cookie_skin) {                          //如果确实存在Cookie  
		switchSkin(cookie_skin);     //执行  
	}
	  
});  
function switchSkin(skinName) {     
	$("#cssfile").attr("href", "css/skin/" + skinName + ".css"); //设置不同皮肤  
	$.cookie("MyCssSkin", skinName, { path: '/', expires: 2 });  //保存Cookie  
} 

</script>
 