 
<!--头部-->
<nav id="nav" class="nav">
        	    	<a class="navbar-brand" style="position:absolute; top:-7px; z-index:12;" href="wdzh.htm"><span class="glyphicon glyphicon-menu-left" style="color:#fff; font-size:25px;" aria-hidden="true"></span></a>

    <div class=" index_suo text-center"><span>债权转让</span></div>
</nav>
<!--头部 end-->
<div class="container">
    <div id="wdtz_nav">
        <ul class="xiangqing-biaoti1 clearfix mt20">
            <li class="pull-left xx text-center xq_cur br-right">转让中</li>
            <li class="pull-left xx text-center br-right">可转出</li>
            <li class="pull-left xx text-center br-right">已转出</li>
            <li class="pull-left xx text-center">已转入</li>
        </ul>
    </div>
    </div>
        <div>
        <div class="yhq_tab mt10">
                <div class="index_list ff">
                    <div class="container">
                        <div class="index_list-l">
                               <a href="touziliebiaoyexiangqingye.htm">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                    <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                                    <li class="pull-left"><span>转让金额</span><span class="fc_black"><em>5万元</em></span></li>
                                    <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                                    <li class="pull-left"><canvas id="circle-progress-default4" width="50" height="50"></canvas></li>
                                </ul>
                                </a>
                            </div>
                    </div>
                </div>
                <div class="index_list ff">
                    <div class="container">
                        <div class="index_list-l">
                               <a href="touziliebiaoyexiangqingye.htm">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                    <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                                    <li class="pull-left"><span>转让金额</span><span class="fc_black"><em>5万元</em></span></li>
                                    <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                                    <li class="pull-left"><canvas id="circle-progress-default5" width="50" height="50"></canvas></li>
                                </ul>
                                </a>
                            </div>
                    </div>
                </div>
                <div class="index_list ff">
                    <div class="container">
                        <div class="index_list-l">
                               <a href="touziliebiaoyexiangqingye.htm">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                    <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                                    <li class="pull-left"><span>转让金额</span><span class="fc_black"><em>5万元</em></span></li>
                                    <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                                    <li class="pull-left"><canvas id="circle-progress-default6" width="50" height="50"></canvas></li>
                                </ul>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
        
        <div class="yhq_tab mt10" style="display:none">
            <div class="ff">
                <div class="container">
                        <div class="index_list-l">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span><span class="zhuanrang-anniu  ml10"><a href="zh-zhaiquanzhuanrang-step1.htm">转让</a></span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                    <li class="pull-left"><span>转让金额</span><span class="fc_black">6万元</span></li>
                            <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                            <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                            <li class="pull-left"><span>预期收益</span><span class="fc_black"><em>1000元</em></span></li>
                                </ul>
                            </div>
                    </div>
            </div>
            <div class="ff  mt10">
                 <div class="container">
                        <div class="index_list-l">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span><span class="zhuanrang-anniu  ml10"><a href="zh-zhaiquanzhuanrang-step1.htm">转让</a></span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                    <li class="pull-left"><span>转让金额</span><span class="fc_black">6万元</span></li>
                            <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                            <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                            <li class="pull-left"><span>预期收益</span><span class="fc_black"><em>1000元</em></span></li>
                                </ul>
                            </div>
                    </div>
            </div>
            <div class="ff mt10">
                 <div class="container">
                        <div class="index_list-l">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span><span class="zhuanrang-anniu  ml10"><a href="zh-zhaiquanzhuanrang-step1.html">转让</a></span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                    <li class="pull-left"><span>转让金额</span><span class="fc_black">6万元</span></li>
                            <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                            <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                            <li class="pull-left"><span>预期收益</span><span class="fc_black"><em>1000元</em></span></li>
                                </ul>
                            </div>
                    </div>
            </div>
            <div class="ff mt10">
                 <div class="container">
                        <div class="index_list-l">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span><span class="zhuanrang-anniu  ml10"><a href="zh-zhaiquanzhuanrang-step1.htm">转让</a></span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                    <li class="pull-left"><span>转让金额</span><span class="fc_black">6万元</span></li>
                            <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                            <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                            <li class="pull-left"><span>预期收益</span><span class="fc_black"><em>1000元</em></span></li>
                                </ul>
                            </div>
                    </div>
            </div>
            
        </div>
        
        <div class="yhq_tab mt10" style="display:none">
            <div class="ff">
                 <div class="container">
                        <div class="index_list-l">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                   <li class="pull-left"><span>转让金额</span><span class="fc_black">6万元</span></li>
                            <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                            <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                            <li class="pull-left"><span>实际收益</span><span class="fc_black">6万元</span></li>
                                </ul>
                            </div>
                    </div>
            </div>
            <div class="ff mt10">
                 <div class="container">
                        <div class="index_list-l">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                   <li class="pull-left"><span>转让金额</span><span class="fc_black">6万元</span></li>
                            <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                            <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                            <li class="pull-left"><span>实际收益</span><span class="fc_black">6万元</span></li>
                                </ul>
                            </div>
                    </div>
            </div>
            <div class="ff  mt10">
                 <div class="container">
                        <div class="index_list-l">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                   <li class="pull-left"><span>转让金额</span><span class="fc_black">6万元</span></li>
                            <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                            <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                            <li class="pull-left"><span>实际收益</span><span class="fc_black">6万元</span></li>
                                </ul>
                            </div>
                    </div>
            </div>
                <div class="ff mt10">
                 <div class="container">
                        <div class="index_list-l">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                   <li class="pull-left"><span>转让金额</span><span class="fc_black">6万元</span></li>
                            <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                            <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                            <li class="pull-left"><span>实际收益</span><span class="fc_black">6万元</span></li>
                                </ul>
                            </div>
                    </div>
            </div>
        </div>
        
        <div class="yhq_tab mt10" style="display:none">
            <div class="ff">
                <div class="container">
                        <div class="index_list-l">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                   <li class="pull-left"><span>转让金额</span><span class="fc_black">6万元</span></li>
                            <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                            <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                            <li class="pull-left"><span>已收收益</span><span class="fc_black">6万元</span></li>
                                </ul>
                            </div>
                    </div>
            </div>
            <div class="ff mt10">
                <div class="container">
                        <div class="index_list-l">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                   <li class="pull-left"><span>转让金额</span><span class="fc_black">6万元</span></li>
                            <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                            <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                            <li class="pull-left"><span>已收收益</span><span class="fc_black">6万元</span></li>
                                </ul>
                            </div>
                    </div>
            </div>
            <div class="ff mt10">
                <div class="container">
                        <div class="index_list-l">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                   <li class="pull-left"><span>转让金额</span><span class="fc_black">6万元</span></li>
                            <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                            <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                            <li class="pull-left"><span>已收收益</span><span class="fc_black">6万元</span></li>
                                </ul>
                            </div>
                    </div>
            </div>
            <div class="ff mt10">
                <div class="container">
                        <div class="index_list-l">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                   <li class="pull-left"><span>转让金额</span><span class="fc_black">6万元</span></li>
                            <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                            <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                            <li class="pull-left"><span>已收收益</span><span class="fc_black">6万元</span></li>
                                </ul>
                            </div>
                    </div>
            </div>
            <div class="ff mt10">
                <div class="container">
                        <div class="index_list-l">
                                <div class="clearfix con_top"><span>大型设大型设备制作和修复</span></div>
                                <ul class="clearfix wdtz_list1 list-unstyled mt10">
                                   <li class="pull-left"><span>转让金额</span><span class="fc_black">6万元</span></li>
                            <li class="pull-left"><span>年化收益率</span><span class="fc_black"><strong>15</strong>%</span></li>
                            <li class="pull-left"><span>剩余期限</span><span class="fc_black"><em>20天</em></span></li>
                            <li class="pull-left"><span>已收收益</span><span class="fc_black">6万元</span></li>
                                </ul>
                            </div>
                    </div>
            </div>
        </div>
    </div>
    
</div>
        <script>
            $('.xx').click(function(){
                $(this).addClass('xq_cur').siblings().removeClass('xq_cur');	
                var _index = $(this).index('.xx');
                $('.yhq_tab').eq(_index).show().siblings().hide();
            });
        </script>
    
        <script type="text/javascript">
				var showMe = function () {
					circleProgress({
						id: 'circle-progress-default'
					});
					circleProgress({
						id: 'circle-progress-default1'
					});
					circleProgress({
						id: 'circle-progress-default2'
					});
					circleProgress({
						id: 'circle-progress-default3'
					});
					circleProgress({
						id: 'circle-progress-default4'
					});
					circleProgress({
						id: 'circle-progress-default5'
					});
					circleProgress({
						id: 'circle-progress-default6'
					});
					circleProgress({
						id: 'circle-progress-default7'
					});
					circleProgress({
						id: 'circle-progress-default8'
					});
					circleProgress({
						id: 'circle-progress-default9'
					});
					circleProgress({
						id: 'circle-progress-default10'
					});
					circleProgress({
						id: 'circle-progress-default11'
					});
					circleProgress({
						id: 'circle-progress-default12'
					});
					circleProgress({
						id: 'circle-progress-default13'
					});
					circleProgress({
						id: 'circle-progress-default14'
					});
					circleProgress({
						id: 'circle-progress-default9'
					});
					circleProgress({
						id: 'circle-progress-default9'
					});
					circleProgress({
						id: 'circle-progress-default9'
					});
				};
				showMe();
 

	//保存Cookie完毕以后就可以通过Cookie来获取当前的皮肤了  
	var cookie_skin = $.cookie("MyCssSkin");     //获取Cookie的值  
	if (cookie_skin) {                          //如果确实存在Cookie  
		switchSkin(cookie_skin);     //执行  
	}
	  
});  
function switchSkin(skinName) {     
	$("#cssfile").attr("href", "css/skin/" + skinName + ".css"); //设置不同皮肤  
	$.cookie("MyCssSkin", skinName, { path: '/', expires: 2 });  //保存Cookie  
} 


			</script>
 
