 
<!--头部-->
<nav id="nav" class="nav">
            	    	<a class="navbar-brand" style="position:absolute; top:-7px; z-index:12;" href="zh-zhaiquanzhuanrang.htm"><span class="glyphicon glyphicon-menu-left" style="color:#fff; font-size:25px;" aria-hidden="true"></span></a>

        <div class=" index_suo text-center"><span>债权转让</span></div>
</nav>
<!--头部 end-->
<style>

</style>
<div class="container">
    <div class="ff mt20 row">
        <div class="container clearfix zhuanrang">
            <span class="pull-left">转让金额：</span>
            <span class="pull-left"><input type="text" name="" value="" placeholder="请输入您要转让的金额" /></span>
            <span class="pull-right">元</span>
        </div>
    </div>
    <div class="row container zhuanrang mt20">
        <p style="font-size:16px;">转让手续费<em>0.5</em>元</p>
        <p style="font-size:16px;"><span>转让手续费是您转让金额的千分之五</span></p>
        <div class="xyb-anniu mt20"><a href="zh-zhaiquanzhuanrang-step2.htm">下一步</a></div>
    </div>
</div>
<script>
 

	//保存Cookie完毕以后就可以通过Cookie来获取当前的皮肤了  
	var cookie_skin = $.cookie("MyCssSkin");     //获取Cookie的值  
	if (cookie_skin) {                          //如果确实存在Cookie  
		switchSkin(cookie_skin);     //执行  
	}
	  
});  
function switchSkin(skinName) {     
	$("#cssfile").attr("href", "css/skin/" + skinName + ".css"); //设置不同皮肤  
	$.cookie("MyCssSkin", skinName, { path: '/', expires: 2 });  //保存Cookie  
} 

</script>

 
