<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" /><!--公用样式，包含头尾部-->
<link rel="stylesheet" type="text/css" href="css/boot_index.css" />
<link id="cssfile" type="text/css" href="css/skin/skin_0.css" rel="Stylesheet">
<link href="css/c-style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<!--<link rel="alternate icon" type="image/png" href="./images/favicon.png">
<link rel="apple-touch-icon-precomposed" href="./images/app-icon72x72@2x.png">icon图标-->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<title>新华久久贷</title>

</head>
<body>
  $screen_placeholder
</body>
</html>
<script>
 

	//保存Cookie完毕以后就可以通过Cookie来获取当前的皮肤了  
	var cookie_skin = $.cookie("MyCssSkin");     //获取Cookie的值  
	if (cookie_skin) {                          //如果确实存在Cookie  
		switchSkin(cookie_skin);     //执行  
	}
	  
});  
function switchSkin(skinName) {     
	$("#cssfile").attr("href", "css/skin/" + skinName + ".css"); //设置不同皮肤  
	$.cookie("MyCssSkin", skinName, { path: '/', expires: 2 });  //保存Cookie  
} 

</script>
