<div class="container" style="overflow-x:hidden;">
    	<div class="list-group">
          <p class="text-center" id="login_bg"><img src="/images/login_gai.png" class="img-responsive"/> </p>

            <div class="row">
			<form class="registerform" action="/register/register" method="post" id="register">
            <div class="col-sm-1 col-xs-1"> </div>
            <div class="col-sm-10 col-xs-10 mt10">
                <ul class="list-unstyled" id="gai_login">
                    <li class="clearfix mt10"><img src="/images/denglu_cion1.jpg" class="pull-left ml5" width="30"/> <input type="text" class="pull-left ml5"  placeholder="请输入手机号码" id="userPhone" name="userPhone"></li>
                    <li class="clearfix mt10"><img src="/images/denglu_cion2.jpg" class="pull-left ml5" width="30"/> <input type="password" class="pull-left ml5"  placeholder="请输入登录密码" name="userPwd" id="userPwd"></li>
                    <li class="clearfix mt10"><img src="/images/yaoqingren.jpg" class="pull-left ml5" width="30"/> <input type="text" class="pull-left ml5"  placeholder="邀请人手机号（可不填）" id="inviterPhone" name="inviterPhone"></li>
                    <li class="clearfix mt10"><img src="/images/denglu_cion3.jpg" class="pull-left ml5" width="30"/><input type="text" class="pull-left ml5"  placeholder="请输入验证码" name="Verification"  id="Verification" style="width:100px">
                    <a href="javascript:;" class="vmiddle text-center pull-right" style="line-height:38px;width:88px;position:relative; top:0px;background:#228ecf; color:#fff; display:block;" align="right"  onclick="sendMsg();" class="pull-left" id="yanzhengma">获取验证码</a></li>
                </ul>
                <p class="clearfix">
                <a href="javascript:;" onclick="register();"><img src="/images/lijizhuce.png" class="img-responsive"/> </a>
               </p>
				<p id="login_que" class="clearfix text-center">
                <a href="/login/login" style="color:#666;">已有账号？立即登录</a>
            	</p>
                <p class="text-center"> </p>
            </div>
            <div class="col-sm-1 col-xs-1"></div>
            </from>
      
	 </div>
</div>
</div>
<!-- 内容区 end -->
<script type="text/javascript">
$(document).ready(function(){
	if("$!securityError")
	layer.alert("$!securityError");
});

//密码
function userPwdCheck(){
	var userPwd=$.trim($('#userPwd').val());
	if(userPwd==null || userPwd==""){
		layer.alert('密码不能为空！');
		return false;
	}else if (userPwd != "" && userPwd.length < 6 || userPwd.length > 16){
		layer.alert("密码长度为6-16位!");
         return false;
     }
	return true;
}
//手机号
function userPhoneCheck(){
	var userPhone=$.trim($('#userPhone').val());
	if(userPhone==null || userPhone==""){
		layer.alert('手机号不能为空！');
		return false;
	}
	var reg = /^1\d{10}$/
	if(!reg.test(userPhone)){
		layer.alert('手机号格式不正确！');
		return false;
	}else{
		var returnResult=false;
		 $.ajax({
            url:'/Verification/json/Verification.json',
                type:'post',
                async:false,
                data:{"userPhone":userPhone,"flag":"2"},
                success: function(data){
                    if(data.success){
                   	 returnResult=true;          
                    }else {
                   	 layer.alert(data.message);
                    }
                },
                error : function(){
                    alert("通信异常！");
                }
        });
		 return returnResult;
	}
	return true;
}
//验证码
function VerificationCheck(){
	var Verification=$.trim($('#Verification').val());
	if(Verification==null || Verification==""){
		layer.alert('验证码不能为空！');
		return false;
	}
	return true;
}
//校验
function check(){
	var inviterPhone = $("#inviterPhone").val();
	if(inviterPhone !="" && inviterPhone != null){
		return (userPhoneCheck()
			&& CheckinviterPhone(inviterPhone)
			&& userPwdCheck() 
			&& VerificationCheck());

	}else{
		return (userPhoneCheck() 
			&& userPwdCheck() 
			&& VerificationCheck());
	
	}

}
//注册表单提交
function register(){
	if(check()){
		$('#register').submit();
	}	
}

//发送短息
function sendMsg(){
	$("#securityError").empty();
    var mobile=/^1[3458]\d{9}$/;
    var phone=$.trim($("#userPhone").val());
    var username=$.trim($("#userPhone").val());
    if(userPhoneCheck() && userPwdCheck()){
    	 $("#yanzhengma").removeAttr("onclick");
    	  $.ajax({
              url:'/register/json/sendPhoneCode.json',
                  type:'post',
                  async:false,
                  data:{"telephone":phone,"username":username},
                  success: function(data){
                      if(data.success){
                    	 $("#yanzhengma").removeAttr("onclick");
                    	 $("#yanzhengma").removeClass("c-btn").addClass("c-btn-hui");
                      	 $("#yanzhengma").html(60);                      	 
                      	 timedCount(60);
                      }else {                   	
                      	alert(data.message); 
                      	$("#yanzhengma").attr("onclick","sendMsg();");
                      }
                  },
                  error : function(){                	 
                      alert("短信发送失败！");
                      $("#yanzhengma").attr("onclick","sendMsg();");
                  }
          });
    }      
}
//验证邀请人手机号
function CheckinviterPhone(inviterPhone){
	var reg = /^1\d{10}$/
	if(!reg.test(inviterPhone)){
		layer.alert('手机号格式不正确！');
		return false;
	}
	var returnResult=false;
	$.ajax({
		 url:'/register/json/SendInviterPhone.json',
		  type:'post',
          async:false,
		  data:{"inviterPhone":inviterPhone},
		  success: function(data){
			if(data.success){
				returnResult=true;
			}else{
				layer.alert(data.message);
			}		  
		  
		  }
	});
	return returnResult;
}


//定时器
function timedCount(num){
    if(num==0){
    	$("#yanzhengma").attr("onclick","sendMsg();");
    	 $("#yanzhengma").removeClass("c-btn-hui").addClass("c-btn");
        $("#yanzhengma").html("获取验证码");
        return;
    }
    num = num - 1;
    $("#yanzhengma").html(num);
    setTimeout("timedCount("+num+")",1000); 
}
</script>