<div id="layout">
    <div region="center" title="收购满标划转" iconcls="icon-users" class="regionCenter">
        <div class="SearchForm hideClass" id="SearchForm">
            <form>
                <fieldset>
                    <legend class="ml10">信息查询</legend>
                    <div class="clearfloat search-wrap">
                        <ul class="fl search-width">
                            <li>
                                <span>项目名称：</span>
                                <span>
                                    <input type="text" name="" class="text-input ipt-w95" /></span>
                                <span class="btns-dialog fl ml5"></span>
                            </li>
                            <li>
                                <span>担保机构：</span>
                                <span>
                                    <input type="text" name="" class="text-input ipt-w95" /></span>
                                <span class="btns-dialog fl ml5"></span>
                            </li>
                            <li>
                                <span>满标日期：</span>
                                <span>
                                    <input type="text" class="text-input easyui-datebox w95" name="add_date" id=""/>
                                    至
                                    <input type="text" class="text-input easyui-datebox w95" name="add_date" id="" />
                                </span>
                            </li>
                            <li>
                                <span>项目类型：</span>
                                <span>
                                    <select class="select-input ipt-w94">
                                        <option>全部</option>
                                        <option>个人信用贷</option>
                                        <option>汽车抵押贷</option>
                                        <option>房产抵押贷</option>
                                        <option>企业经营贷</option>
                                    </select>
                                </span>
                            </li>
                            <li>
                                <span>划转日期：</span>
                                <span>
                                    <input type="text" class="text-input easyui-datebox w95" name="add_date" id=""/>
                                    至
                                    <input type="text" class="text-input easyui-datebox w95" name="add_date" id="" />
                                </span>
                            </li>
                             <li>
                                <span>划转状态：</span>
                                <span>
                                    <select class="select-input ipt-w95">
                                        <option>全部</option>
                                        <option>待划转</option>
                                        <option>已划转</option>
                                    </select>
                                </span>
                            </li>
                            
                        </ul>
                        <div class="fl search-div">
                            <a class="btns btns-primary wheight SearchHide" href="#">搜索</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="toolbar">
            @Html.Raw(ViewBag.Menus)
        </div>
        <table id="FullMoneyManagementGrid" toolbar="#toolbar" class="GridView regionTable"></table>
    </div>
</div>
<script type="text/javascript" src="/Js/P2PMoneyManage/MoneyTransferListView.js"></script>