<script type="text/javascript" src="/Js/System/main.js"></script>
<div id="layout">
    <div region="east" iconcls="icon-chart_organisation" split="true" title="我的桌面" style="width: 240px;" data-options="collapsible:true" collapsible="false">
        <div class="easyui-accordion" data-options="fit:true,border:false">
            <div title="基础信息" class="my-desk">
                <div class="fl">
                    <img src="$loginUserUtil.empHeadImg" border="0" width="70" height="70" />
##                    <img src="http://file-www.sioe.cn/201012/5/1655299809.jpg" border="0" width="70" height="70" />
                </div>
                <div class="fl pl5">
                    <ul class="pd0">
                        <li>欢迎&nbsp;<font color="red">$loginUserUtil.empName</font>&nbsp;使用本系统</li>
##                        <li>登陆时间：</li>
                    </ul>
                </div>
                <div class="pt5 pb5">
                    <div class="p-info">
                        <font color="red">所属机构</font>：
                            <span>$userOrgName</span>
                        <div class="p-info">
                            <font color="red">所属角色</font>：
                            #foreach ($roleDO in $loginUserUtil.getEmpRoles())
                                <span>$roleDO.roleName&nbsp;</span>
                            #end
                        </div>
##                        <div class="p-info"><font color="red">所属职务</font>：@ViewBag.depDuty[1]</div>
                    </div>
                </div>
##                <div title="我的关注" style="padding: 10px;"></div>
            </div>
        </div>

        <div region="center" title="我的待办" iconcls="icon-users" class="ProjectProgress pd2">

            <table id="MainGrid" toolbar="#toolbar" class="GridView">
            </table>
##            <input type="hidden" id="toDoWarnNum" value="@ViewBag.toDoWarnNum" />
        </div>
    </div>
</div>
