<div id="layout">
    <div region="center" title="项目过期提醒" iconcls="icon-users" class="regionCenter">
        <div class="SearchForm hideClass" id="SearchForm">
            <form>
                <fieldset>
                    <legend class="ml10">信息查询</legend>
                    <div class="clearfloat search-wrap">
                        <ul class="fl search-width">
                            <li>
                                <span>项目名称：</span>
                                <span>
                                    <input type="text" name="loanNo" _method="" class="text-input ipt-w95" /></span>
                            </li>
                            <li>
                                <span>借款人：</span>
                                <span>
                                    <input type="text" name="loaneeName" _method="Contains" class="text-input ipt-w80" /></span>
                            </li>
                            <li>
                                <span>担保机构：</span>
                                <span>
                                    <input type="text" name="guarGovName" _method="Contains" class="text-input ipt-w95" /></span>
                            </li>
                            <li>
                                <span>项目状态：</span>
                                <span>
                                    <select class="select-input w95" name="loanStatus" _method="Contains">
                                        <option value="">全部</option>
	                                    #foreach($loanState in $loanStates)
	                                    #if ($loanState.state == -1)
                                            <option value="100">$loanState.prompt</option>
                                        #else
                                         <option value="$loanState.state">$loanState.prompt</option>
                                         #end
	                                    #end
                                    </select>
                                </span>
                            </li>
                            <li>
                                <span>项目类型：</span>
                                <span>
                                    <select class="select-input w95"  name="loanCategory">
                                        <option value="">全部</option>
	                                    #foreach($category in $loanCategories)
                                            <option value="$category.category">$category.prompt</option>
	                                    #end
                                    </select>
                                </span>
                            </li>
                            <li>
                                <span>申请日期：</span>
                                <span>
                                    <input type="text" class="text-input easyui-datebox w95"  name="applyDateStart" id=""/>
                                    至
                                    <input type="text" class="text-input easyui-datebox w95" name="applyDateEnd" id="" />
                                </span>
                            </li>
                            <li>
                                <span>借款金额：</span>
                                <span>
                                    <input type="text" name="loanMoneyStart" class="text-input ipt-w80" /> 至 <input type="text"  name="loanMoneyEnd" class="text-input ipt-w80" /></span>
                            </li>
                        </ul>
                        <div class="fl search-div">
                            <a class="btns btns-primary wheight SearchHide" href="#" id="btnSearch">搜索</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        $control.setTemplate("common/showButton.vm")
        <table id="LoanGrid" toolbar="#toolbar" class="GridView regionTable">
        </table>
    </div>
</div>
<script type="text/javascript" src="/Js/remind/loanExpireListView.js"></script>
