<!--头部-->
<nav id="nav" class="nav">
	<a class="navbar-brand nabar_color"  href="/index/index"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
	<div class=" index_suo text-center"><span>我的投资</span></div>
</nav>
<!--头部 end-->
<div class="container">
	<div class="row">
        <div id="wdtz_nav" class="clearfix col-xs-12">
            <div class="xiangqing-biaoti2 clearfix mt20">
                <div class="col-xs-4 col-sm-4 xx" id="HKZ">
                    <a class="text-center" href="/account/myInvest/InvestRecord?investType=HKZ">回款中</a>
                </div>
            	<div class="col-xs-4 col-sm-4 xx" id="TBZ">
                    <a class="text-center" href="/account/myInvest/InvestRecord?investType=TBZ">投标中</a>
              </div>
              <div class="col-xs-4 col-sm-4 xx" id="YHK">
                  <a class="text-center" href="/account/myInvest/InvestRecord?investType=YHK">已回款</a>
              </div>
            </div>
        </div>
  </div>
	<div class="row mt10">
		<input type="hidden" id="currentPage" name="currentPage" value="1"/>
		#if($!{investType}=='HKZ')
	        <div class="list-group yhq_tab mt10" id="hkz_div">
	        	#foreach(${myInvestReceived} in $!{pagebean.recordList})
	                <div class="container clearfix c-bg-white mt10">
	                <a href="/invest/investDetail?loanId=$!{myInvestReceived.loanId}&flagLoan=1">
                        <div class="clearfix con_top pt10">
                        	<span style="word-wrap:break-word">
								$!myInvestReceived.loanNo
                        	</span>
                        </div>
                     </a>   
                            <ul class="clearfix wdtz_list list-unstyled mt10">
                                <li class="pull-left">
                                	<span>投资金额</span>
                                	<span class="fc_black"><em>$!numberUtil.currency($!myInvestReceived.investMoney)</em></span>
                                </li>
                                <li class="pull-left" style="padding-left:10px">
                                	<span>待收本金</span>
                                	<span class="fc_black"><em>$!numberUtil.currency($!myInvestReceived.DsMoney)</em></span>
                                </li>
                                <li class="pull-left">
                                	<span>下期回款日</span>
                                	<span class="fc_black"><em>$!dateUtil.formatDate($!myInvestReceived.receivedDate,"yyyy-MM-dd")</em></span>
                                </li>
                                <li class="pull-left" style="padding-left:10px">
                                	<span>下期回款金额</span>
                                	<span class="fc_black"><em>$!numberUtil.currency($!myInvestReceived.receivedMoney)</em></span>
                                </li>
                                <li class="pull-left">
                                	<span>投资时间</span>
                                	<span class="fc_black"><em>$!dateUtil.formatDate($!myInvestReceived.investDate,"yyyy-MM-dd")  $!dateUtil.formatDate($!myInvestReceived.investDate,"HH:mm:ss")</em></span>
                                </li>
                            </ul>
                            <p class="tzqx"><span class="ml10">到期日：$!dateUtil.formatDate($!myInvestReceived.endDate,"yyyy-MM-dd")</span></p>
                        
	                </div>
	            #end
	        </div>
    #end
    #if($!{investType}=='TBZ')
	    	<div class="list-group yhq_tab mt10" id="tbz_div">
	    			#foreach(${myInvestReceived} in $!{pagebean.recordList})
			        <div class="container clearfix c-bg-white mt10">
			         <a href="/invest/investDetail?loanId = $!myInvestReceived.loanId & flagLoan=1">
		                  <div class="clearfix con_top">
		                  	<span style="word-wrap:break-word">
											$!myInvestReceived.loanNo
		                  	</span>
		                  </div>
                     </a>
                 
                      #set($percent = $!resultLoanListPercent.get($!myInvestReceived.loanId))
                      <ul class="clearfix wdtz_list list-unstyled mt10">
                          <li class="pull-left">
	                          	<span>项目金额</span>
	                          	<span class="fc_black">
	                          		<em>$!numberUtil.currency($!myInvestReceived.loanMoney)</em>
	                          	</span>
                          </li>
                          <li class="pull-left" style="margin-left:10px">
	                          	<span>投资金额</span>
	                          	<span class="fc_black">
	                          		<em>$!numberUtil.currency($!myInvestReceived.investMoney)</em>
	                          	</span>
                          </li>
                          <br>
                          <li class="pull-left">
	                          	<span>投标进度</span>
	                          	<span class="fc_black">
	                          	<em>$percent%</em></span>
                          </li><br>
                          <li class="pull-left">
                          	<span>投标时间</span>
                          	<span class="fc_black">
                          		<em>$!dateUtil.formatDate($!myInvestReceived.tenderDate,"yyyy-MM-dd") $!dateUtil.formatDate($!myInvestReceived.tenderDate,"HH:mm:ss")</em>
                          	</span>
                          </li>
                         
<!--                           <li class="pull-left"><canvas id="circle-progress-$myInvestReceived.investId" width="50" height="50"></canvas></li> -->
                          <input type="hidden" id="loanCurrentValidInvest_${myInvestReceived.investId}" value='$myInvestReceived.validInvest'>
                          <input type="hidden" id="loanMoney_${myInvestReceived.investId}" value='$myInvestReceived.loanMoney'>
                          <input type="hidden" id="loanid_${myInvestReceived.investId}" value='$!{myInvestReceived.investId}'>
                      		
                      </ul>
                      <p class="tzqx">
                      	<span>期限：
                      		$!{myInvestReceived.loanPeriod}
                      		 #if($!{myInvestReceived.loanPeriodType})
                                    	#if($!{myInvestReceived.loanPeriodType}==1)
                                    	年
                                    	#elseif($!{myInvestReceived.loanPeriodType}==2)
                                    	个月
                                    	#elseif($!{myInvestReceived.loanPeriodType}==3)
                                    	日
                                    	#end
                                    #end
                      	</span>
                      	<span class="ml10">还款方式：
                      	
                      		#if($!{myInvestReceived.loanPayType})
                              	#if($!{myInvestReceived.loanPayType}==1)
                              		等额本息
                              	#elseif($!{myInvestReceived.loanPayType}==2)
                              		按月付息到期还本
                              	#elseif($!{myInvestReceived.loanPayType}==3)
                              		等额本金
                              	#elseif($!{myInvestReceived.loanPayType}==4)
                              		利随本清
                              	#end                                          
                              #end  
                                  
                      	</span>
                      </p>
                  
	        </div>
		        #end
	        </div>
    #end
    #if($!{investType}=='YHK')
	    	<div class="list-group yhq_tab mt10" id="yhk_div">
	    		#foreach(${myInvestClean} in $!{pagebean.recordList})
			   <div class="container clearfix c-bg-white mt10">
			   		<a href="/invest/investDetail?loanId = $!myInvestClean.loanId & flagLoan=1">
		                <div class="clearfix con_top">
		                	<span style="word-wrap:break-word">
										$!{myInvestClean.loanNo}
		                	</span>
		                </div>
                 	</a>
                    <ul class="clearfix wdtz_list list-unstyled mt10">
                        <li class="pull-left"><span>项目金额</span><span class="fc_black"><em>$!numberUtil.currency($!myInvestClean.loanMoney)</em></span></li>
                        <li class="pull-left" style="margin-left:10px"><span>投资金额</span><span class="fc_black"><em>$!numberUtil.currency($!myInvestClean.investMoney)</em></span></li>
                        <li class="pull-left"><span>回款金额</span><span class="fc_black"><em>$!numberUtil.currency($!myInvestClean.receivedMoney)</em></span></li>
                        <li class="pull-left" style="margin-left:10px">
	                        <span>状态</span>
	                        <span class="fc_black">
	                        	<em>
	                        		#if($!myInvestClean.state==5)
	                                  	被转让
	                                  #elseif($!myInvestClean.state==7)
	                                  	收益完成
	                                  #end
                                  </em>
	                        </span>
                        </li>
                    </ul>
                    <p class="tzqx">
                    	<span>投资时间：
                    		$!dateUtil.formatDate($!myInvestClean.investDate,"yyyy-MM-dd HH:mm:ss") ##$!dateUtil.formatDate($!myInvestClean.investDate,"HH:mm:ss")
                    	</span>

                    </p>
               
			        </div>
		        #end
	        </div>
    #end
   </div>
</div>
<script type="text/javascript">
	
	<!--投资进度加载-->
	$(function(){
		var initType = '$investType';
		if(initType=='TBZ'){
// 			$("input[id ^= 'loanid_']").each(function(){
// 				var id = $(this).val();
// 				var loanCurrentValidInvest = parseFloat($("#loanCurrentValidInvest_"+id).val());
// 				var loanMoney = parseInt($("#loanMoney_"+id).val());
// 				var compared = loanCurrentValidInvest/loanMoney*100;
// 				var compared2 = changeTwoDecimal_f(compared);
// // 				circleProgress({
// // 					id: 'circle-progress-'+id,progress:compared2,duration:1000,toFixed:2
// // 				});

// 			});
		}
		$("#"+initType).attr('class','col-xs-4 col-sm-4 xx xq_cur');
	});
	
	
	
	<!--页面滚动，动态加载数据-->
	$(document).ready(function() {
		$(window).scroll(function() {
			<!--页面滚动到顶部触发判断-->
			if ($(document).scrollTop()<=0){
				
			}
			<!--页面滚动到底部触发判断-->
			if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
				<!--判断是否存在下一页-->
				var currentPage = $("#currentPage").val();
				var pageCount='$pagebean.recordCount';
				var pageSize ='$pagebean.pageSize';
				console.log(currentPage);
				console.log(pageSize);
				console.log(pageCount);
				if((currentPage * pageSize <=pageCount)&&pageCount!=0){
					$("#currentPage").val(parseInt(currentPage)+1);
					var type = '$investType';
					<!--实现翻页效果-->
					$.ajax({
						type:"POST",
						async:false,
					    data:{"currentPage":currentPage,"investType":type},
					    url:"/account/myInvest/json/getMoreInvestInfoJSON.json",
					    success:function(data){
				    		if(type=="HKZ"){
				    			$("#hkz_div").append(data);
				    		}else if(type=="TBZ"){
				    			$("#tbz_div").append(data);
				    			<!--投资进度加载-->
// 				    			$("input[id ^= 'loanid_']").each(function(){
// 									var id = $(this).val();
// 									var loanCurrentValidInvest = parseFloat($("#loanCurrentValidInvest_"+id).val());
// 									var loanMoney = parseInt($("#loanMoney_"+id).val());
// 									var compared = loanCurrentValidInvest/loanMoney*100;
// 									var compared2 = changeTwoDecimal_f(compared);
// // 									circleProgress({
// // 										id: 'circle-progress-'+id,progress:loanCurrentValidInvest,duration:1000,toFixed:2
// // 									});
// 								});
				    		}else if(type=="YHK"){
				    			$("#yhk_div").append(data);
				    		}
					    }
					});
				}else{
			ZENG.msgbox.show("没有数据了", 1, 1000);
			}
			
			}
		});
	});
	function changeTwoDecimal_f(x) {
    var f_x = parseFloat(x);
    if (isNaN(f_x)) {
        alert('function:changeTwoDecimal->parameter error');
        return false;
    }
    var f_x = Math.round(x * 100) / 100;
    var s_x = f_x.toString();
    var pos_decimal = s_x.indexOf('.');
    if (pos_decimal < 0) {
        pos_decimal = s_x.length;
        s_x += '.';
    }
    while (s_x.length <= pos_decimal + 2) {
        s_x += '0';
    }
    return parseFloat(s_x);
}
</script>