<div id="layout">
    <div region="center" title="退回审核" iconcls="icon-users" class="regionCenter">
        <div class="SearchForm hideClass" id="SearchForm">
            <form>
                $csrfToken.hiddenField
                <fieldset>
                    <legend class="ml10">信息查询</legend>
                    <div class="clearfloat search-wrap">
                        <ul class="fl search-width">
                            <li>
                                <span>项目名称：</span>
                                <span>
                                    <input type="text" id="intentNo" name="pro_intent_no" _method="Contains" class="text-input ipt-w95" />
                                </span>
                            </li>
                            <li>
                                <span>借款人：</span>
                                <span>
                                    <input type="text" id="userName" name="loan_user_name" _method="Contains" class="text-input ipt-w95" />
                                </span>
                            </li>
                            <li>
                                <span>借款金额：</span>
                                <span>
                                    <input type="text" id="intentMoneyFrom" name="pro_loan_money" class="text-input ipt-w95" _method="GreaterThanOrEqual" />
                                    至
                                    <input type="text" id="intentMoneyTo" name="pro_loan_money" class="text-input ipt-w95" _method="LessThanOrEqual" />
                                </span>
                            </li>
                            <li>
                                <span>退回申请日期：</span>
                                <span>
                                    <input type="text" id="intentTimeFrom" name="pro_back_date" class="text-input easyui-datebox w95" _method="GreaterThanOrEqual" />
                                    至
                                    <input type="text" id="intentTimeTo" name="pro_back_date" class="text-input easyui-datebox w95" _method="LessThanOrEqual" />
                                </span>
                            </li>
                            <li>
                                <span>项目类型：</span>
                                <span>
                                    <select id="intentCategory" class="select-input ipt-w94" name="pro_product_type">
                                        <option  value="">全部</option>
                                        <option value="1">个人信用贷</option>
                                        <option value="2">汽车抵押贷</option>
                                        <option value="3">房产抵押贷</option>
                                        <option value="4">企业经营贷</option>
                                    </select>
                                </span>
                            </li>
                            <li>
                                <span>审核状态：</span>
                                <span>
                                    <select id="reviewState" class="select-input ipt-w94" name="pro_back_state">
                                        <option value="">全部</option>
                                        <option value="0" selected>待审核</option>
                                        <option value="1">审核已通过</option>
                                        <option value="2">审核未通过</option>
                                    </select>
                                </span>
                            </li>
                        </ul>
                        <div class="fl search-div">
                            <a class="btns btns-primary wheight SearchHide" href="#" id="bntSearch">搜索</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        
        $control.setTemplate("common/showButton.vm")
        <table id="LoanBackListGrid" toolbar="#toolbar" class="GridView regionTable"></table>
    </div>
</div>
<script type="text/javascript" src="/Js/review/LoanBackListCheckView.js"></script>
