<script type="text/javascript" src="/Js/P2PUC/FileUploadView.js"></script>
<div id="wrap">
    <form id="Colyn">
    <table cellpadding="0" cellspacing="0" id="rateTable" class="grid removeMinwidth gridBorder0">
          $control.setTemplate("common/projectInfoView.vm").setParameter("loanId", $loanId)
##         @{Html.RenderAction("FileUploadView", "P2PUC", new { isUpload = false, classId = 2, dataId = ViewBag.LoanId });}
          $control.setTemplate("common/projectInvestListView.vm").setParameter("bidId", $loanId).setParameter("bidType", 0)
	    $control.setTemplate("common/fileUploadView.vm").setParameter("fileUploadClassType", $fileUploadClassType).setParameter("fileUploadSecondaryClass", $fileUploadSecondaryClass).setParameter("dataId", $dataId).setParameter("isUpload","False")
    </table>  
    </form>
</div>
