<div id="layout">
    <div region="center" title="修改密码" iconcls="icon-nav" class="regionCenter">
        <div id="wrap">
            <form id="Colyn">
                <table class="grid">
                    <tr>

                        <td class="leftTD" style="width: 45%">旧密码：</td>
                        <td class="rightTD">
                            <input type="hidden" id="empId"  value="$loginUserUtil.empId"/>
                            <input type="password" name="oldPass" id="oldPass" class="text-input w170 easyui-validatebox" data-options="required:true" />
                        </td>
                    </tr>
                    <tr>
                        <td class="leftTD" style="width: 45%">新密码：</td>
                        <td class="rightTD">
                            <input type="password" name="newPass" id="newPass" class="text-input w170 easyui-validatebox" data-options="required:true, validType:['length[6,20]']" />
                        </td>
                    </tr>
                    <tr>
                        <td class="leftTD" style="width: 45%">确认密码：</td>
                        <td class="rightTD">
                            <input type="password" name="emp_Password" id="empPassword" class="text-input w170 easyui-validatebox" validtype="EqualTo['#newPass']" data-options="required:true, validType:['length[6,20]']" />
                        </td>
                    </tr>
                </table>
                <div class="btn-div">
                    <a href="javascript:;" class="btns btns-primary" id="EditPass">确定修改</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/Js/orgpassword/OrgPwdEditView.js"></script>
