<script src="/Js/LinqJs/linq.min.js"  type="text/javascript" ></script>
<script src="/Js/LinqJs/linq.jquery.js"  type="text/javascript" ></script>
<script type="text/javascript" src="/Js/System/RoleManage.js"></script>
<div id="layout" style="margin:10px">  
    <div region="center" title="角色列表" iconcls="icon-nav" class="regionCenter">
        <div id="toolbar">
           #showButton
        </div>
        <table id="RoleGrid" toolbar="#toolbar" class="GridView"></table>
    </div>
</div>
