<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->
<!--content-->
<div class="c-zc c-rad5">
	<ul class="clearfloat c-zhmm-title">
    	<li style="width:12px;" class="fl xian mt10"></li>
        #if($!flag==1)
        	<li class="fl z16 ml5">找回登录密码</li>
        #elseif($!flag==2)
         	<li class="fl z16 ml5">找回交易密码</li>
        #end
        <li style="width:780px;" class="fl xian mt10 ml5"></li>
    </ul>
    <form class="c-dl-box" action="/login/getpassword4" id="getpasswordForm" method="post">
    	<input type="hidden" name="flag" value="$!flag"/>
        <input type="hidden" name="emailOrPhone" value="$!emailOrPhone"/>
        <input type="hidden" name="type" value="$!type"/>
        <ul class="c-zjmm-con">	
        	#if($!flag==1)
        		<li class="c-font16">请重设你的账号密码</li>
        	#elseif($!flag==2)
        		<li class="c-font16">请重设你的交易密码</li>
        	#end
        	<li>
                <input class="c-zhmm-input-password" type="password" name="password" id="password" value="" placeholder="请输入密码" datatype="range2-6" nullmsg="请确认密码！" errormsg="密码有误！" />
                <div class="Validform_checktip"><font color="red" id="psWrong"></font></div>
            </li>
        	<li>
                <input class="c-zhmm-input-password" type="password" name="repassword" id="repassword" value="" placeholder="请确认密码" datatype="range2-6" nullmsg="请确认密码！" errormsg="确认密码有误！" />
                <div class="Validform_checktip"><font color="red" id="repsWrong"></font></div>
            </li>
        	<li><a class="c-btn c-zhmm-btn" href="javascript:;" onclick="formSubmit()">下一步</a></li>
        </ul>
    </form>    
</div>
<!--content end-->

<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
<script type="text/javascript">
function formSubmit()
{
	$("#psWrong, #repsWrong").text('');
	if(checkPs() && checkReps())
	{
		$("#getpasswordForm").submit();	
	}
}
function checkPs()
{
	var password = $.trim($("#password").val());
	if(password=="")
	{
		$("#psWrong").text("密码不能为空");
		return false;
	}
	if(password.length < 6 || password.length > 16) {
		$("#psWrong").text("密码长度为6-16位");
		return false;
	}
	return true;
}
function checkReps()
{
	var password = $.trim($("#password").val());
	var repassword = $.trim($("#repassword").val());
	if(repassword=="")
	{
		$("#repsWrong").text("确认密码不能为空");
		return false;
	}
	if(password!=repassword)
	{
		$("#repsWrong").text("两次密码输入不一致");
		return false;
	}
	return true;
}
/* $(function(){

	$(".c-dl-box").Validform({
        postonce:true, //表单只能提交一次，提交成功后再提交表单将不会有操作
        tiptype:function(msg,o,cssctl){
            if(!o.obj.is("form")){//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
                var objtip=o.obj.next(".Validform_checktip");
                cssctl(objtip,o.type);
                objtip.text(msg);
                //判断是否正确
                if(o.type==2){ //验证成功
                    o.obj.css("border-color","blue");
                }else{ //验证失败
                    o.obj.css("border-color","red");
                }
            }
        }
	});
}) */
</script>
