<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->
<!--content-->
<div class="c-zc c-rad5">
	<ul class="clearfloat c-zhmm-title">
    	<li style="width:12px;" class="fl xian mt10"></li>
        #if($!flag==1)
        	<li class="fl z16 ml5">找回登录密码</li>
        #elseif($!flag==2)
         	<li class="fl z16 ml5">找回交易密码</li>
        #end
        <li style="width:780px;" class="fl xian mt10 ml5"></li>
    </ul>
    <form class="c-dl-box" action="/login/getpassword3" id="getpasswordForm" method="post">
       <input type="hidden" name="flag" value="$!flag"/>
       <input type="hidden" name="emailOrPhone" value="$!emailOrPhone"/>
       <input type="hidden" name="type" value="2"/>
        <ul class="c-zjmm-con">	
        	<li class="c-font16">系统已经发送验证码到$!emailOrPhone<br/>请输入手机中的验证码重置您的密码</li>
        	<li>
                <ul class="clearfloat">
                    <li class="fl">
	                    <input class="c-zhmm-input-yzm" type="text" id="securityCode" name="securityCode" value="" placeholder="请输入验证码" datatype="range2-6" nullmsg="请输入验证码！" errormsg="验证码输入有误！" />
	                    <div class="Validform_checktip">
	                    	<font color="red" id="wrongMsg"></font>
	                    </div>
                    </li>
                    <li class="fl ml30" style="line-height:36px;"><a href="javascript:;" onclick="reSend();" class="c-blue" id="GetPhoneCode"></a></li>
                </ul>
            </li>
        	<li><a class="c-btn c-zhmm-btn" href="javascript:;" onclick="formSubmit();">下一步</a></li>
        </ul>
    </form>    
</div>
<!--content end-->

<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
<script type="text/javascript">
function formSubmit()
{
	var securityCode = $.trim($("#securityCode").val());
	if(securityCode=="")
	{
		$("#wrongMsg").text("验证码不能为空");
		return;
	}
	
	 $.ajax(
	{
         url:'/login/json/CheckPhoneCode.json',
             type:'post',
             async:false,
			 data:{"securityCode":securityCode},
             success: function(data)
             {
            	 if(!data.success)
            	 {
            		 $("#wrongMsg").text("验证码错误");
            	 }
            	 else
            	 {
            		 
            		 $("#getpasswordForm").submit();	
            	 }
             }
	 });
	     
}
function reSend()
{
	document.getElementById("GetPhoneCode").onclick=null;
	 $.ajax({
		     
             url:'/login/json/SendPhoneCode.json',
             type:'post',
             data:{"userphone":'$userphone',"username":'$username'},
             success: function(data)
             {
	             if(data.success){
	            	 timedCount(51);
	             }
	             else{
	            	 $("#wrongMsg").text("短信发送失败");
	             }
             }
	 });
}
function timedCount(num){
	$("#GetPhoneCode").html("<span id='num'></span>秒重新发送");
    if(num==0){
        $("#GetPhoneCode").html("重新发送");
        document.getElementById("GetPhoneCode").onclick=reSend;
        return;
    }
    num = num - 1;
    $("#num").html(num);
    setTimeout("timedCount("+num+")",1000); 
}
$(document).ready(function(){
	document.getElementById("GetPhoneCode").onclick=null;
	timedCount(51);
});             
</script>
