<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->
<!--content-->
<div class="c-zc c-rad5">
	<ul class="clearfloat c-zhmm-title">
    	<li style="width:12px;" class="fl xian mt10"></li>
        #if($!flag==1)
        	<li class="fl z16 ml5">找回登录密码</li>
        #elseif($!flag==2)
         	<li class="fl z16 ml5">找回交易密码</li>
        #end
        <li style="width:780px;" class="fl xian mt10 ml5"></li>
    </ul>
    <form class="c-dl-box" action="/login/getpassword3" id="getpasswordForm" method="post">
       <input type="hidden" name="flag" value="$!flag"/>
       <input type="hidden" name="emailOrPhone" value="$!emailOrPhone"/>
       <input type="hidden" name="type" value="1"/>
        <ul class="c-zjmm-con">	
        	<li class="c-font16">系统已经发送验证码到$!emailOrPhone<br/>请输入邮箱中的验证码重置您的密码</li>
        	<li>
                <ul class="clearfloat">
                    <li class="fl">
                    
                    <input class="c-zhmm-input-yzm" type="text" name="securityCode" id="securityCode" value="" placeholder="请输入验证码" datatype="range2-6" nullmsg="请输入验证码！" errormsg="验证码输入有误！" />
                    <div class="Validform_checktip"><font color="red" id="wrongMsg"></font></div>
                    </li>
                    <li class="fl ml30" style="line-height:36px;"><a href="javascript:;" onclick="Send()" class="c-blue" id="GetPhoneCode"><span id="num"></span>秒重新发送</a></li>
                </ul>
            </li>
        	<li><a class="c-btn c-zhmm-btn" href="javascript:;" onclick="formSubmit();">下一步</a></li>
        </ul>
    </form>    
</div>
<!--content end-->

<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
<script type="text/javascript">
function Send()
{
	 document.getElementById("GetPhoneCode").onclick=null;
	 $.ajax({
         url:'/login/json/SendMailCode.json',
             type:'post',
             data:{"emailOrPhone":'$emailOrPhone'},
             success: function(data)
             {
	             if(data.success)
	             {
	            	 timedCount(51);
	             }
	             else{
	            	 $("#wrongMsg").text("邮件发送失败");
	             }
             }
	 });
}
function formSubmit()
{
	var securityCode = $.trim($("#securityCode").val());
	if(securityCode=="")
	{
		$("#wrongMsg").text("验证码不能为空");
		return;
	}
	
	 $.ajax(
	{
         url:'/login/json/CheckMailCode.json',
             type:'post',
             async:false,
			 data:{"securityCode":securityCode},
             success: function(data)
             {
            	 if(!data.success)
            	 {
            		 $("#wrongMsg").text("验证码错误");
            	 }
            	 else
            	 {
            		 $("#getpasswordForm").submit();	
            	 }
             }
	 });
}

$(document).ready(function(){
	document.getElementById("GetPhoneCode").onclick=null;
	timedCount(51);
});
function timedCount(num){
	$("#GetPhoneCode").html("<span id='num'></span>秒重新发送");
    if(num==0){
        document.getElementById("GetPhoneCode").onclick=Send;
        $("#GetPhoneCode").html("重新发送");
        return;
    }
    num = num - 1;
    $("#num").text(num);
    setTimeout("timedCount("+num+")",1000); 
}
</script>

<!-- /* function timedCount(num){
    if(num==0){
        $("#GetPhoneCode").html("重新发送");
        return;
    }
    num = num - 1;
    $("#num").text(num);
    setTimeout("timedCount("+num+")",1000); 
}
$(document).ready(function(){
	
	timedCount(51);
});  */
/* $(function(){

	$(".c-dl-box").Validform({
        postonce:true, //表单只能提交一次，提交成功后再提交表单将不会有操作
        tiptype:function(msg,o,cssctl){
            if(!o.obj.is("form")){//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
                var objtip=o.obj.next(".Validform_checktip");
                cssctl(objtip,o.type);
                objtip.text(msg);
                //判断是否正确
                if(o.type==2){ //验证成功
                    o.obj.css("border-color","blue");
                }else{ //验证失败
                    o.obj.css("border-color","red");
                }
            }
        }
	});
}) */ -->

