@*@{
    ViewBag.JsSelf = "../../Js/Plug/zTree/Js/jquery.ztree.core-3.5.min.js";
}*@
@*<link href="/Js/Plug/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css" />*@
<link href="../../Js/Plug/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
@*<script type="text/javascript" src="/Js/P2PUC/CustomerManagementListView.js"></script>*@
<script src="../../Js/P2PUC/CustomerManagementListView.js"></script>
<script src="../../Js/Plug/zTree/Js/jquery.ztree.core-3.5.min.js"></script>
<div id="layout" >
    <div region="west" iconcls="icon-chart_organisation" split="true" title="客户信息管理" class="regionTree" data-options="collapsible:true" collapsible="false">
        <ul id="MenuTree" class="ztree"></ul>
    </div>
    <div region="center" title="客户信息管理" iconcls="icon-users"  class="ManageTemp regionCenter"
        data-options="split:true, tools: [{iconCls:'icon-arrow_rotate_clockwise',title:'返回菜单列表',handler:function(){PageReturn.returnUrl()}}]">
    </div>
</div>

