<?xml version="1.0" encoding= "UTF-8"?>
<configuration debug= "false">

    <appender name ="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder >
            <pattern>%p [%c] %L - [%m] %n</pattern>
        </encoder >
    </appender >

    <appender name ="ASYNC_CONSOLE" class= "ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref ="CONSOLE"/>
    </appender>


    <logger name="org.springframework">
        <level value="error"/>
    </logger>
    <logger name="org.hibernate">
        <level value="error"/>
    </logger>
    <logger name="druid.sql.*">
        <level value="DEBUG"/>
    </logger>




    <root level ="debug">
        <appender-ref ref ="CONSOLE" />
    </root >
</configuration>
