
### 项目投资的分页信息
### 需要传入的字段：
### bidId	:项目id，		必选
### bidType	:项目类型，	可选，具体数值参见 BidType 这个枚举
### page	:当前第几页，	可选，默认为1
### rows	:页大小，		可选，默认为10


#set($Layout = "null")
#set($aa = "")	

<script>	
var BidType = parseInt($bidType);
    var BidId = parseInt($bidId);

</script>

<tbody>
    <tr>
        <td colspan="6" class="lefts">
            <ul>
                <li class="fl ml10 icon-bi">
                    #if ($bidType == 1)
                        #set($aa = "受让信息")
                        受让信息
                    #elseif ($bidType == 2)
                        #set($aa = "认购信息")
                        认购信息
                    #else
                        #set($aa = "投资信息")
                        投资信息
                    #end
                </li>
                <li class="fr mr20"><a href="javascript:;" class="sjtop folding2"></a></li>
            </ul>
            <div class="clear"></div>
        </td>
    </tr>

    <tr>
        <td colspan="6">
            <table id="InvestGrid" class=" "></table>
        </td>
    </tr>
</tbody>

<script type="text/javascript" src="/Js/Common/ProjectInvestListView.js" ></script>


