<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->
<!--content-->
<div class="c-zc c-rad5">
	<ul class="clearfloat c-zhmm-title">
    	<li style="width:12px;" class="fl xian mt10"></li>
    	#if($!flag==1)
        	<li class="fl z16 ml5">找回登录密码</li>
        #elseif($!flag==2)
         	<li class="fl z16 ml5">找回交易密码</li>
        #end
        <li style="width:780px;" class="fl xian mt10 ml5"></li>
    </ul>
     <form class="c-dl-box" action="/login/getpassword2Email" id="getpasswordForm" method="post">
	    <div style="padding-left:310px; margin-bottom: 30px;">
	    	<input type="hidden" name="flag" value="$!{flag}"/>
	     	<input type="radio" id="emailradio" name="radiox" onclick="changeType('/login/getpassword2Email',1);"/>邮箱找回
	     	<input type="radio" id="phoneradio" name="radiox" onclick="changeType('/login/getpassword2Phone',2);"/>手机号找回
	    </div>
     	<!-- 邮箱找回 -->
        <ul class="c-zjmm-con" id="emailUL">	
            <li>
            	<input class="c-zhmm-input-name" type="text" name="emailOrPhone" id="emailOrPhone" value="$!emailOrPhone" onfocus="clear()" placeholder="请输入您绑定的邮箱" datatype="range2-6" nullmsg="请输入您绑定的邮箱或手机号！" errormsg="邮箱或手机号输入有误！"/>
				<div class="Validform_checktip"><font color="red" id="wrong">$!msgPhone $!msgEmail</font></div>
            </li>
            <li>
                <ul class="clearfloat">
                    <li class="fl">
	                    <input class="c-zhmm-input-yzm" type="text" name="securityCode" id="securityCode" value="" placeholder="请输入验证码" datatype="range2-6" nullmsg="请输入验证码！" errormsg="验证码输入有误！" />
	                    <div class="Validform_checktip">
	                    	<font color="red" id="codeWrong">$!msgImageCode</font>
	                    </div>
                    </li>
                    <li class="fr"> <img src="/securityCode/json/code.json"  class="vmiddle" onclick="this.src='/securityCode/json/code.json?d='+new Date().getTime()" /></li>
                </ul>
            </li>
            <li><a class="c-btn c-zhmm-btn" href="javascript:;" onclick="formSubmit();">下一步</a></li>
        </ul>
     </form>    
</div>
<!--content end-->

<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
<script type="text/javascript">
var regEmail = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/; //邮箱正则
var regPhone = /^(0|86|17951)?(13[0-9]|15[012356789]|18[0-9]|14[57])[0-9]{8}$/;//手机号正则
var flag=1;
		$(document).ready(function()
		{
			$("#emailradio").attr("checked","checked");
			if($type){
                var type = $type;
				if(type==1)
				{
	                $("#getpasswordForm").attr("action","/login/getpassword2Email");
					$("#emailOrPhone").attr("placeholder","请输入您绑定的邮箱");
				} else if(type==2)
				{
	                $("#getpasswordForm").attr("action","/login/getpassword2Phone");
					$("#phoneradio").attr("checked","checked");
					$("#emailOrPhone").attr("placeholder","请输入手机号");
				}
				
				flag=type;
			}
		});
function formSubmit()
{
	if(check())
    {
		$("#getpasswordForm").submit();
	}
}
function changeType(type,value)
{
	$("#getpasswordForm").attr("action",type);
	
	$('#emailOrPhone, #securityCode').val('');
	$('#wrong, #codeWrong').html('');
	
	if(value==1) {
		$("#emailOrPhone").attr("placeholder","请输入您绑定的邮箱");
	} else if(value==2) {
		$("#emailOrPhone").attr("placeholder","请输入手机号");
	}
	flag=value;
}
function check()
{
	var emailOrPhone = $("#emailOrPhone").val();
	if($.trim(emailOrPhone)=="")
	{
		if(flag==1)
		{
			$("#wrong").text("请输入邮箱");
			return false;
		}
		if(flag==2)
		{
			$("#wrong").text("请输入手机号");
			return false;
		}
	}
	if(flag==1)
	{
		if(!regEmail.test(emailOrPhone))
		{
			$("#wrong").text("邮箱格式不正确");
			return false;
		}else{
			$("#wrong").text("");
		}
	}
	if(flag==2)
	{
		if(!regPhone.test(emailOrPhone))
		{
			$("#wrong").text("手机号格式不正确");
			return false;
		}else{
			$("#wrong").text("");
		}
	}
	if($.trim($("#securityCode").val())=="")
	{
		$("#codeWrong").text("验证码不能为空");
		return false;
	}else{
		$("#codeWrong").text("");
	}
	return true;
}
function clear()
{
	$("#wrong").text("");
}
/* $(function(){

	$(".c-dl-box").Validform({
        postonce:true, //表单只能提交一次，提交成功后再提交表单将不会有操作
        tiptype:function(msg,o,cssctl){
            if(!o.obj.is("form")){//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
                var objtip=o.obj.next(".Validform_checktip");
                cssctl(objtip,o.type);
                objtip.text(msg);
                //判断是否正确
                if(o.type==2){ //验证成功
                    o.obj.css("border-color","blue");
                }else{ //验证失败
                    o.obj.css("border-color","red");
                }
            }
        }
	});
}) */
</script>
