<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->
<!--content-->
<div class="c-zc c-rad5">
	<ul class="clearfloat c-zhmm-title">
    	<li style="width:12px;" class="fl xian mt10"></li>
        #if($!flag==1)
        	<li class="fl z16 ml5">找回登录密码</li>
        #elseif($!flag==2)
         	<li class="fl z16 ml5">找回交易密码</li>
        #end
        <li style="width:780px;" class="fl xian mt10 ml5"></li>
    </ul>
    <ul class="c-zjmm-con" style="text-align:center; line-height:28px;">
    	#if($!flag==1)
        	 <li class="c-font24 mb15">登录密码重置成功</li>
        	 <li class="c-font18"><span id="times"></span>秒后跳转至登录页面</li>
       		 <li>立即进入<a class="c-blue" href="/login/login">登录页面</a></li>
        #elseif($!flag==2)
         	 <li class="c-font24 mb15">交易密码重置成功</li>
         	 <li class="c-font18"><span id="times"></span>秒后跳转至我的账户页面</li>
        	 <li>立即进入<a class="c-blue" href="/account/myAccount/accountOverview">我的账户页面</a></li>
        #end      
        
    </ul>
</div>
<!--content end-->
<script>
$(document).ready(showTime);
var t = 3;
function showTime()
{  
	$("#times").text(t);
    t -= 1;    
    if(t==0){  
    	if($!flag==1){
    		location.href='/login/login';
    	}else if($!flag==2){
    		location.href='/account/myAccount/accountOverview';
    	}
         
    }  
    //每秒执行一次,showTime()  
    setTimeout("showTime()",1100);  
}
</script>
<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
