* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: "宋体";
    font-size: 14px;
    color: #fff;
    background: url(/Images/Login/index_bg.jpg) repeat-x top #12438F;
}

img {
    vertical-align: middle; 
    border: 0;
}

#login {
    margin: auto;
    width: 630px;
    background: url(/Images/Login/Autologin_bg.jpg) no-repeat;
    height: 260px;
    margin-top: 200px;
    text-align: left;
}

#loginform {
    padding-top: 90px;
    padding-right: 10px;
    margin-left: 280px;
    margin-top: 0;
}

#loginform ul {
        margin: 0;
        list-style: none;
    }

li {
    margin-top: 4px;
    clear: both;
}

label {
    width: 70px;
    display: block;
    float: left;
}

input {
    border: 1px solid #919B9C;
    width: 200px;
    background: #CCFFFF;
    padding-left: 2px;
    font-size: 12px;
}

#btnLi {
    margin-top: 8px;
}

#btn {
    width: 91px;
    background: none;
    height: 20px;
    border: none;
}

#loginform img {
    cursor: pointer;
    height: 22px;
    width: 60px;
}

#vcode {
    width: 60px;
}

#imgCode {
    width: 45px;
    height: 12px;
    margin-left: 10px;
}

#indexcopy {
    color: #FFFFFF;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #C5873A;
    text-decoration: none;
}

#loginTop1 {
    width: 460px;
    height: 64px;
    z-index: 99;
    position: absolute;
    background: url(/Images/Login/login_logo1.png) no-repeat;
    top: 134px;
    left: 50%;
    margin-left: -230px;
}


#MessagerShow {
    text-align:center;
    line-height:60px;
    color:red;
    font-size:14px;    
}
#LoginInput {
    width: 130px; 
    border-left-style: none; 
    border-right-style: none; 
    border-top-style: none;
}