 .menu
    {
    position: absolute;
    margin: 0;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    }
 .menu-text
    {
    height:auto;
    line-height: 20px;
    float: left;
    padding-left: 28px;
    font-size: 12px;
    }
#tmenu
{
  width:80px;
  height:auto;
  padding:0px;
  margin:0px;
  position:absolute;
  left:0;
  display:none; 
  top:0;
  z-index:9999999999999999;
 }