<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>合作伙伴</title>
<meta name="description" content="网站描述" />
<meta name="keywords" content="网站关键词" />
<script src="/Js/jquery1.8.3.js"></script>
<script src="/Js/superslide.2.1.js"></script>
<script src="/Js/jquery.knob.js"></script><!--圆圈百分比-->
<!-- <script type="text/javascript" src="/Js/iealert.js"></script>判断浏览器 -->

<link href="/Css/comment.css" type="text/css" rel="stylesheet">
<link href="/Css/j-index.css" type="text/css" rel="stylesheet">
<link href="/Css/c-style.css" type="text/css" rel="stylesheet" />
<link href="/Css/other.css" type="text/css" rel="stylesheet">
<!-- <link rel="stylesheet" href="/Css/iealert.css">判断浏览器 -->
</head>
<body>
$screen_placeholder
</body>
</html>