<!--left-->
    	<div class="fl c-sub-left">
            <ul>
                <li><a href="/infomation/hangyezixun" class="$!hangyezixun">行业资讯</a></li>
                <li><a href="/infomation/investmentlist" class="$!investmentlist">投资风云榜</a></li>
                <li><a href="/infomation/hezuohuoban" class="$!hezuohuoban">合作伙伴</a></li>
                <li><a href="/infomation/youqinglianjie" class="$!youqinglianjie">友情链接</a></li>
            </ul>
        </div>
        
<!-- leftEnd -->
