<div id="wrap">
    <input type="hidden" id="govId" value="$!govId" />
    <table id="OrgCheckIdearGrid" class="GridView regionTable"></table>
</div>
<script type="text/javascript" src="/Js/government/GovCheckIdearView.js"></script>
