<script type="text/javascript" src='/Js/government/GetRelatedGuarGovListView.js'> </script>
<div id="GuaranteeGovLayout">
    <form class="SearchItems">
        <fieldset>
            <legend class="ml10">信息查询</legend>
            <div class="clearfloat search-wrap" id="Search">
                <ul class="fl search-width">
                    <li>
                        <span>机构名称：</span>
                        <span>
                            <input type="text" name="govName" id="govName" class="text-input ipt-w80 fl" _method="Contains" /></span>
                    </li>
                    #*<li>
                        <span>可担保额度：</span>
                        <span>
                            <input type="text" name="govSettGuarMoney" class="text-input ipt-w80 easyui-validatebox fl" data-options="validType:['Money']" _method="GreaterThanOrEqual" />
                        </span>
                        <span>至</span>
                        <span>
                            <input type="text" name="govSettGuarMoney" class="text-input ipt-w80 easyui-validatebox fl" data-options="validType:['Money']" _method="LessThanOrEqual" /></span>
                    </li>*#
                </ul>
                <div class="fl search-div">
                    <a class="btns btns-primary wheight" id="searEmp" href="javascript:void(0)">搜索</a>
                </div>
            </div>
        </fieldset>
    </form>

    <input type="hidden" id="hdfDuty" value="$!duty" />
    <input type="hidden" id="govId" value="$!govId" />
    <div region="center" iconcls="icon-users" title="" class="cust pd2 gridTdBorder0 regionCenter">
        <table id="GuaranteeGovListGrid" class="GridView regionTable "></table>
    </div>

</div>
