<script type="text/javascript" src="/Js/account/OpenAccountView.js"> </script>
<script type="text/javascript" src="/Js/Common/AreaOfTwoLinkage.js"> </script>

<form id="Colyn">
   
    <table cellpadding="0" cellspacing="0" class="grid removeMinwidth gridBorder0">
        <tbody>
            <tr>
                <td colspan="3" class="lefts">
                    <ul>
                        <li class="fl ml10 icon-bi">账户开户</li>
                        <li class="fr mr20"><a href="javascript:;" class="sjtop folding2"></a></li>
                    </ul>
                    <div class="clear"></div>
                </td>
            </tr>
            <tr>
                <td class="leftTD">客户姓名：</td>
                <td class="rightTD">
                     <input type="text" class="text-input easyui-validatebox w170" data-options="required:true,validType:'LengthArea[2,12]'" id="act_user_name" name="act_user_name" value="$!account.accountUserName" />
                </td>
            </tr>
            <tr>
                <td class="leftTD">开户账户：</td>
                <td class="rightTD" title="建议与手机号码保持一致！例：13288888888">
                     <input type="text" class="text-input easyui-validatebox w170" data-options="required:true,validType:'Account'" id="act_account_no" name="act_account_no" value="$!account.accountNo" />
                </td>
            </tr>
            <tr>
                <td class="leftTD">身份证号：</td>
                <td class="rightTD">
                    <input type="text" class="text-input easyui-validatebox w170" data-options="required:true,validType:'IdCard'" name="act_user_card" value="$!account.accountUserCard" />
                </td>
            </tr>
            <tr>
                <td class="leftTD">手机号码：</td>
                <td class="rightTD" title="建议与开户账户保持一致！">
                     <input type="text" class="text-input easyui-validatebox w170" data-options="required:true,validType:'Mobile'" name="act_user_phone" value="$!account.accountUserPhone" />
                </td>
            </tr>
            <tr>
                <td class="leftTD">邮箱地址：</td>
                <td class="rightTD">
                    <input type="text" class="text-input easyui-validatebox w170" data-options="validType:'Email'" name="act_user_email" value="$!account.accountUserEmail" />
                </td>
            </tr>
            <tr>
                <td class="leftTD">开户行地区：</td>
                <td class="rightTD" id="tdKhhdqdm">
                    <select id="act_bank_area_noA">
                    </select>
                    <select id="act_bank_area_noB" name="act_bank_area_no">
                    </select>
                    <input type="hidden" id="hdfact_bank_area_no" value="$!account.accountBankArea" />
                </td>
            </tr>
            <tr>
                <td class="leftTD">开户行行别：</td>
                <td class="rightTD" id="tdKhhhb">
                    <select id="act_bank_level" name="act_bank_level">
                    </select>
                    <input type="hidden" id="hdfact_bank_level" value="$!account.accountBankName" />
                </td>
            </tr>
            <tr>
                <td class="leftTD">开户行支行名称：</td>
                <td class="rightTD" id="tdKhhzhmc">
                     <input type="text" class="text-input easyui-validatebox w170" data-options="validType:'MaxLength[32]'" name="act_bank_name" value="$!account.accountBankBranchName" />
                </td>
            </tr>
            <tr>
                <td class="leftTD">银行账号：</td>
                <td class="rightTD" id="tdKhhyhzh">
                    <input type="text" class="text-input easyui-validatebox w170" data-options="required:true,validType:'LengthArea[10,19]'" name="act_user_account" value="$!account.accountUserAccount" />
                </td>
            </tr>
            <tr>
                <td class="leftTD">提现密码：</td>
                <td class="rightTD">
                     <input type="password" class="text-input easyui-validatebox w170" data-options="validType:'MaxLength[15]'" id="act_cash_pwdA" name="act_cash_pwd" value="$!account.accountCashPwd" />
                </td>
            </tr>
            <tr>
                <td class="leftTD">确认提现密码：</td>
                <td class="rightTD">
                    <input type="password" class="text-input easyui-validatebox w170" data-options="validType:'MaxLength[15]'" id="act_cash_pwdB" value="$!account.accountCashPwd" />
                </td>
            </tr>
            <tr>
                <td class="leftTD">登录密码：</td>
                <td class="rightTD">
                     <input type="password" class="text-input easyui-validatebox w170" data-options="validType:'MaxLength[15]'" id="act_login_pwd" name="act_login_pwd" value="$!account.accountLoginPwd" />
                </td>
            </tr>
            <tr>
                <td class="leftTD">备注：</td>
                <td class="rightTD">
                    <input type="text" class="text-input easyui-validatebox w170" data-options="validType:'MaxLength[20]'" id="act_account_mark" name="act_account_mark" value="$!account.accountMark" />
                </td>
            </tr>
        </tbody>
    </table>
    <input id="hdfIsOk" type="hidden" value="@ViewBag.IsOK" />
     <div class="btn-div"><a href="#" id="btnOK"  class="btns btns-primary">确认开户</a></div>
</form>
