<div id="layout" style="margin:10px">  
    <div region="center" title="银行账户管理" iconcls="icon-nav" class="regionCenter">
    	<div class="SearchForm hideClass" id="SearchForm">
            <form>
                <fieldset>
                    <legend class="ml10">信息查询</legend>
                    <div class="clearfloat search-wrap">
                        <ul class="fl search-width">
                            <li>
                                <span>基金名称：</span>
                                <span>
                                    <input type="text" name="funFundName" class="text-input ipt-w95" _method="Contains" /></span>
                            </li>
                            <li>
                                <span>银行名称：</span>
                                <span>
                                    <input type="text" name="monBankName" class="text-input ipt-w95" _method="Contains" /></span>
                            </li>
                            <li>
                                <span>银行卡号：</span>
                                <span>
                                    <input type="text" name="monBankCard" class="text-input ipt-w95" _method="Contains" /></span>
                            </li>
                            <li>
                                <span>账户户名：</span>
                                <span>
                                    <input type="text" name="monUserNamer" class="text-input ipt-w95" _method="Contains" /></span>
                            </li>

                        </ul>
                        <div class="fl search-div">
                            <a class="btns btns-primary wheight SearchHide" id="SearchHide" href="#">搜索</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    
        <div id="toolbar">
           #showButton
        </div>
        <table id="MonBankInfo" toolbar="#toolbar" class="GridView"></table>
    </div>
</div>
﻿<script src="/Js/LinqJs/linq.min.js"  type="text/javascript" ></script>
<script src="/Js/LinqJs/linq.jquery.js"  type="text/javascript" ></script>
<script type="text/javascript" src="/Js/bank/MonBankInfoListView.js"></script>