{
    "state": "$state",
    "error": "$error",
    "errorMsg": "$errorMsg",
    
    "data": {
        "userName": "$!userInfo.getUserName()",
        "userEmail": "$!userInfo.getUserEmail()",
        "userAlias" : "$!userInfo.getUserAlias()",
        "userToken" : "$!userInfo.getUserToken()"
    }
}