<div id="wrap">
    <form id="Colyn">
        <table cellpadding="0" cellspacing="0" id="rateTable" class="grid removeMinwidth gridBorder0">
            <tbody>
                <tr>
                    <td colspan="6" class="lefts">
                        <ul>
                            <li class="fl ml10 icon-bi">项目信息</li>
                            <li class="fr mr20"><a href="javascript:;" class="sjtop folding2"></a></li>
                        </ul>
                        <div class="clear"></div>
                    </td>
                </tr>
                <tr>
                <td class="leftTD">项目名称：</td>
                <td class="rightTD">奥第字20140821001</td>
               <td class="leftTD">借款人：</td>
                <td class="rightTD" colspan="3">张三
                </td>
            </tr>
            <tr>
                <td class="leftTD">借款金额：</td>
                <td class="rightTD">￥1,000.00</td>
                <td class="leftTD">年化收益率：</td>
                <td class="rightTD">10.00%</td>
                <td class="leftTD">借款期限：</td>
                <td class="rightTD">12个月
                </td>
               
            </tr>
            <tr>
                <td class="leftTD">最低投标额度：</td>
                <td class="rightTD">￥100.00</td>
                <td class="leftTD">最高投标额度：</td>
                <td class="rightTD">￥1,000.00</td>
                <td class="leftTD">还款方式：</td>
                <td class="rightTD">等额本息</td>
            </tr>
            <tr>
                <td class="leftTD">项目类型：</td>
                <td class="rightTD">信用标</td>
                <td class="leftTD">招标到期日：</td>
                <td class="rightTD">2014-08-20</td>
                <td class="leftTD">结算方式：</td>
                <td class="rightTD">固定还款日</td>
            </tr>
            <tr>
                <td class="leftTD">借款用途：</td>
                <td class="rightTD" colspan="5" >购买轿车</td>
            </tr>
            </tbody>
            <tbody>
                 <tr>
                    <td colspan="6" class="lefts">
                        <ul>
                            <li class="fl ml10 icon-bi">项目描述</li>
                            <li class="fr mr20"><a href="javascript:;" class="sjtop folding2"></a></li>
                        </ul>
                        <div class="clear"></div>
                    </td>
                </tr>
                <tr>
                    <td class="leftTD">项目描述：</td>
                    <td class="rightTD" colspan="5">
                        因资金暂时无法到位，需融资购买轿车
                    </td>
                </tr>
            </tbody>
         <tbody>
            <tr>
                <td colspan="6" class="lefts">
                    <ul>
                        <li class="fl ml10 icon-bi">附件信息</li>
                        <li class="fr mr20"><a href="javascript:;" class="sjtop folding2"></a></li>
                    </ul>
                    <div class="clear"></div>
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    <a href="#">个人房产资料.doc</a><br /><a href="#">个人车产执照.doc</a>
                </td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td colspan="6" class="lefts">
                    <ul>
                        <li class="fl ml10 icon-bi">账户信息</li>
                        <li class="fr mr20"><a href="javascript:;" class="sjtop folding2"></a></li>
                    </ul>
                    <div class="clear"></div>
                </td>
            </tr>
            <tr>
                <td class="leftTD">银行名称：</td>
                <td class="rightTD">工商银行</td>
                <td class="leftTD">银行卡号：</td>
                <td class="rightTD">6222021302013442215</td>
                <td class="leftTD">账户号：</td>
                <td class="rightTD">张三</td>
            </tr>
        </tbody>
        <tbody>
        <tr>
            <td colspan="6" class="lefts">
                <ul>
                    <li class="fl ml10 icon-bi">匹配机构</li>
                    <li class="fr mr20"><a href="javascript:;" class="sjtop folding2"></a></li>
                </ul>
                <div class="clear"></div>
            </td>
        </tr>
        <tr>
            <td class="leftTD">担保机构：</td>
            <td class="rightTD" colspan="5">科融担保</td>
        </tr>
    </tbody>
        </table>
    </form>
</div>
