<div id="layout">
    <div region="center" title="赎回跟踪" iconcls="icon-users" class="regionCenter">
        <div class="SearchForm hideClass" id="SearchForm">
            <form>
                <fieldset>
                    <legend class="ml10">信息查询</legend>
                    <div class="clearfloat search-wrap">
                        <ul class="fl search-width">
                           <li>
                                <span>项目名称：</span>
                                <span>
                                    <input type="text" name="" class="text-input ipt-w95" /></span>
                                <span class="btns-dialog fl ml5"></span>
                            </li>
                            <li>
                                <span>赎回人：</span>
                                <span>
                                    <input type="text" name="" class="text-input ipt-w95" /></span>
                                <span class="btns-dialog fl ml5"></span>
                            </li>
                            <li>
                                <span>赎回金额：</span>
                                <span>
                                    <input type="text" name="" class="text-input ipt-w95" /> 至 <input type="text" name="" class="text-input ipt-w95" /></span>
                            </li>
                            <li>
                                <span>申请日期：</span>
                                <span>

                                    <input type="text" class="text-input easyui-datebox w95" name="add_date" id="" />
                                      至
                                    <input type="text" class="text-input easyui-datebox w95" name="add_date" id="" /></span>
                            </li>
                             <li>
                                <span>项目类型：</span>
                                <span>
                                    <select class="select-input ipt-w94">
                                        <option>全部</option>
                                        <option>给力标</option>
                                        <option>信用标</option>
                                        <option>抵押标</option>
                                        <option>众筹标</option>
                                        <option>秒还标</option>
                                        <option>新手标</option>
                                    </select>
                                </span>
                            </li>
                            <li>
                                <span>赎回状态：</span>
                                <span>
                                    <select class="select-input ipt-w94">
                                        <option>全部</option>
                                        <option>待审核</option>
                                        <option>满标待审</option>
                                        <option>待转账</option>
                                        <option>已赎回</option>
                                        <option>已流标</option>
                                    </select>
                                </span>
                            </li>
                        </ul>
                        <div class="fl search-div">
                            <a class="btns btns-primary wheight SearchHide" href="#">搜索</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div id="toolbar">
            @Html.Raw(ViewBag.Menus)
        </div>
        <table id="ProjectScheduleGrid" toolbar="#toolbar" class="GridView regionTable"></table>
    </div>
</div>
<script type="text/javascript" src="/Js/P2PProjectManage/ProjectSpeedListView.js"></script>
