<script type="text/javascript" src="/Js/P2PUC/UCCustomer.js"></script>
<script type="text/javascript" src="/Js/P2PUC/FileUploadView.js"></script>
<script>
var loanType = $loanType;
</script>
<div id="wrap">
    <form id="main">
		$csrfToken.hiddenField
        <table cellpadding="0" cellspacing="0" id="loanTable" class="grid removeMinwidth">
            <tbody id="rate">
			$control.setTemplate("loan/loanInfoAddView.vm").setParameter("isIntent", false).setParameter("loanId", $loanId).setParameter("dataId", $dataId)
            </tbody>
        </table>
    </form>
	
	<form id="carHouseForm">
    <table id="table" cellpadding="0" cellspacing="0" class="grid removeMinwidth gridBorder0">
		     ## 自定义抵押贷
			$control.setTemplate("loan/customAddView.vm").setParameter("isIntent", false).setParameter("loanId", $loanId)
    </table>
    </form>
			## 影像资料上传
			$control.setTemplate("common/fileUploadView.vm").setParameter("fileUploadClassType", $fileUploadClassType).setParameter("fileUploadSecondaryClass", $fileUploadSecondaryClass).setParameter("dataId", $dataId)
    #if($loanId==0)
    <table cellpadding="0" cellspacing="0" class="grid removeMinwidth gridBorder0">
        <div class="btn-div">
            <a href="#" id="custSaveBtn" class="btns btns-primary">确认添加</a>
            <a href="#" id="BackBtn" class="btns btns-primary">取消返回</a>
        </div>
    </table>
    #end
</div>

<script>
    $(function () {
        $("#custSaveBtn").click(function () {
            $('#loanLogo').validatebox('disableValidation');
            if($('#payee_status').val()=="1"){
	            if($('#loan_pay_organ').val()=="2"){
	            Colyn.log("请选择收款人类型！");
	            return;
	            }
	            if($('#act_payee_name').val()==""){
	             Colyn.log("请选择收款人！");
	             return;
	            }
            }
            if ($('#main').form('validate') && $("#carHouseForm").form('validate')) {
//                var param = createParam2([{ formId: 'main', relaClass: "main" },{ formId:"carInfo",isAnyRow:true },{ formId:"houseInfo",isAnyRow:true }], "add");  //{ keyId:,action:,main:{},carInfo:[{},{}]  }  param._cs = $)()
                //param._csrf_token = $("#main input[name='_csrf_token']").val();
                var param = createParam2([
                    { formId: 'main', relaClass: "main" }
                ], "add");
                var param1 = createParam4([
                    { formClass: 'carInfo', isAnyRow: true },
                    { formClass: 'houseInfo', isAnyRow: true }
                ]);
                var queryParam = getParam(param) + "&" + getParam(param1);
                
				
                //适用范围
                var investRedsendRatio=$.trim($('#investRedsendRatio').val());   //投资反送红包的比例
                if(investRedsendRatio!=null && investRedsendRatio>0){
                	if($('input[name="redUseScope"]:checked').length==0){
                		Colyn.log("投资返送红包派发比例不为0时,红包使用范围必填");
                   	 return;
                	}               	 
                }
                var chk_value ="";
                $('input[name="redUseScope"]:checked').each(function(){ 
                	chk_value = chk_value + $(this).val() + ",";  
                });
                
                queryParam = queryParam + "&redUseScopes=" + chk_value;
                $.post("/loan/json/LoanInfoAddOrEdit.json", queryParam, function (data) {
                    if (data.success) {
					##getUpload(imgObj, 2, '项目信息', data.message, "添加成功", "影像资料上传失败");
                        Colyn.log(data.message);
                        var _url = window.location.search;
                        setTimeout(parent.location.href = '/loan/LoanListView' + _url, 1000); //指定1秒后跳转到项目维护页面
                    } else {
                        Colyn.log(data.message);
                    }
                });
            }
        });

        $("#BackBtn").click(function () {
            var _url = window.location.search;
            setTimeout(parent.location.href = '/loan/LoanListView' + _url, 1000); //指定1秒后跳转到融资维护页面
        })
    });
</script>


