<form id="Colyn">
    <table cellpadding="0" cellspacing="0" class="grid removeMinwidth" id="main">
        <input type="hidden" name="id" value="$!banel.id" />
<!--         <tr> -->
<!--             <td class="leftTD">banel标题：</td> -->
<!--             <td class="rightTD"> -->
<!--                 <input type="text" name="banelTitle" id="banelTitle" class="easyui-validatebox text-input w150 w150" data-options="validType:['length[0,20]']" value="$!banel.banelTitle" /></td> -->
<!--         </tr> -->
		<tr>
            <td class="leftTD">排序：</td>
            <td class="rightTD" >
              <input type="text" name="orderBy" id="orderBy" class="easyui-validatebox text-input w150 w150" 
	              data-options="validType:['Int','Range[0,100]','MoreThanValue[\'-1\',\'0到100之间\']']" 
	              value="$!banel.orderBy" />
            </td>
        </tr>
        <tr>
            <td class="leftTD">所属分组：</td>
            <td class="rightTD">
				<select style="width:200px;" name="groupCode">
					<option value="index" #if($!banel.groupCode=='index')selected="selected"#end>网站首页</option>
					<option value="app" #if($!banel.groupCode=='app')selected="selected"#end>手机端首页</option>
				</select>
            </td>
        </tr>
        <tr>
         <td class="leftTD">上传图片：</td>
         <td class="rightTD" colspan="5">
         <div>
           #if ($stringUtil.isBlank($banel.banelUrl))
	           <img id="showImg" name="banelUrl" src="/Images/NoImg.png" height="200" width="200"/>
	       #else
	           <img id="showImg" name="banelUrl" src="$banel.banelUrl" height="200" width="200"/>
	       #end
        	<input type="hidden" id="banelUrl" name="banelUrl" value="$!banel.banelUrl"/>
            <input type="hidden" id="file_upload" name="file_upload" />
            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnUpload"
               data-options="plain:true,iconCls:'icon-save'"
               onclick="javascript:$('#file_upload').uploadify('upload', '*');">
               	上传
            </a>
          	<a href="javascript:void(0)" class="easyui-linkbutton" id="btnCancelUpload"
               data-options="plain:true,iconCls:'icon-cancel'"
               onclick="javascript:$('#file_upload').uploadify('cancel', '*');">
               	取消
            </a>
            <div id="imgQueue" class="fileQueue"></div>
            <div id="div_imgs"></div>
       	 </div>
         </td>
        </tr>
        <tr>
            <td class="leftTD">链接地址：</td>
            <td class="rightTD" >
              <input type="text" name="linkUrl" id="linkUrl" class="easyui-validatebox text-input w150 w150" value="$!banel.linkUrl" />
            </td>
        </tr>
    </table>
</form>

 <script>
    $(function () {
        uploadImg();
    });

    function uploadImg() {
        $('#file_upload').uploadify({
            'swf': '/Js/Plug/uploadify/uploadify.swf',  //FLash文件路径
            'buttonText': '浏  览',                                 //按钮文本
            'uploader': '/common/json/uploadFile.json;',//处理文件上传Action
            'queueID': 'imgQueue',                        //队列的ID
            'queueSizeLimit': 1,                          //队列最多可上传文件数量，默认为999
            'overrideEvents': ['onSelectError', 'onDialogClose'],           //取消默认提示
            'auto': false,                                 //选择文件后是否自动上传，默认为true
            'multi': false,                                 //是否为多选，默认为true
            'removeCompleted': true,                       //是否完成后移除序列，默认为true
            'fileSizeLimit': '10MB',                       //单个文件大小，0为无限制，可接受KB,MB,GB等单位的字符串值
            'fileTypeDesc': '请上传图片',                 //文件描述
            'fileTypeExts': '*.gif; *.jpg; *.png;',  //上传的文件后缀过滤器
            //检测FLASH失败调用
            'onFallback': function () {
                Colyn.log("您未安装FLASH控件，无法上传图片！请安装FLASH控件后再试。");
            },
            'onQueueComplete': function (event, data) {                 //所有队列完成后事件
                //ShowUpFiles($("#Attachment_GUID").val(), "div_imgs");  //完成后更新已上传的文件列表
                $.messager.alert("提示", "上传完毕！");                                     //提示完成
            },
            'onUploadStart': function (file) {
                $("#file_upload").uploadify("settings", 'formData', { 'folder': '机构Logo', 'guid': $("#Attachment_GUID").val() }); //动态传参数
            },
            'onUploadError': function (event, queueId, fileObj, errorObj) {
                //alert(errorObj.type + "：" + errorObj.info);
            },
            onUploadSuccess: function (file, data, response) {
                $('#' + file.id).find('.data').html(' 上传完毕');
                data = JSON.parse(data);
                var imgSrc = data.data;
                $("#showImg").attr("src", imgSrc);
                $("#banelUrl").val(imgSrc);
            },
            onClearQueue: function (event, data) {
                $("#showImg").attr("src", "/Images/NoImg.png");
                $("#banelUrl").val("");
                $("#banelUrl").attr("_value", "");
            },
            //返回一个错误，选择文件的时候触发
            'onSelectError': function (file, errorCode, errorMsg) {
                switch (errorCode) {
                    case -100:
                        alert("上传的文件数量已经超出系统限制的" + $('#file_upload').uploadify('settings', 'queueSizeLimit') + "个文件！");
                        break;
                    case -110:
                        alert("文件 [" + file.name + "] 大小超出系统限制的" + $('#file_upload').uploadify('settings', 'fileSizeLimit') + "大小！");
                        break;
                    case -120:
                        alert("文件 [" + file.name + "] 大小异常！");
                        break;
                    case -130:
                        alert("文件 [" + file.name + "] 类型不正确！");
                        break;
                }
                return false;
            }
        });
    }
</script>

