<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>找回密码2</title>
<meta name="description" content="网站描述" />
<meta name="keywords" content="网站关键词" />
<script type="text/javascript">
var environment = {
	userVo : '',
	role : '',
	userId : '',
	basePath : '',
	userCash : '',
	globalPath : '/',
	userActiveTime : '',
	yoolibaoWhiteListStatus : '',
	yoolibaoOpenStatus : '',
	cerrencyOpenTime : "2014/11/30"//new Date()
};
</script>
<script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/Validform_v5.3.2_min.js"></script>
<link href="css/comment.css" type="text/css" rel="stylesheet" />
<link href="css/c-style.css" type="text/css" rel="stylesheet" />
</head>
<body>
<!--header-->
<!--头部统一替换-->
<!--header end-->

<!--content-->
<div class="c-zc c-rad5">
	<ul class="clearfloat c-zhmm-title">
    	<li style="width:12px;" class="fl xian mt10"></li>
        <li class="fl z16 ml5">找回密码</li>
        <li style="width:810px;" class="fl xian mt10 ml5"></li>
    </ul>
    <form class="c-dl-box" action="demo/ajax_post.php" >
        <ul class="c-zjmm-con">	
        	<li class="c-font16">系统已经发送邮件到105****359@qq.com<br/>请输入邮箱中的验证码重置您的密码</li>
        	<li>
                <ul class="clearfloat">
                    <li class="fl">
                    <input class="c-zhmm-input-yzm" type="text" name="" value="" placeholder="请输入验证码" datatype="range2-6" nullmsg="请输入验证码！" errormsg="验证码输入有误！" />
                    <div class="Validform_checktip"></div>
                    </li>
                    <li class="fl ml30" style="line-height:36px;"><a href="" class="c-blue">重新发送</a></li>
                </ul>
            </li>
        	<li><a class="c-btn c-zhmm-btn" href="zhaohuimima4.html">下一步</a></li>
        </ul>
    </form>    
</div>
<!--content end-->

<!--footer-->
<!--尾部统一替换-->
<!--footer end-->
<script type="text/javascript">
$(function(){

	$(".c-dl-box").Validform({
        postonce:true, //表单只能提交一次，提交成功后再提交表单将不会有操作
        tiptype:function(msg,o,cssctl){
            if(!o.obj.is("form")){//验证表单元素时o.obj为该表单元素，全部验证通过提交表单时o.obj为该表单对象;
                var objtip=o.obj.next(".Validform_checktip");
                cssctl(objtip,o.type);
                objtip.text(msg);
                //判断是否正确
                if(o.type==2){ //验证成功
                    o.obj.css("border-color","blue");
                }else{ //验证失败
                    o.obj.css("border-color","red");
                }
            }
        }
	});
})
</script>
</body>
</html>