body
{
    font-size: 12px;
    font-family: 'ו';
}

a:hover
{
    color: rgb(93, 112, 130);
}

a
{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.hide
{
    display: none;
}

#Flow_ul
{
    width: 100%;
    float: left;
    list-style-type: none;
    line-height: 30px;
}

.Flow_ul_li
{
    float: left;
    width: 20%;
}

.cursor
{
    cursor: pointer;
}

.All_total
{
    color: red;
}

.combo
{
    display: inline-block;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    vertical-align: middle;
}

 .combo .combo-text
    {
        font-size: 12px;
        border: 1px;
        line-height: 20px;
        height: 20px;
        margin: 0;
        padding: 0px 2px;
        *margin-top: -1px;
        *height: 18px;
        *line-height: 18px;
        _height: 18px;
        _line-height: 18px;
        vertical-align: baseline;
    }

.combo-arrow-hover
{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.combo-panel
{
    overflow: auto;
}

.combo,
.combo-panel
{
    background-color: #ffffff;
}

.combo
{
    border-color: #95B8E7;
    background-color: #ffffff;
}

.combo-arrow
{
    background-color: #E0ECFF;
}

.combo-arrow-hover
{
    background-color: #eaf2ff;
}

.combobox-item,
.combobox-group
{
    font-size: 12px;
    padding: 3px;
    padding-right: 0px;
}

.combobox-gitem
{
    padding-left: 10px;
}

.combobox-group
{
    font-weight: bold;
}

.combobox-item-hover
{
    background-color: #eaf2ff;
    color: #000000;
}

.combobox-item-selected
{
    background-color: #FBEC88;
    color: #000000;
}
