<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->
<div class="w1000 clearfloat">
	<div class="mt10">
		<a href="index.html">首页</a>><a href="/account/myAccount/accountOverview">我的账户</a>><a href="#">我的债权</a>
	</div>
	<ul class="clearfloat mt10">
		<!--左侧菜单-->
		#set( $myInvest = "block" ) #set( $investClaim = "blue" )
		$control.setTemplate("common/accountLeft.vm")
		<!--左侧菜单 end-->
		<!--右侧菜单-->
		<form id="pageForm" method="post">
			<li class="fr">
				<div class="xx clearfloat pb10">
					<script>
						$(
								function() {
									$(".ls-nav li").click(
											function() {
												$(this).children("a").addClass(
														"active").parents()
														.siblings().children(
																'a')
														.removeClass("active");
												var _index = $(this).index();
												$("._con .dk_nei").eq(_index)
														.show().siblings()
														.hide();
											})
								})
					</script>
					<!--biaotii-->
					<div class="title-items ml15">
						<h2>债权</h2>
						<ul class="r tabs-title clearfloat  ls-nav">
							<li class="fl ml5"><a
								href="/account/myInvest/investClaim?type=HKZ"
								class='#if($!type=="HKZ") active #else  #end'>回款中</a></li>
							<li class="fl ml5"><a
								href="/account/myInvest/investClaim?type=TBZ"
								class='#if($!type=="TBZ") active #else  #end'>投标中</a></li>
							<li class="fl ml5"><a
								href="/account/myInvest/investClaim?type=YJQ"
								class='#if($!type=="YJQ") active #else  #end'>已结清</a></li>
						</ul>
						<b data-line="一条横线" class="line"></b>
					</div>
					<!--biaoti end-->
					
					<!--shaixuan-->
					<ul class="clearfloat shaixuan-biankuang ml15 mt10">
						<li class="clearfloat">
							<div class="fl pt3">
							#if($!type=="HKZ") 
								成交日期
							#elseif($!type=="TBZ")
								投资日期
							#else
								结清日期
							#end
							</div>
							<div class="shaixuan fl ml30">
								<input class="shaixuan-input" type="text" name="startDate"
									value="$!startDate"
									onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',skin:'whyGreen'})" readonly>
							</div>
							<div class="fl ml10">-</div>
							<div class="shaixuan fl ml10">
								<input class="shaixuan-input" type="text" name="endDate"
									value="$!endDate"
									onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',skin:'whyGreen'})" readonly>
							</div>
							<div class="fl clearfloat ml20">
								<!--                             riqi-current -->
								<span class="fl riqi-anniu #if($!{Recent}==0)riqi-current#end"><a
									href="javascript:searchByDate(0);">最近7天</a></span> <span
									class="fl riqi-anniu ml10 #if($!{Recent}==1)riqi-current#end"><a
									href="javascript:searchByDate(1);">1个月</a></span> <span
									class="fl riqi-anniu ml10 #if($!{Recent}==2)riqi-current#end"><a
									href="javascript:searchByDate(2);">2个月</a></span> <span
									class="fl riqi-anniu ml10 #if($!{Recent}==3)riqi-current#end"><a
									href="javascript:searchByDate(3);">3个月</a></span> <input type="hidden"
									name="Recent" id="Recent" />
							</div>
						</li>
						<li class="clearfloat pt15">
							<div class="fl pt3">项目名称</div>
							<div class="shaixuan fl ml30">
								<input class="shaixuan-input1" type="text" name="loanno"
									value="$!loanno" placeholder="请输入项目名称">
							</div>
							<div class="sousuo-current fl ml20">
								<a href="javascript:search();">搜索</a>
							</div>
						</li>
					</ul>
					<!--shaixuan end-->
					
					<div class="_con">
						<!--1-->
						#if($!type=="HKZ") 
						<input type="hidden" name="type" value="HKZ" />
						<div class="dk_nei">
							<!--biaoge-->
							<table class="table ml15 mt25" cellpadding="0" cellspacing="0"
								width="770">
								<thead>
									<tr>
										<td>项目名称</td>
										<td>转让金额</td>
										<td>成交日期</td>
<!-- 										<td>到期日</td> -->
										<td>已回款</td>
										<td>待回款</td>
										<td>已转让</td>
										<td>操作</td>
									</tr>
								</thead>
								<tbody>
									#if($!pagebean.recordList) 
									#foreach($!myCreditReceived in $!pagebean.recordList)
									<tr>
										<td
											style="line-height: 25px; width: 100px; word-break: break-all;">
											<div>
												<a href="/invest/investDetail?transferId=$!{myCreditReceived.transferloanId}&flagLoan=2" class="blue" title="$!myCreditReceived.transferLoanNo">
												#if($!stringUtil.length($!myCreditReceived.transferLoanNo)>6)
                									$!stringUtil.substring($!myCreditReceived.transferLoanNo, 0,6)...
                		 						#else
                									$!myCreditReceived.transferLoanNo
               								    #end 											
												</a>
											</div>
											<div class="fs12">年利率：$!myCreditReceived.loanRate%</div>
										</td>
										<td>$!myCreditReceived.transferLoanMoney</td>
										<td style="line-height: 25px;">$!dateUtil.formatDate($!myCreditReceived.investDate,"yyyy-MM-dd")
											<br />
											$!dateUtil.formatDate($!myCreditReceived.investDate,"HH:mm:ss")
										</td>
<!-- 										<td>$!myCreditReceived.endDate</td> -->
										<td>$!myCreditReceived.cleanMoney</td>
										<td>$!myCreditReceived.receivedMoney</td>
										<td>$!myCreditReceived.transferMoney</td>
										<td style="line-height: 30px; width: 120px;">
										#if($!myCreditReceived.transferState!=-1 &&
											$!myCreditReceived.transferState!=2 &&
											$!myCreditReceived.transferState!=6 &&
											$!myCreditReceived.transferState!=7
										)  
                                            		<div class="fl zhuanrang-current fs12 ml5" ><a style="">
                                          			#if($!myCreditReceived.transferState==0)
                                            		待审核
                                            		#elseif($!myCreditReceived.transferState==1)
                                            		初审已通过
                                            		#elseif($!myCreditReceived.transferState==2)
                                            		初审未通过
                                            		#elseif($!myCreditReceived.transferState==3)
                                            		转让中
                                            		#elseif($!myCreditReceived.transferState==4)
                                            		满标待审
                                            		#elseif($!myCreditReceived.transferState==5)
                                            		满标审核通过
                                            		#elseif($!myCreditReceived.transferState==6)
                                            	            满标审核未通过
                                            		#elseif($!myCreditReceived.transferState==7)
                                            		已流标
                                            		#elseif($!myCreditReceived.transferState==8)
                                            		划转中
                                            		#elseif($!myCreditReceived.transferState==9)
                                            		已划转
                                            		#end   
                                            		</a></div>
                                            #else
											<div class="jihua-current fl fs12">
												<a href="" class="j-dj" onclick="Paymentplan('$!myCreditReceived.loanId','$!myCreditReceived.investId','$!user.userId','HKZ');">回款计划</a>
											</div>
											<div class="fl zhuanrang-current ml5 fs12">
												<a onclick="messageReply($!{myCreditReceived.investId});" href="javascript:;">转让</a>
											</div>
											#end
											<div class="fl hetong-current ml5 fs12">
												<a href="/account/myInvest/json/investClaimPdf.json?loanId=$!{myCreditReceived.transferloanId}">合同</a>
											</div>
										</td>
									</tr>
									<tr class="j-zhankai" style="display:none;">
                                            <td colspan="8">
                                            <div id="hkjh$!{myCreditReceived.investId}">
                                            </div>                                           	
                                            </td>
                                     </tr> 		
                                     #end						
									#end
								</tbody>
							</table>
							<!--biaoge end-->
						</div>
						#end
						<!--1 end-->
						<!--2-->
						#if($!type=="TBZ") <input type="hidden" name="type" value="TBZ" />
						<div class="dk_nei">
							<!--biaoge-->
							<table class="table ml15 mt25" cellpadding="0" cellspacing="0"
								width="770">
								<thead>
									<tr>
										<td>项目名称</td>
										<td>转让金额</td>
										<td>已转让金额</td>
										<td>投标金额</td>
										<td>投资日期</td>
										<td>转让进度</td>
									</tr>
								</thead>
								<tbody>
									#if($!pagebean.recordList)
									 #foreach($!myCreditReceived in $!pagebean.recordList)
									<tr>
										<td style="line-height: 25px;  word-break: break-all;">
											<div>
												<a href="/invest/investDetail?transferId=$!{myCreditReceived.transferloanId}&flagLoan=2" class="blue" title="$!myCreditReceived.transferLoanNo">
												#if($!stringUtil.length($!myCreditReceived.transferLoanNo)>6)
                									$!stringUtil.substring($!myCreditReceived.transferLoanNo, 0,6)...
                		 						#else
                									$!myCreditReceived.transferLoanNo
               			 						#end 
												</a>
											</div>
											<div class="fs12">年利率：$!myCreditReceived.loanRate%</div>
										</td>
										<td>$!myCreditReceived.transferLoanMoney</td>
										<td>$!myCreditReceived.currentMoney</td>
										<td>$!myCreditReceived.transferMoney</td>
										<td style="line-height:20px;">
										$!dateUtil.formatDate($!myCreditReceived.createDate,"yyyy-MM-dd")<br/>
										$!dateUtil.formatDate($!myCreditReceived.createDate,"HH:mm:ss")
										</td>
										## #set($percent=$!myCreditReceived.currentMoney / $!myCreditReceived.transferLoanMoney)
										<td class="green">$!myCreditReceived.percent.intValue()%</td>
									</tr>
									#end 
									#else
									<tr>
										<td style="line-height: 25px; width: 80px; word-break: break-all;" colspan="6">暂无数据</td>
									</tr>
									#end
								</tbody>
							</table>
							<!--biaoge end-->
						</div>
						#end
						<!--2 end-->

						<!--3-->
						#if($!type=="YJQ") 
						<input type="hidden" name="type" value="YJQ" />
						<div class="dk_nei">
							<!--biaoge-->
							<table class="table ml15 mt25" cellpadding="0" cellspacing="0"
								width="770">
								<thead>
									<tr>
										<td>项目名称</td>
										<td>债权总价</td>
										<td>转让价格</td>
										<td>转让时间</td>
										<td>结清日期</td>
										<td>状态</td>
										<td>操作</td>
									</tr>
								</thead>
								<tbody>
								#if($!pagebean.recordList)
									 #foreach($!myCreditClean in $!pagebean.recordList)
									<tr>
										<td style="line-height: 25px; width: 100px; word-break: break-all;">
											<div>
												<a href="/invest/investDetail?transferId=$!{myCreditClean.transferloanId}&flagLoan=2" class="blue" title="$!myCreditClean.transferLoanNo">												
												#if($!stringUtil.length($!myCreditClean.transferLoanNo)>6)
                									$!stringUtil.substring($!myCreditClean.transferLoanNo, 0,6)...
                							    #else
                									$!myCreditClean.transferLoanNo
               								    #end 
												</a>
											</div>
											<div class="fs12">年利率：$!myCreditClean.loanRate%</div>
										</td>
										<td>$!myCreditClean.creditTotalMoney</td>
										<td>$!myCreditClean.transferMoney</td>
										<td style="line-height: 25px;">$!dateUtil.formatDate($!myCreditClean.transferDate,"yyyy-MM-dd")<br/>$!dateUtil.formatDate($!myInvestClean.transferDate,"HH:mm:ss")
										</td>
										<td>$!dateUtil.formatDate($!myCreditClean.endDate,"yyyy-MM-dd")</td>
										<td class="green">
											#if($!myCreditClean.investState==5)   ##被转让
												被转让
											#elseif($!myCreditClean.investState==7)   ##收益完成
												收益完成
											#end
										</td>
										<td>
											<div class="hetong-current ml5 fs12">
											#if($!myCreditClean.investState==5)   ##被转让
												<a href="/account/myInvest/json/investClaimPdf.json?investId=$!{myCreditClean.investId}" style="width: 50px;">转让合同</a>
											#elseif($!myCreditClean.investState==7)   ##收益完成
												<a href="/account/myInvest/json/investClaimPdf.json?loanId=$!{myCreditClean.transferloanId}">合同</a>
											#end
											</div>
										</td>
									</tr>
									#end
								#else
									<tr>
										<td style="line-height: 25px; width: 80px; word-break: break-all;" colspan="6">
										暂无数据
										</td>
									</tr>
								#end
								</tbody>
							</table>
							<!--biaoge end-->
						</div>
						#end
						<!--3 end-->
					</div>
					#if($!pagebean.recordList.size() > 0)
					<div class="fr mr15 clearfloat mt10">
						<span class="fl"><img src="/Images/ex.png"></span><span class="fl fs12 mt3">
						<a href="/account/myInvest/json/investClaimExcel.json?type=$!type">导出到EXCEL</a></span>
					</div>
					#end
					<!---fenye-->
					#parse("fenye.vm")
					<!--fenye end-->
			</li>
		</form>
		<!--右侧菜单 end-->
	</ul>
</div>

<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
$control.setTemplate("common/customservice.vm")
<script>
	$(function() {
		Huifold("#Huifold1 .item h4", "#Huifold1 .item .info", "fast", 2,
				"click");
	})
</script>
<script src="/Js/index.js"></script>
<!--信息回复框内容-->
<div id="messageReplyContent" class="hidden" style="display: none;">

</div>

<!--信息回复框内容 end-->
<script>
//信息回复	
var layerr;	
function messageReply(id){
	$("#launchMoney").val("");
	$("#paypassword").val("");
	layerr=$.layer({
	    type: 1,
	    title: "转让",
	    area: ['500px', '350px'],
	    border: [6, 0.3, '#000'], //去掉默认边框
	    shift: 'top', //从左动画弹出
	    page: {
//		        dom: '#messageReplyContent', 
			//html: '',
			url: '/account/myInvest/debt?investId='+id+'&bidType=1&flag=investClaim',
			ok: function(data){
				//$('#messageReplyContent').html(data);
			}
		}
	});
}
	//搜索
	function search() {
		$('#pageForm').attr("action","/account/myInvest/investClaim");
		$('#pageForm').submit();
	}
	function searchByDate(day) {
		$('#Recent').val(day);
		search();
	}
	
	//回款计划
	function Paymentplan(loanId,investId,UserId,flag){
		var html="<table cellpadding='0' cellspacing='0' width='90%' class='zk-table mt20 ml30'>"+
    	"<tr class='fw-bold'>"+
        	"<td width='20%'>时间</td>"+
            "<td width='20%'>期数</td>";
          if(flag=="HKZ"){
        	   html+= "<td width='20%'>已回款</td>"+
              "<td width='20%'>待回款</td>"+
          "</tr>";  
          }else if(flag=="YHK") {
        	   html+= "<td width='20%'>已回本金</td>"+
              "<td width='20%'>已回利息</td>"+
          "</tr>"; 
          }          
		 $.ajax({
             url:'/account/myInvest/json/paymentPlanOrIncome.json',
                 type:'post',
                 async:false,
                 data:{"loanId":loanId,"investId":investId,"UserId":UserId,"flag":flag},
                 success: function(result){
                     if(result.success){
                    	 if(result.data.length==0){
                    		 html+="<tr>"+
                    		 "<td colspan='4'>暂无数据</td>"+
                    		 "</tr>";
                    	 }else{
                    		 for(var i=0;i<result.data.length;i++){
                          		html+="<tr>"+                           
                                 	"<td width='20%' class='br-none'>"+result.data[i].paytimeStr+"</td>"+								
                                 	"<td width='20%' class='br-none'>"+result.data[i].loanPeriod+"</td>";	
                                 	if(result.message=="HKZ"){
                                 		html+="<td width='20%' class='br-none'>"+result.data[i].collectTotal+"</td>"+								
                                     	"<td width='20%' class='br-none'>"+result.data[i].payTotalMoney+"</td>";
                                 	}else{
                                 		html+="<td width='20%' class='br-none'>"+result.data[i].collectCapital+"</td>"+								
                                      	"<td width='20%' class='br-none'>"+result.data[i].collectInterest+"</td>";
                                 	}
                                 																
                                 html+="</tr>";
                            
                          	}
                    	 }
                     	
                     }else {
                     	
                     }
                 },
                 error : function(){
                     alert("通信异常！");
                 }
         });
		 
		 html+=" </table>";
		 $('#hkjh'+investId+'').html(html);
	}
	
	//导出excel
// 	function expordExcel(){
// 		$('#pageForm').attr("action","/account/myInvest/json/investClaimExcel.json");
// 		$('#pageForm').submit();
// 		$('#pageForm').attr("action","/account/myInvest/investClaim");
// 	}
</script>