<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->
<div class="w1000 clearfloat">
	<div class="mt10"><a href="/index/index">首页</a>><a href="/account/myAccount/accountOverview">我的账户></a><a href="/account/myInvest/investRecord?investType=HKZ">投资项目</a></div>
    <ul class="clearfloat mt10">
	<!--左侧菜单-->
#set( $myInvest = "block" )
#set( $investRecord = "blue" )
$control.setTemplate("common/accountLeft.vm")
   <!--左侧菜单 end-->
   <!--右侧菜单-->
        <li class="fr">
        	<div class="xx clearfloat pb10">
            <!--biaotii-->
            <div class="title-items ml15">
            <h2>投资项目</h2>
            <ul class="r tabs-title clearfloat  ls-nav">
               <li class="fl"><a href="/account/myInvest/investRecord?investType=HKZ"  class='#if($!investType=="HKZ") active #else  #end'>回款中</a></li>
               <li class="fl ml5"><a href="/account/myInvest/investRecord?investType=TBZ" class='#if($!investType=="TBZ") active #else  #end'>投标中</a></li>
               <li class="fl ml5"><a href="/account/myInvest/investRecord?investType=YHK" class='#if($!investType=="YHK") active #else  #end'>已回款</a></li>
            </ul>
            <b data-line="一条横线" class="line"></b>
            </div>
            <!-- 表单 -->
             <form id="pageForm" method="post">            	
            <!--shaixuan-->
                    <ul class="clearfloat shaixuan-biankuang ml15 mt10">
                        <li class="clearfloat">
                        #if($!investType=="HKZ")
                        	<div class="fl pt3">下期回款日</div>
                        #elseif($!investType=="TBZ")
                        	<div class="fl pt3">投标时间</div>
                        #else
                        	<div class="fl pt3">回款日期</div>
                        #end
                            
                            <div class="shaixuan fl ml30"><input class="shaixuan-input" type="text" name="startDate" value="$!startDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',skin:'whyGreen'})" readonly></div>
                            <div class="fl ml10">-</div>
                            <div class="shaixuan fl ml10"><input class="shaixuan-input" type="text" name="endDate" value="$!endDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',skin:'whyGreen'})" readonly></div>
                            <div class="fl clearfloat ml20">
<!--                             riqi-current -->
                                <span class="fl riqi-anniu #if($!{Recent}==0)riqi-current#end"><a href="javascript:searchByDate(0);">最近7天</a></span>
                                <span class="fl riqi-anniu ml10 #if($!{Recent}==1)riqi-current#end"><a href="javascript:searchByDate(1);">1个月</a></span>
                                <span class="fl riqi-anniu ml10 #if($!{Recent}==2)riqi-current#end"><a href="javascript:searchByDate(2);">2个月</a></span>
                                <span class="fl riqi-anniu ml10 #if($!{Recent}==3)riqi-current#end"><a href="javascript:searchByDate(3);">3个月</a></span>
                                <input type="hidden" name="Recent" id="Recent" />
                            </div>
                        </li>
                        <li class="clearfloat pt15">
                            <div class="fl pt3">项目名称</div>
                            <div class="shaixuan fl ml30"><input class="shaixuan-input1" type="text" name="loanno" value="$!loanno" placeholder="请输入项目名称"></div>
                            <div class="sousuo-current fl ml20"><a href="javascript:search();">搜索</a></div>
                        </li>
                    </ul>
                <div class="_con">               
                    <!--1-->
                    #if($!investType=="HKZ")  
                    <input type="hidden" name="investType" value="HKZ"/>                 
                        <div class="dk_nei">
                            <!--biaoge-->
                                <table class="table ml15 mt25" cellpadding="0" cellspacing="0" width="770" >
                                    <thead>
                                        <tr>
                                            <td>项目名称</td>
                                            <td>投资金额</td>
                                            <td>投资时间</td>
                                            <td>待收本金</td>
                                            <td>下期回款日</td>
                                            <td>下期回款金额</td>
                                            <td>到期日</td>
                                            <td>操作</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    #foreach( $myInvestReceived in $!pagebean.recordList)
                                   		 <tr>
                                            <td style="line-height:25px;">
                                            	<div><a href="/invest/investDetail?loanId=$!{myInvestReceived.loanId}&flagLoan=1" class="blue" title="$!myInvestReceived.loanNo">                                            	
                                            	#if($!stringUtil.length($!myInvestReceived.loanNo)>6)
                									$!stringUtil.substring($!myInvestReceived.loanNo, 0,6)...
                		 						#else
                									$!myInvestReceived.loanNo
               			 						#end  
                                            	</a></div>
                                                 <div class="fs10">项目金额：$!numberUtil.currency($!myInvestReceived.loanMoney)&nbsp;年利率：$!{myInvestReceived.loanRate}%</div>
                                            </td>
                                            <td>$!numberUtil.currency($!myInvestReceived.investMoney)</td>
                                            <td style="line-height:25px;">$!dateUtil.formatDate($!myInvestReceived.investDate,"yyyy-MM-dd")<br/> $!dateUtil.formatDate($!myInvestReceived.investDate,"HH:mm:ss")</td>
                                           	<td>$!numberUtil.currency($!myInvestReceived.DsMoney)</td>
                                            <td>$!dateUtil.formatDate($!myInvestReceived.receivedDate,"yyyy-MM-dd")</td>
                                            <td>$!numberUtil.currency($!myInvestReceived.receivedMoney)</td>
                                            <td>$!dateUtil.formatDate($!myInvestReceived.endDate,"yyyy-MM-dd")</td>
                                            <td style="width:120px;">                                	                                             
                                            	#if($!myInvestReceived.transferState && 
                                            	$!{myInvestReceived.transferState}!=2 &&
                                            	$!{myInvestReceived.transferState}!=6 &&
                                            	$!{myInvestReceived.transferState}!=7)  
                                            		<div class="fl zhuanrang-current fs12 ml5" ><a style="width:80px;">
                                            		#if($!myInvestReceived.transferState==0)
                                            		待审核
                                            		#elseif($!myInvestReceived.transferState==1)
                                            		初审已通过
                                            		#elseif($!myInvestReceived.transferState==2)
                                            		初审未通过
                                            		#elseif($!myInvestReceived.transferState==3)
                                            		转让中
                                            		#elseif($!myInvestReceived.transferState==4)
                                            		满标待审
                                            		#elseif($!myInvestReceived.transferState==5)
                                            		满标审核通过
                                            		#elseif($!myInvestReceived.transferState==6)
                                            		满标审核未通过
                                            		#elseif($!myInvestReceived.transferState==7)
                                            		已流标
                                            		#elseif($!myInvestReceived.transferState==8)
                                            		划转中
                                            		#elseif($!myInvestReceived.transferState==9)
                                            		已划转
                                            		#end
                                            		</a></div>
                                            	#else
                                            	<div class="jihua-current fs12 tc fl"><a class="j-dj" href="javascript:;" onclick="Paymentplan('$!myInvestReceived.loanId','$!myInvestReceived.investId','$!user.userId','HKZ');">回款计划</a></div>
                                            		 #if($!myInvestReceived.investMoney<1000)
                                            		 	<div class="fl hetong-current fs12 ml5"><a href="javascript:;">转让</a></div>
                                            		 #else                                      		
                                            		 	<div class="fl zhuanrang-current fs12 ml5"><a href="javascript:;" onclick="messageReply($!{myInvestReceived.investId});">转让</a></div>                                            		 
                                            		 #end
                                            	#end
                                               
                                                <div class="fl hetong-current ml5 fs12"><a href="/account/myInvest/json/investRecordPdf.json?loanId=$!{myInvestReceived.loanId}">合同</a></div>
                                            </td>
                                        </tr>
                                        <tr class="j-zhankai" style="display:none;">
                                            <td colspan="8">
                                            <div id="hkjh$!{myInvestReceived.investId}">
                                            </div>                                           	
                                            </td>
                                        </tr> 
                                        #end                                                                                
                                    </tbody>
                                </table>
                            <!--biaoge end-->                            
                        </div>
                    #end
                    <!--1 end-->
                	 
                    <!--2-->
                     #if($!investType=="TBZ") 
                      <input type="hidden" name="investType" value="TBZ"/>
                        <div class="dk_nei">             
                            <!--biaoge-->
                                <table class="table ml15 mt25" cellpadding="0" cellspacing="0" width="770" >
                                    <thead>
                                        <tr>
                                            <td>项目名称</td>
                                            <td>项目金额</td>
                                            <td>投资金额</td>
                                            <td>期限</td>
                                            <td>还款方式</td>
                                            <td>投标时间</td>
                                            <td>进度</td>
                                        </tr>
                                    </thead>
                                    <tbody>                                      
                                        #foreach( $myInvestTender in $!pagebean.recordList)
                                         <tr>
                                            <td style="line-height:25px;  word-break:break-all;">
                                            	<div><a href="/invest/investDetail?loanId=$!{myInvestTender.loanId}&flagLoan=1" class="blue" title="$!myInvestTender.loanNo">                                        	
                                            	#if($!stringUtil.length($!myInvestTender.loanNo)>6)
                									$!stringUtil.substring($!myInvestTender.loanNo, 0,6)...
                		 						#else
                									$!myInvestTender.loanNo
               			 						#end 
                                            	</a></div>
                                                <div class="fs12">年利率：$!{myInvestTender.loanRate}%</div>
                                            </td>
                                            <td>$!numberUtil.currency($!myInvestTender.loanMoney)</td>
                                            <td>$!numberUtil.currency($!myInvestTender.investMoney)</td>
                                            <td>$!{myInvestTender.loanPeriod}
                                            #if($!{myInvestTender.loanPeriodType})
                                            	#if($!{myInvestTender.loanPeriodType}==1)
                                            	年
                                            	#elseif($!{myInvestTender.loanPeriodType}==2)
                                            	个月
                                            	#elseif($!{myInvestTender.loanPeriodType}==3)
                                            	日
                                            	#end
                                            #end
                                           </td>
                                            <td style="line-height:20px;">
                                            #if($!{myInvestTender.loanPayType})
                                            	#if($!{myInvestTender.loanPayType}==1)
                                            	等额本息
                                            	#elseif($!{myInvestTender.loanPayType}==2)
                                            	按月还息到期还本
                                            	#elseif($!{myInvestTender.loanPayType}==3)
                                            	等额本金
                                            	#elseif($!{myInvestTender.loanPayType}==4)
                                            	利随本清
                                            	#end                                          
                                            #end
                                            </td>
                                            
                                            <td style="line-height:20px;">$!dateUtil.formatDate($!myInvestTender.tenderDate,"yyyy-MM-dd")<br/>$!dateUtil.formatDate($!myInvestTender.tenderDate,"HH:mm:ss")</td>
                                            #set($state=$myInvestTender.loanState)
                                            #if($state==10||$state==11||$state==14||$state==15)
                                            	#set($percent=100)
                                            #else
                                            	#set($percent = $!resultLoanListPercent.get($!myInvestTender.loanId))
                                            #end
                                            <td class="green"> $!percent.intValue()%</td>
                                        </tr>
                                        #end
                                    </tbody>
                                </table>
                            <!--biaoge end-->                          
                        </div>
                     #end
                    <!--2 end-->
                    
                    <!--3-->
                    #if($!investType=="YHK") 
                    <input type="hidden" name="investType" value="YHK"/>
                        <div class="dk_nei">
                            <!--biaoge-->
                                <table class="table ml15 mt25" cellpadding="0" cellspacing="0" width="770">
                                    <thead>
                                        <tr>
                                            <td>项目名称</td>
                                            <td>项目金额</td>
                                            <td>投资金额</td>
                                            <td>投资时间</td>
                                            <td>回款金额</td>
                                            <td>状态</td>
                                            <td>操作</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                     #foreach( $myInvestClean in $!pagebean.recordList)
                                        <tr>
                                            <td style="line-height:25px; word-break:break-all;">
                                            	<div><a href="/invest/investDetail?loanId=$!{myInvestClean.loanId}&flagLoan=1" class="blue" title="$!{myInvestClean.loanNo}">
                                            	
                                            	#if($!stringUtil.length($!{myInvestClean.loanNo})>6)
                									$!stringUtil.substring($!{myInvestClean.loanNo}, 0,6)...
                		 						#else
                									$!{myInvestClean.loanNo}
               			 						#end 
                                            	</a></div>
                                                <div class="fs12">年利率：$!{myInvestClean.loanRate}%</div>
                                            </td>
                                            <td>$!numberUtil.currency($!myInvestClean.loanMoney)</td>
                                            <td>$!numberUtil.currency($!myInvestClean.investMoney)</td>
                                            <td style="line-height:25px;">$!dateUtil.formatDate($!myInvestClean.investDate,"yyyy-MM-dd")<br/>$!dateUtil.formatDate($!myInvestClean.investDate,"HH:mm:ss")</td>
                                            <td>$!numberUtil.currency($!myInvestClean.receivedMoney)</td>
                                            <td class="green">
	                                            #if($!myInvestClean.state==5)
	                                            	被转让
	                                            #elseif($!myInvestClean.state==7)
	                                            	收益完成
	                                            #end
                                            </td>
                                            <td style="width:90px;">
	                                            #if($!myInvestClean.state!=5)
	                                            	<div class="clearfloat">
	                                                	<span class="fl jihua-current fs12"><a href="javascript:;" class="j-dj" onclick="Paymentplan('$!myInvestClean.loanId','$!myInvestClean.investId','$!user.userId','YHK');">回款计划</a></span>
	                                                    <span class="fl hetong-current ml5 fs12"><a href="/account/myInvest/json/investRecordPdf.json?loanId=$!{myInvestClean.loanId}">合同</a></span>
	                                                </div>
	                                            #else
                                                    <span class="hetong-current"><a style="width:auto;" href="/account/myInvest/json/investClaimPdf.json?investId=$!{myInvestClean.investId}">转让合同</a></span>
	                                            #end
                                            </td>
                                        </tr>
                                        <tr class="j-zhankai" style="display:none;">
                                            <td colspan="8">
                                            <div id="hkjh$!{myInvestClean.investId}">
                                            </div>                                           	
                                            </td>
                                        </tr> 
                                       #end
                                    </tbody>
                                </table>
                            <!--biaoge end-->                         
                        </div>                                      
               		#end
                </div>
               <!--3 end-->
               		#if($!pagebean.recordList.size() > 0)
                    <div class="fr mr15 clearfloat mt10">
	                    <span class="fl"><img src="/Images/ex.png"></span><span class="fl fs12 mt3">
	                    <a href="/account/myInvest/json/investRecordExcel.json?investType=$!investType">导出到EXCEL</a></span>
                    </div>
	                #end
	                <!---fenye-->
	               	#parse("fenye.vm")
	                <!--fenye end-->
		      </form>
		   </div>
        </li>
   <!--右侧菜单 end-->
   </ul>
</div>

<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
<script type="text/javascript">
	$(function(){
		Huifold("#Huifold1 .item h4","#Huifold1 .item .info","fast",2,"click");	
	})
</script>
<script src="/Js/index.js"></script>
<!--信息回复框内容-->
<div id="messageReplyContent" class="hidden"  style="display:none;">
</div>
<script type="text/javascript">

</script>
<!--信息回复框内容 end-->
<script type="text/javascript">
	//转让弹层
	var layerr;
	function messageReply(id){
		$("#launchMoney").val("");
		$("#paypassword").val("");
		layerr=$.layer({
		    type: 1,
		    title: "转让",
		    area: ['500px', '350px'],
		    border: [6, 0.3, '#000'], //去掉默认边框
		    shift: 'top', //从左动画弹出
		    page: {
				url: '/account/myInvest/debt?investId='+id+'&bidType=1&flag=investRecord&time'+new Date().getTime()
			}
		});
	}
	//回款计划
	/* */
	function Paymentplan(loanId,investId,UserId,flag){
		var html="<table cellpadding='0' cellspacing='0' width='90%' class='zk-table mt20 ml30'>"+
    	"<tr class='fw-bold'>"+
        	"<td width='20%'>时间</td>"+
            "<td width='20%'>期数</td>";
          if(flag=="HKZ"){
        	   html+= "<td width='20%'>已回款</td>"+
              "<td width='20%'>待回款</td>"+
          "</tr>";  
          }else if(flag=="YHK") {
        	   html+= "<td width='20%'>已回本金</td>"+
              "<td width='20%'>已回利息</td>"+
              "<td width='20%'>已回罚金</td>"+
          "</tr>"; 
          }          
		 $.ajax({
             url:'/account/myInvest/json/paymentPlanOrIncome.json',
                 type:'post',
                 async:false,
                 data:{"loanId":loanId,"investId":investId,"UserId":UserId,"flag":flag},
                 success: function(result){
                     if(result.success){
                    	 if(result.data.length==0){
                    		 html+="<tr>"+
                    		 "<td colspan='4'>暂无数据</td>"+
                    		 "</tr>";
                    	 }else{
                    		 for(var i=0;i<result.data.length;i++){
                          		html+="<tr>"+                           
                                 	"<td width='20%' class='br-none'>"+result.data[i].paytimeStr+"</td>"+								
                                 	"<td width='20%' class='br-none'>"+result.data[i].loanPeriod+"</td>";	
                                 	if(result.message=="HKZ"){
                                 		html+="<td width='20%' class='br-none'>"+result.data[i].collectTotal+"</td>"+								
                                     	"<td width='20%' class='br-none'>"+result.data[i].payTotalMoney+"</td>";
                                 	}else{
                                 		html+="<td width='20%' class='br-none'>"+result.data[i].collectCapital+"</td>"+								
                                      	"<td width='20%' class='br-none'>"+result.data[i].collectInterest+"</td>"+
                                      	"<td width='20%' class='br-none'>"+result.data[i].collectFine+"</td>";
                                 	}
                                 																
                                 html+="</tr>";
                            
                          	}
                    	 }
                     	
                     }else {
                     	
                     }
                 },
                 error : function(){
                     alert("通信异常！");
                 }
         });
		 
		 html+=" </table>";
		 $('#hkjh'+investId+'').html(html);
	} 
	
	//搜索
	function search(){
		$('#pageForm').attr("action","/account/myInvest/investRecord");
		$('#pageForm').submit();
	}
	function searchByDate(day){
		$('#Recent').val(day);
		search();
	}
	
	//导出excel 360浏览器对于很小的文件下载时一闪而过 解决方法：<a href="">
// 	function expordExcel(){
// 		$('#pageForm').attr("action","/account/myInvest/json/investRecordExcel.json");
// 		$('#pageForm').submit();
// 		$('#pageForm').attr("action","/account/myInvest/investRecord");
// 	}
	
</script>

