<!--hearder-top-->
$control.setTemplate("common/head.vm")
<!--header-nav end-->
<div class="w1000 clearfloat">
	<div class="mt10"><a href="/index/index">首页</a>><a href="/account/myAccount/accountOverview">我的账户</a>><a href="#">自动投标</a></div>
    <ul class="clearfloat mt10">
	<!--左侧菜单-->
#set( $myInvest = "block" )
#set( $investAuto = "blue" )
$control.setTemplate("common/accountLeft.vm")
   <!--左侧菜单 end-->
   <!--右侧菜单-->
        <li class="fr">
        	<div class="xx clearfloat pb10">
            <!--biaotii-->
            <div class="title-items ml15">
            <h2>自动投标</h2>
            <b data-line="一条横线" class="line"></b>
            </div>
            <!--biaoti end-->
            <!--wenzishuoming-->
            <ul class="clearlfloat">
            	<li class="fl ml15">
                	<div class="fs16 c00">自动投标工具说明</div>
                    <div style="width:400px; word-break:break-all; line-height:25px;" class="fs13 ml20 mt10">
                    	<p>1.当符合条件的自动投标金额总额大于当前可投标金额时，系统会自动开启公平的排队系统</p>
                        <p>2.为严格保护出资人利益，系统会指定每笔自动投标对于贷款总额的百分比上限，以分散风险，获得更高的利益</p>
                        <p>3.自动投标为免费业务，不收取任何附加费用</p>
                    </div>
                </li>
                <li class="fr mr50 mt50">
                	<div class="fl touzi-anniu"><a href="javascript:;" onclick="Subapp('4')">充值</a></div>
                    <div class="fl chongzhi-anniu ml30"><a href="javascript:;" onclick="Subapp('5')">提现</a></div>
                    <div class="clearfloat mt50">可用余额：<span class="yellow"><span class="fs24">$!numberUtil.format('##,##0.00',$!{accountBacance[1]})</span>元</span></div>
                </li>
            </ul>
            <p class="clear"></p>
            #if($!listInvestSet.count==0)
            	<div class="fs16 c00 ml15 mt40">自动投标设置</div>
	            <ul class="clearfloat ml15 mt10">
	                <li class="fl">您还没有添加自动投标</li>
	                <li class="riqi-current fl ml15"><a onclick="messageReply();" href="javascript:;">立即添加</a></li>
	            </ul>
            #else
	            <div class="ml15 mt40 clearfloat"><span class="fl fs16 c00 ">自动投标设置</span><span class="fr mr50 anniu-green">
	             <a onclick="messageReply();" href="javascript:;">继续添加</a></span></div>
	             #foreach($!investSet in $!listInvestSet.data) 
	            <ul class="clearfloat ml15 mt10" style="line-height:28px;">
	                <li class="fl c00">
	                	<div><span class="c99">项目金额:</span>
	                	$!{investSet.minMoney}~$!{investSet.maxMoney}元</div>
	                    <div class="mt20"><span class="c99">借款期限:</span>$!{investSet.minLoanPeriod}~$!{investSet.maxLoanPeriod}个月</div>
	                </li>
	                <li class="fl c00 ml50">
	                	<div><span class="c99">标类型:</span>$!investSet.loanCategory.prompt</div>
	                    <div class="mt20"><span class="c99">还款方式:</span>$!investSet.loanType.prompt</div>
	                </li>
	                <li class="fl c00 ml50">
	                	<div><span class="c99">年利率:</span>$!{investSet.minRate}%~$!{investSet.maxRate}%</div>
	                    <div class="mt20"><span class="c99">每笔最高投资金额:</span>$!investSet.investMoney元</div>
	                </li>
	                <li class="fr c00 mr50">
	                	#if($!investSet.isOpen.state==0)
	                		<div class="riqi-current"><a href="javascript:;" onclick="openOrClose('$!investSet.id','open')">开启</a></div>
	                	#elseif($!investSet.isOpen.state==1)
	                		<div class="riqi-current"><a href="javascript:;" onclick="openOrClose('$!investSet.id','close')">关闭</a></div>
	                	#end
	                	<div class="riqi-current1 mt20"><a href="javascript:;" onclick="deleteInvestSet('$!investSet.id')">删除</a></div>
	                </li>
	            </ul>
	            #end
            #end
            <!--wenzishuoming end-->
            <!--wenzishuoming end-->
        </li>
   <!--右侧菜单 end-->
   </ul>
</div>

<!--footer-->
$control.setTemplate("common/foot.vm")
<!--footer end-->
$control.setTemplate("common/customservice.vm")
<script>
	$(function(){
		Huifold("#Huifold1 .item h4","#Huifold1 .item .info","fast",2,"click");	
	})
</script>

<script src="/Js/index.js"></script>
<!--信息回复框内容-->
<div id="messageReplyContent" class="hidden"  style="display:none;">
<form id="autoinvest">
	<ul class="ml40 mr40">
    	<li class="clearfloat pl20 mt10">
        	<div>项目金额</div>
            <ul class="clearfloat">
                <li class="fl"><input class="tb-input" type="text" name="minMoney" id="minMoney" placeholder="请输入金额"></li>
                <li class="fl ml5">-</li>
                <li class="fl ml5"><input class="tb-input" type="text" name="maxMoney"  id="maxMoney" placeholder="请输入金额"></li>
            </ul>
        </li>
    	<li class="clearfloat pl20 mt5">
        	<div>标类型：</div>
            <div class="clearfloat">
                <select class="zhkh-select" name="loanCategory" id="loanCategory">
                	#if($!loanCategoryList)
                		#foreach($!loanCategory in $!loanCategoryList)
                		 <option value="$!loanCategory.category">$!loanCategory.prompt</option>
                		#end
                	#end
                </select>
            </div>
        </li>
    	<li class="clearfloat pl20 mt5">
        	<div>年利率：</div>
            <ul class="clearfloat">
                <li class="fl"><input class="tb-input" type="text" name="minRate" id="minRate" placeholder="请输入年利率"></li>
                <li class="fl ml5">-</li>
                <li class="fl ml5"><input class="tb-input" type="text" name="maxRate" id="maxRate" placeholder="请输入年利率"> %</li>
                <li class="fl ml10 c99 pt3">注意：年利率必须在12%~15%之间</li>
            </ul>
        </li>
    	<li class="clearfloat pl20 mt5">
        	<div>借款期限：</div>
            <ul class="clearfloat">
                <li class="fl"><input class="tb-input" type="text" name="minLoanPeriod" id="minLoanPeriod" placeholder="请输入借款期限"></li>
                <li class="fl ml5">-</li>
                <li class="fl ml5"><input class="tb-input" type="text" name="maxLoanPeriod" id="maxLoanPeriod" placeholder="请输入借款期限">月</li>
            </ul>
        </li>
    	<li class="clearfloat pl20 mt5">
        	<div>还款方式：</div>
            <div class="clearfloat">
                <select class="zhkh-select" name="loanType" id="loanType">
                	#if($!loanPayTypeList)
                		#foreach($!loanPayType in $!loanPayTypeList)
                			<option value="$!loanPayType.type">$!loanPayType.prompt</option>
                		#end
                	#end
                </select>
            </div>
        </li>
    	<li class="clearfloat pl20 mt5">
        	<div>每笔最高投资金额：</div>
            <ul class="clearfloat">
				<li class="fl"><input class="jbxx-input" type="text" name="investMoney" id="investMoney" placeholder="请输入金额"> 元</li>
                <li class="fl c99 ml10 pt3">注意:当账户的可投资金额大于该金额时，自动投标才会生效</li>
            </ul>
        </li>
    	<li class="clearfloat pl20 mt5">
        	<div>账户保留余额：</div>
            <ul class="clearfloat">
				<li class="fl"><input class="jbxx-input" type="text" name="settMoney" id="settMoney" placeholder="请输入金额"> 元</li>
                <li class="fl c99 ml10 pt3">注意:设置投资过后的账户保留余额</li>
            </ul>
        </li>
        
        
        <li class="chongzhi-anniu mt10"><a href="javascript:;" onclick="AutomaticBid();" class="ml20">确定</a><a href="javascript:;" id="closebtn" class="ml10">取消</a></li>
	</ul>
  </form>
</div>

<!--信息回复框内容 end-->
<script>
	//信息回复
	function messageReply(){
		var pageii =$.layer({
		    type: 1,
		    title: "设置自动投标",
		    area: ['750px', '500px'],
		    border: [6, 0.3, '#000'], //去掉默认边框
		    shift: 'top', //从左动画弹出
		    page: {
		        dom: '#messageReplyContent'
			}
		});
		
		//自设关闭
		$('#closebtn').on('click', function(){
		    	layer.close(pageii);
		}); 
	}
	
	//项目金额
	function minMoneyORmaxMoneyCheck(){
		var minMoney= $('#minMoney').val();
		var maxMoney= $('#maxMoney').val();
		var exp = /^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$/;
		if(minMoney==null || minMoney==""){
			layer.alert("最小借款金额不能为空!");
			return false;
		}else if(!exp.test(minMoney)){
			layer.alert("最小借款金额必须为大于等于零的数字,最多保留2位有效数字!");
			return false;
		}else if(maxMoney==null || maxMoney==""){
			layer.alert("最大借款金额不能为空!");
			return false;
		}else if(!exp.test(maxMoney)){
			layer.alert("最大借款金额必须为大于等于零的数字,最多保留2位有效数字!");
			return false;
		}else if(parseFloat(minMoney) - parseFloat(maxMoney)>=0){
			layer.alert("最小借款金额必须小于最大借款金额!");
			return false;
		}else{
			return true;
		}
	}
	//年利率
	function minRateORmaxRate(){
		var minRate=$('#minRate').val();
		var maxRate=$('#maxRate').val();
		var exp = /^([1-9][\d]{0,7}|0)(\.[\d]{1,2})?$/;
		if(minRate==null || minRate==""){
			layer.alert("最小年化利率不能为空!");
			return false;
		}else if(!exp.test(minRate)){
			layer.alert("最小年化利率必须为大于等于零的数字,最多保留2位有效数字!");
			return false;
		}else if(maxRate==null || maxRate==""){
			layer.alert("最大年化利率不能为空!");
			return false;
		}else if(!exp.test(maxRate)){
			layer.alert("最大年化利率必须为大于等于零的数字,最多保留2位有效数字!");
			return false;
		}else if(parseFloat(minRate)<12 || parseFloat(maxRate)>15 || (parseFloat(minRate) - parseFloat(maxRate)>=0)){
			layer.alert("年利率必须在12%~15%之间!");
			return false;
		}
		return true;
	}
	//借款期限
	function minLoanPeriodORmaxLoanPeriod(){
		var minLoanPeriod=$('#minLoanPeriod').val();
		var maxLoanPeriod=$('#maxLoanPeriod').val();
		// 验证非零的正整数：
		var exp = /^\+?[1-9][0-9]*$/;
		if(minLoanPeriod==null || minLoanPeriod==""){
			layer.alert("最小借款期限不能为空!");
			return false;
		}else if(maxLoanPeriod==null || maxLoanPeriod==""){
			layer.alert("最大借款期限不能为空!");
			return false;
		}else if(!exp.test(minLoanPeriod) && !exp.test(maxLoanPeriod)){
			layer.alert("借款期限必须为整数!");
			return false;
		}
		
		/*else if(parseFloat(minLoanPeriod)<1 || parseFloat(maxLoanPeriod)>12 || (parseFloat(minLoanPeriod) - parseFloat(maxLoanPeriod)>=0)){
			layer.alert("借款期限必须在1~12之间!");
			return false;
		}*/
		return true;
	}
	//每笔最高投资金额
	function investMoney(){
		var investMoney=$('#investMoney').val(); 
		var exp = /^([1-9][\d]{0,7})(\.[\d]{1,2})?$/;
		if(investMoney==null || investMoney==""){
			layer.alert("每笔最高投资金额不能为空!");
			return false;
		}else if(!exp.test(investMoney)){
			layer.alert("每笔最高投资金额必须为大于零的数字,最多保留2位有效数字!");
			return false;
		}
		return true;
	}
	//账户保留余额
	function settMoney(){
		var settMoney=$('#settMoney').val();
		var exp = /^([1-9][\d]{0,7})(\.[\d]{1,2})?$/;
		if(settMoney==null || settMoney==""){
			layer.alert("账户保留余额不能为空!");
			return false;
		}else if(!exp.test(settMoney)){
			layer.alert("账户保留余额必须为大于零的数字,最多保留2位有效数字!");
			return false;
		}
		return true;
	}
	//校验
	function Check(){
		if(minMoneyORmaxMoneyCheck() && minRateORmaxRate() && minLoanPeriodORmaxLoanPeriod() && investMoney() && settMoney()){
			return true;
		}else{
			return false;
		}
	}
	
	//设置自动投标
	function AutomaticBid(){
		if(Check()){
			layer.load('设置中...',2);
			$.ajax({
	         	url:'/account/myInvest/json/setInvestAuto.json?flag=1',
	             type:'post',
	             async:false,  
	           	 data:$('#autoinvest').serialize(),
	             success: function(data){
			                if(data.success){
			                	 window.location.href="/account/myInvest/investAuto";       			                   	 	
			                }else {
			                	layer.alert("添加自动投标失败 !");          	
			                 }
	        		 },
	             error : function(){
	            	 layer.alert("通信异常！");
	             }
	     });
		}		
	}
	//删除
	function deleteInvestSet(id){
		$.ajax({
         	url:'/account/myInvest/json/setInvestAuto.json?flag=2',
             type:'post',     
           	 data:{"id":id},
             success: function(data){
		                if(data.success){
		                	 layer.alert("删除自动投标成功!",9,function(){
		         		    		window.location.href="/account/myInvest/investAuto";
		         		    		});
		                }else {
		                	layer.alert("删除自动投标失败!");             	
		                 }
        		 },
             error : function(){
            	 layer.alert("通信异常！");
             }
     });
	}
	//开启 or 关闭
	function openOrClose(id,action){
		$.ajax({
         	url:'/account/myInvest/json/setInvestAuto.json?flag=3',
             type:'post',    
           	 data:{"id":id,"action":action},
             success: function(data){
		                if(data.success){
		                	 if(action=='open'){
		                		 layer.alert("开启自动投标成功!",9,function(){
		         		    		window.location.href="/account/myInvest/investAuto";
		         		    		});
		                	 }else if(action=='close'){
		                		 layer.alert("关闭自动投标成功!",9,function(){
			         		    		window.location.href="/account/myInvest/investAuto";
			         		    		});
		                	 }     			                   	 	
		                }else {
		                	 if(action='open'){
		                		 layer.alert("开启自动投标失败!");
		                	 }else if(action='close'){
		                		 layer.alert("关闭自动投标失败!");
		                	 }             	
		                 }
        		 },
             error : function(){
            	 layer.alert("通信异常！");
             }
     });
	}
</script>