@charset "utf-8";
*{margin:0;padding:0;list-style-type:none;}
a,img{border:0;}

.pic_con{width:auto;;margin:0 auto;position:relative}
.pic_lists{float:left;width:8888px;height:106px;overflow:hidden;position:absolute;top:0px;left:0px}
.btn_change{width:40px;height:60px;position:absolute;text-indent:-9999px;cursor:pointer}
.left_btn{background:url(/Images/leftstop.jpg) no-repeat;top:35px;left:8px}
.right_btn{background:url(/Images/rightstart.jpg) no-repeat;top:35px;right:0px}

.pic_content{overflow:hidden;height:90px;loat:left;width:850px;padding:10px;position:relative;margin:50px auto 0px}
.pic_content ul li{float:left;width:150px;height:100px;padding:3px;background:#9CC;text-align:center;margin:0 0 0 10px;position:relative}
.pic_content ul li p{height:24px;background:#333;line-height:24px;color:#fff;width:151px;position:absolute;bottom:2px;left:2px;text-align:center;display:none}
.pic_content ul li a img{width:150px;height:100px}

.highlight_tip{width:50%;position:relative;margin:0 auto;top: -15px;left: 20%;}
.highlight_tip span{height:24px;padding:5px;line-height:24px;float:left;margin:0 2px;cursor:pointer}
.highlight_tip span.current{height:18px;width:18px;line-height:18px;background:#9CC;text-align:center}