<!--首页头部-->
#if($!fromKind!='shouji')
<nav id="nav" class="nav" style="background:#DDDDDD">
    <a class="navbar-brand nabar_color"  href="/invest/MyInvest?loanId=$!{loanId}&flagLoan=$!{flagLoan}"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
    <div class="clearfix index_suo text-center"><span>债权转让协议</span></div>
</nav>	
#end
<!--首页头部 end-->
<div class="container" style="overflow-x:hidden;background:#DDDDDD">
    <div class="row bg_white ">
        <div class="col-xs-12 col-sm-12">
            <ul class="list-unstyled baifen2">
                <li class="text-center"><h4>债权转让协议</h4></li>
                <li class="text-right">合同编号：121212</li>
                <li>甲方（出让人）：</li>
                <li>身份证号：</li>
                <li>【  】平台用户名：</li>
                <li>乙方（受让人）：</li>
                <li>身份证号：</li>
                <li>【  】平台用户名：</li>
                <li>丙方（居间服务方）：</li>
                <li>营业执照注册号：</li>
                <li>鉴于：</li>
            </ul>
            <p class="baifen2" style="text-indent: 2em;">1、丙方是一家在北京市合法成立并有效存续的有限责任公司，拥有【  】网贷平台（网址：            ，以下简称“【  】平台”）的经营权，为债权转让双方提供信息咨询管理等居间服务。</p>
            <p class="baifen2">2、甲方作为出借人于【     】年【  】月【  】日与借款人【             】签订了编号为【      】的《            》（以下称“基础合同”）。甲方基于基础合同形成的债权，以下简称“基础债权”。本协议中的“债权转让”是指甲方根据本协议规定的条款和条件将基础合同项下的全部或部分债权及其在该债权项下的全部权利和义务一并转让给乙方的行为。</p>
            <p class="baifen2">3、甲方自愿通过【  】平台将其在基础合同项下的全部或部分债权进行转让，乙方愿意受让并同意接受基础合同之全部条款，并受基础合同之约束。</p>
            <p class="baifen2">甲乙双方就甲方通过【  】平台向乙方转让其合法享有的债权的相关事宜，经协商一致，达成本协议，以资共同信守。</p>
            <ul class="list-unstyled baifen2">
                <li class="text-center"><h5>一、债权基本信息</h5></li>
                <li>第一条 甲方合法持有下列基础债权：</li>
                <li class="mt10">
                    <table cellpadding="0" cellspacing="0" class="hetong_tab">
                        <tr>
                            <td rowspan="2" class="text-center">基础合同</td>
                            <td>名称：</td>
                        </tr>
                        <tr>

                            <td>编号：</td>
                        </tr>
                        <tr>
                            <td class="text-center">借款人</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-center">出借人</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="text-center">借款本金</td>
                            <td>大写：</td>
                        </tr>
                        <tr>

                            <td>小写：</td>
                        </tr>
                        <tr>
                            <td class="text-center">借款期限</td>
                            <td>自     年   月   日至     年   月   日</td>
                        </tr>
                        <tr>
                            <td class="text-center">起息日</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-center">还款方式</td>
                            <td></td>
                        </tr>
                    </table>
                </li>
                <li>第二条 本协议项下，甲方向乙方转让的债权（以下简称“标的债权”）信息如下：</li>
                <li class="mt10">
                    <table cellpadding="0" cellspacing="0" class="hetong_tab">
                        <tr>
                            <td class="text-center">标的债权本金</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-center">乙方债权受让价款</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="text-center">预期年化收益率</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td rowspan="5" class="text-center">乙方收款明细</td>
                            <td>
                                <table  cellpadding="0" cellspacing="0" class="hetong_tab" style="border: none!important;">
                                    <tr>
                                        <td rowspan="2">期数</td>
                                        <td rowspan="2">收款日</td>
                                        <td colspan="2" class="text-center">当期应收金额（元)</td>


                                    </tr>
                                    <tr>


                                        <td>当期应收金额（元</td>
                                        <td>当期应收金额（元</td>

                                    </tr>
                                    <tr>

                                        <td>第一期</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                    <tr>

                                        <td>第二期</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                    <tr>

                                        <td>第三期</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>

                                    </tr>
                                    </table>

                                </table>
                            </td>
                        </tr>

                    </table>
                </li>
            </ul>
            <p class="baifen2">注：前述预期年化收益率、收款日、当期应收金额仅供参考，不代表甲方或丙方的任何承诺，具体日期及金额以实际收款日期及收款金额为准。</p>

            <p class="baifen2"><h5 class="text-center">二、债权的转让</h5></p>
            <p class="baifen2">第三条 鉴于甲方已通过【  】平台提出债权转让的要约，在乙方通过【  】平台进行相关操作接受本协议后，本协议立即生效。乙方不可撤销地授权并委托丙方或丙方委托的第三方支付机构冻结乙方在与丙方合作的第三方支付机构开设的资金托管账户（以下简称“乙方账户”）内等同于乙方债权受让价款的资金。</p>
            <p class="baifen2">第四条 在【  】平台公示的该债权转让项目满标时,乙方不可撤销地授权并委托丙方或丙方委托的第三方支付机构将上述冻结的款项从乙方账户划转至甲方在与丙方合作的第三方支付机构开设的资金托管账户（以下简称“甲方账户”），划转完毕视为乙方债权受让价款支付成功。债权转让项目满标是指甲方发布的债权出让需求全部得到满足且对应的资金已经全部冻结。</p>
            <p class="baifen2">第五条 如债权转让项目在丙方设定的期限内未满标的，则本协议项下标的债权转让不成功，本协议自动终止。已经冻结的乙方受让标的债权的资金，自本协议终止之日起【   】个工作日内解冻。</p>
            <p class="baifen2">第六条 甲乙双方一致同意，乙方向甲方支付债权受让款之日为债权转让生效日，标的债权由甲方转移至乙方，乙方将在其标的债权份额内取代甲方成为新的债权人，享有所有有关标的债权的权利、利益和收益以及与上述相关的任何其他权利、诉求和利益。</p>
            <p class="baifen2">第七条 乙方同意并确认，自乙方签订本协议之日至债权转让生效日期间，甲方和丙方不向乙方支付资金占用费。</p>
            <p class="baifen2">第八条 除本协议的附件外，债权转让成功后，本协议项下的相关信息的更新将由甲方通过丙方或【  】平台通知乙方。</p>
            <p class="baifen2"><h5 class="text-center">三、债权转让通知</h5></p>
            <p class="baifen2">第九条 甲方应将标的债权转让相关事宜书面通知借款人、担保方（如有）。</p>
            <p class="baifen2"><h5 class="text-center">四、债权管理</h5></p>
            <p class="baifen2">第十条 乙方委托甲方，自债权转让生效日起，对标的债权进行管理，包括但不限于对债权及借款人资金使用情况进行监控；对债权进行催收及清收；在借款人违约的情况下宣布终止基础合同并要求借款人提前清偿；收回和处置担保物；判断是否对借款人提起诉讼；保存基础债权相关文件等。</p>
            <p class="baifen2">第十一条 如为管理债权所需且经甲方要求，乙方应向甲方另行出具适当的委托授权文件及其他必要的资料，以便利甲方执行上述委托事项。乙方同意并确认，甲方按照本协议约定代为履行债权管理、债权催收、要求借款人提前还款、参与诉讼及类似程序的全部结果应归于乙方。</p>
            <p class="baifen2">第十二条 债权逾期后，甲方向借款人催收。在任何本息逾期的情况下，甲方根据本协议项下乙方的授权，有权代表乙方宣布债权提前到期，要求借款人提前清偿全部债务，乙方授权甲方代为收取借款人清偿的全部款项。</p>
            <p class="baifen2">第十三条 乙方知晓并认可，尽管甲方提供债权管理服务，但仍有可能因为借款人的违约或破产使得债权无法全部得到清偿，乙方应自行承担标的债权相应的本金及收益无法收回的风险。</p>
            <p class="baifen2">第十四条 甲方对其向乙方提供的管理服务向乙方收取服务费，服务费为甲方代为向借款人收取的款项扣除向乙方支付的款项的剩余部分。</p>
            <p class="baifen2">第十五条 乙方撤销对甲方的委托管理的，需书面通知甲方。双方一致同意，该等委托管理的撤销不减免甲方向乙方收取的服务费金额。</p>
            <p class="baifen2"><h5 class="text-center">五、还款</h5></p>
            <p class="baifen2"> 第十六条 自债权转让生效日起，根据乙方受让的债权，借款人对乙方负有相应的还款的义务。</p>
            <p class="baifen2">第十七条 借款人根据基础合同的约定还款，在基础合同项下还款日24点前，借款人将当期应支付的还款资金支付至甲方指定的账户中，视为基础合同项下还款资金正常支付。</p>
            <p class="baifen2">第十八条 乙方在此委托并授权甲方在借款人正常付款的情况下，代为收取并保管借款人支付的相关款项，并于乙方收款日向乙方支付等同于乙方当期应收金额的资金。</p>
            <p class="baifen2">第十九条 在债权期限内，借款人提前还款的，乙方授权甲方决定是否同意接受提前还款并代为收取提前还款的全部款项。若甲方同意借款人提前还款的，届时甲方应至少在提前到期日前【  】个工作日通知乙方债权的提前到期日期，并在债权提前到期后【   】个工作日内依据乙方实际持有债权的期限、按照预期年化收益率向乙方支付乙方应收取的款项。</p>
            <p class="baifen2">第二十条 债权逾期后，甲方需履行管理职能，向借款人催收。在任何一期债权逾期的情况下，甲方根据本协议项下乙方的授权，有权代表乙方宣布债权提前到期，要求借款人提前清偿全部债务，乙方授权甲方代为收取借款人清偿的全部款项。届时甲方应至少在提前到期日前【  】个工作日通知乙方债权提前到期日期，并在收取借款人支付的款项后的【  】个工作日内依据乙方实际持有债权的期限、按照预期年化收益率向乙方支付乙方应收取的款项。</p>
            <p class="baifen2">第二十一条 若借款人逾期还款的，在甲方已经收取的款项不足以偿付全部受让人的全部债权的情况下，乙方同意甲方在收到借款人支付的每一笔款项后，按照乙方受让的标的债权占基础债权的比例支付给乙方。</p>
            <p class="baifen2">第二十二条  由于第三方支付机构操作时间限制或其他原因，甲方向乙方支付代收款项的日期与资金到达乙方账户的日期可能不一致，乙方同意，甲方对此不承担任何责任。</p>
            <p class="baifen2"><h5 class="text-center">六、债权回购</h5></p>
            <p class="baifen2">第二十三条 如发生下列任一条件时，甲方应回购乙方通过本协议受让的标的债权：</p>
            <p class="baifen2">
                1、借款人未按照基础合同之约定按时足额支付还款资金的；<br/>
                2、本协议项下的债权提前到期的；<br/>
                3、因借款人或任何第三人对转让的债权提出异议或其他任何原因致使借款人对本协议项下债权的偿还提出异议，进而拒付或少付还款款项的；<br/>
                4、甲方与借款人或与其他债务人发生任何纠纷等，导致借款人未能在基础合同规定的期限内向乙方支付全部应还款项的；<br/>
                5、甲方或借款人提供虚假资料、故意隐瞒重要事实或违反其在本协议、基础合同中所做的陈述和保证；<br/>
                6、甲方或借款人转移资产、抽逃资金，或卷入或即将卷入重大的诉讼或仲裁程序；<br/>
                7、其他法律纠纷，或出现甲方或借款人丧失或可能丧失履行债务能力的其他情形；<br/>
                8、其他影响乙方实现受让的债权相应权利的事项发生的。</p>
            <p class="baifen2">第二十四条 回购条件成就时，债权回购的价格为根据乙方实际持有标的债权的期限计算的、乙方尚未收回的款项。</p>
            <p class="baifen2">第二十五条 甲乙双方一致同意并确认，甲方向乙方回购债权的，甲乙双方无需另行签署债权回购协议，自甲方向乙方支付债权回购款项之日起，相应的债权即自动转让给甲方，借款人对甲方负有清偿债务的义务。</p>
            <p class="baifen2"><h5 class="text-center">七、陈述和保证</h5></p>
            <p class="baifen2">第二十六条 甲方作出如下陈述和保证</p>
            <p class="baifen2">
                1．甲方具有相应的民事权利能力和民事行为能力签署并履行本协议。<br/>
                2．本协议的各条款均是甲方的真实意思表示，且基础合同履行正常。债权对应的借款本息属尚未到期且借款人尚未支付的借款本息，该等债权属甲方合法所有，甲方对其享有独立、完整的权利。<br/>
                3．甲方承诺，甲方不会对已转让给乙方的债权进行重复转让。甲方对拟转让给乙方的债权享有全部权利，该债权既未被用作任何形式的担保或被设置其他任何权利负担，也未被转让给任何第三人。<br/>
                4．甲方保证其与借款人签订的基础合同中不含有禁止甲方向第三方转让全部或部分债权的约定。<br/>
                5．甲方保证已将其知道的影响或可能影响乙方签署及履行本协议的事实向乙方进行了披露。甲方将及时告知乙方任何其知道的影响或可能影响乙方在本协议项下权益的信息。<br/>
                6．如在债权转让生效日前，因任何原因导致债权无法转让的，甲方有权宣布债权转让不成功。债权转让不成功的，甲方将指示丙方在甲方宣布转让不成功之日起【   】个工作日内解除乙方账户内的资金冻结。</p>
            <p class="baifen2">
                第二十七条 乙方作出如下陈述和保证</p>
            <p class="baifen2">1．乙方具有完全的民事权利能力和民事行为能力签署并履行本协议。<br/>
                2．自债权转让生效日起，乙方享有与其所受让的债权相关的一切权利，包括收取基础合同项下借款人支付的还款资金、违约金等。<br/>
                3．乙方通过【  】平台或丙方委托的第三方支付机构向甲方支付的债权转让款的资金来源均合法，如任何其他第三方与乙方就资金合法性及归属问题发生争议，由乙方自行解决，若因此给甲方或丙方造成损失的，应予赔偿。<br/>
                4．未经甲方或丙方事先书面同意，乙方不得单方面终止本协议项下债权的受让。<br/>
                5．乙方可根据【  】平台的规则，将本协议项下的全部债权再次向第三方转让，但该第三方必须为【  】平台的注册用户。<br/>
                6．在签署本协议前，已经详细了解了债权的相关情况以及【  】平台的有关业务规则和交易说明，对债权可能存在的风险以及受让该等债权后的所有权利、义务有了充分、全面的认识，清楚知悉其中的投资风险，经独立、审慎判断后做出投资决定。本协议的各条款均是乙方真实意思的表示，乙方自愿签署本协议并承担投资风险。</p>
            <p class="baifen2"><h5 class="text-center">八、违约责任</h5></p>
            <p class="baifen2">第二十八条 如甲乙任何一方违反其在本协议中所作的保证、承诺或未完全履行其在本协议项下的义务，即视为违约，因此给另一方或丙方造成损失的，违约方应予赔偿并应支付包括但不限于另一方或丙方为实现权利支付的律师费、诉讼费、公证费、鉴定费等费用。</p>
            <p class="baifen2"><h5 class="text-center">九、保密条款</h5></p>
            <p class="baifen2">第二十九条 本协议签署后，除非事先得到另两方的书面同意，本协议甲乙双方均应承担以下保密义务：</p>
            <p class="baifen2">
                1．任何一方（丙方除外）不得向本协议以外的第三方披露本协议以及本协议项下的事宜以及与此等事宜有关的任何文件、资料或信息(“保密信息”)；<br/>
                2．任何一方只能将保密信息和其内容用于本协议项下的目的，不得用于任何其他目的。本款的约定不适用于下列信息：<br/>
                &nbsp;&nbsp;（1）从披露方获得时，已是公开的；<br/>
                &nbsp;&nbsp;（2）从披露方获得前，接收方已经获知的；<br/>
                &nbsp;&nbsp;（3）从有正当权限并不受保密义务制约的第三方获得的；<br/>
                &nbsp;&nbsp; （4）非依靠披露方披露或提供的信息独自开发的。</p>
            <p class="baifen2">第三十条 本协议甲乙双方因下列原因披露保密信息，不受前述规定的限制：</p>
            <p class="baifen2">1．向双方的董事、监事、高级管理人员和雇员及其聘请的会计师、律师、咨询公司披露；<br/>
                2．因遵循可适用的法律、法规的强制性规定而披露；<br/>
                3．依据其他应遵守的法规向审批机构和/或权力机构进行的披露。</p>
            <p class="baifen2">第三十一条 乙方同意，丙方有权出于为乙方提供服务的目的视情况向其他任何丙方认为必要的业务合作机构披露本协议、乙方资料、保密信息等资料和信息。丙方承诺要求相关合作机构对丙方披露的信息履行保密义务。</p>
            <p class="baifen2">第三十二条 当借款人未能按时足额履行还款义务时，或甲方或乙方未能按相关协议约定履行相关义务时，丙方有权在丙方认为适当的场合披露相应责任方的信息，包括但不限于名称、地址及相关事实等。</p>
            <p class="baifen2">第三十三条 甲方、乙方提供给丙方的信息及甲方、乙方接受丙方服务产生的相关信息（包括本协议签署之前提供和产生的），归丙方所有。</p>
            <p class="baifen2">第三十四条 甲乙双方同意并承诺，甲乙双方中一方向另一方提供信息时均应同时将信息提供给丙方。甲乙双方授权丙方根据甲乙任意一方的合理要求向其提供另一方向丙方提供的相关信息。 </p>
            <p class="baifen2">第三十五条 各方应促使其向之披露保密信息的人严格遵守本协议的约定。</p>
            <p class="baifen2">第三十六条 本协议项下的保密义务在本协议终止后持续有效。</p>
            <p class="baifen2"><h5 class="text-center">十、法律适用和争议解决</h5></p>
            <p class="baifen2">第三十七条 本协议的签订、履行、终止和解释均适用中华人民共和国法律。各方同意并确认，因本协议所产生的或与本协议有关的一切争议，由各方协商解决，协商不成的，由丙方所在地人民法院管辖。在诉讼期间，本协议不涉及争议的部分且可实际履行的条款仍须继续履行。</p>

            <p class="baifen2"><h5 class="text-center">十一、其他</h5></p>
            <p class="baifen2">第三十八条 甲乙各方应自行承担由于订立和履行本协议产生的相关税费。</p>
            <p class="baifen2">第三十九条 如任何一方发生不可抗力事件，该方应立即以尽可能快捷的方式通知其他方，并在【  】日内提供证明文件说明有关事件的细节和不能履行或部分不能履行或需延迟履行本协议的原因。各方在协商一致的基础上决定是否延期履行本协议、终止本协议，并达成书面合意。不可抗力是指本协议各方不能合理控制、不可预见或预见亦无法避免的事件，该事件妨碍、影响或延误任何一方根据本合同履行其全部或部分义务。该事件包括但不限于（1）自然灾害，如台风、冰雹、地震、海啸、洪水、火山爆发、山体滑坡等；（2）政府行为，如征收、征用等；（3）社会异常事件，如战争、武装冲突、罢工、骚乱、暴动等。</p>
            <p class="baifen2">第四十条 甲乙双方同意并确认，甲方和乙方通过其【  】平台用户名采取的行为以及授权并委托丙方根据本协议所采取的全部行动和措施所产生的法律后果和法律责任归属于甲方和乙方本身，丙方不承担任何责任。</p>
            <p class="baifen2">第四十一条 各方确认，丙方是实现甲乙双方债权转让的居间方，丙方不是本协议项下的担保人，同时丙方也不承诺以其自有资金承担本协议项下的担保责任。</p>
            <p class="baifen2">第四十二条 本协议中部分条款根据相关法律法规等的规定被认定为无效时，该等无效不影响本协议项下其他条款的效力，本协议各方仍应履行本协议。</p>
            <p class="baifen2">第四十三条本协议项下乙方享有的权利是与受让的债权相关的权利，本协议并未给乙方创设区别于债权的新的权利。</p>
            <p class="baifen2">第四十四条 甲乙双方委托丙方保管所有与本协议有关的书面文件或电子信息；甲乙双方同意并确认由丙方提供的与本协议有关的书面文件或电子信息在无明显错误的情况下应作为本协议有关事项的终局证明。</p>
            <p class="baifen2">第四十五条 甲乙双方同意并确认，丙方有权就其为双方提供的服务按照【  】平台届时公布的收费公告（包括收费标准）或相关协议收取居间服务费等费用或款项。甲乙双方同意并授权丙方可以直接分别从甲方和乙方在与丙方合作的第三方支付机构开设的账户中的款项中划扣甲方、乙方应付给丙方的一切费用和款项。</p>
            <p class="baifen2">第四十六条 本协议中所使用的定义，除在上下文中另有定义外，应具有【  】平台公布的【  】网站定义或释义规则中定义的含义。</p>
            <p class="baifen2">您在确认投资之前，请仔细阅读上述《债权转让协议》，您通过点击确认的方式投资后，即代表您已阅读《债权转让协议》，并已完全理解和接受上述文件的全部内容。您的投资决策完全基于您本人的独立自主判断作出，并自愿承担受让相应债权所产生的相关风险和全部后果。</p>
            <ul class="list-unstyled baifen2 mt20">
                <li>甲方：</li>
                <li>乙方：</li>
                <li>丙方：</li>
                <li>签订日期：      年    月   日：</li>
                <li>身份证号：</li>
            </ul>
        </div>
    </div>
</div>